@using CMS.Mvc.ViewModels.Shared.SidebarComponents
@model InsightsAndResourcesWidgetViewModel
<div class="sidbarBoxC">
    <div class="hdr">Insights & Resources</div>
    <div class="twoCol">
        @foreach (InsightsAndResourcesBlockViewModel block in @Model.InsightsAndResourcesBlocks)
        {
            @Html.Partial("~/Views/Afton/Shared/Sidebar/_leftSideBlock.cshtml", block)
        }
    </div>
</div>
