@model CMS.Mvc.ViewModels.Shared.SidebarComponents.StayInformedViewModel
<div class="sidbarBoxC">
    @using (Html.BeginForm("SubmitEmail", "SideBarPage", FormMethod.Post))
    {
        <div class="hdr">Stay Informed</div>
        <div class="txt">@Model.Copy</div>
        <input type="text" placeholder="Email Address" class="txtBox" name="email">
        <input type="submit" value="Submit" class="submitBtn">
    }
</div>
