@using CMS.Mvc.ViewModels.Blogs
@model BlogsPageViewModel
@{
    ViewBag.Title = string.Empty;
    ViewBag.PersonalizationSectionTitle = "Insights & Resources";
    Layout = "~/Views/Afton/Shared/Master.cshtml";
}

<div id="newsC">
    <div id="newsHdr" class="padTop padBtm">
        @{ Html.RenderPartial("~/Views/Afton/Shared/NewsEventsAndBlog/_header.cshtml", Model); }
        @{ Html.RenderPartial("~/Views/Afton/Blogs/_selectors.cshtml", Model); }
    </div>
    @{ Html.RenderPartial("~/Views/Afton/Blogs/_dataList.cshtml", Model); }
</div>
@{ Html.RenderPartial("~/Views/Afton/Shared/NewsEventsAndBlog/_tiles.cshtml", Model); }
@{ Html.RenderAction("GetPeronalizedCards", "Personalization"); }