@model CMS.Mvc.ViewModels.Product.DownloadWidgetViewModel
<div id="prodHdrC">
    <img id="pLft" src="~/images/page-images/sample-prod-img.jpg">
    <div id="pRt">
        <h1>HiTEC<sup>&reg;</sup> 385: Gear Oil Additive</h1>
        <div id="pTxt">Premium Additive-Designed Lubricants for Use in Automotive Axles and Manual Transmissions</div>
        <div id="pCurrently">Currently available in: <span><a href="#">Asia Pacific</a></span><span><a href="#">EMEAI</a></span><span><a href="#">Latin America</a></span></div>
        <div id="downloadDocsC">
            <a href="#" class="downloadBtn">Download Product Data Sheet <span class="icon-download"></span></a>
            <div id="translate-doc">
                Translation Available: <a href="#" id="selDocLang">Select Language <span class="icon-arrow"></span></a>
                <ul id="langDocDropDown" style="display: none;">
                    <li id="langEnglish"><a href="#">English</a></li>
                    <li id="langChinese"><a href="#">简体中文</a></li>
                    <li id="langGerman"><a href="#">German</a></li>
                    <li id="langJapanese"><a href="#">日本語</a></li>
                    <li id="langRussian"><a href="#">Russian</a></li>
                    <li id="langSpanish"><a href="#">Español</a></li>
                    <li id="langPortugues"><a href="#">Português</a></li>
                    <li id="langFrench"><a href="#">French</a></li>
                </ul>
            </div>
        </div>
        <div id="socialC2">
            <a class="addthis_button_compact">
                <span class="icon-share"></span>
            </a>
            <a href="#"><span class="icon-print"></span></a>
        </div>
    </div>
</div>
