@model CMS.Mvc.ViewModels.Product.PassionWidgetViewModel
<div class="sidbarBoxC">
    <div class="hdr">Passion: Our Communities</div>
    <div class="twoCol">
        @Html.Partial("~/Views/Afton/Product/_leftSideBlock.cshtml", @Model.PassionBlock)
        @*<a href="#">
            <img src="~/images/page-images/sidebar-images/sidebar-res-passion.jpg">
            <div class="txtCol">
                <div class="sTxt">Bicycling for Multiple Sclerosis</div>
                <um>sundae culles aboritia aut acit volorum eumqui toratemquam.</um>
            </div>
        </a>*@
    </div>
</div>
