@model CMS.Mvc.ViewModels.Product.ProductViewModel
<div id="contentC">
    <div id="mainContentC">
        @Model.DefaultContent
       
    </div>
</div>
<!--<a href="#" class="viewAllBtn marginBtm noPrintDisplay">View All Additive Products</a>-->
