@model CMS.Mvc.ViewModels.Product.RelatedProductsViewModel
<div class="bgGray padTopBtm">
    <div class="fullWidth">
        <h2>Automotive Gear Products</h2>
    </div>
    <div class="cardsSM_C">
        <div class="cardsSM fourCol">
            @foreach (var product in @Model.Products.Take(4))
            {
                @Html.Partial("~/Views/Afton/Product/_relatedProductCard.cshtml", product)
            }

        </div>
    </div>
    <div class="fullWidth"><a href="#" class="viewAllBtn">@UtilsHelper.GetLocalizedString("product_relatedProducts_ViewAll")</a></div>
</div>
