@model CMS.Mvc.ViewModels.Product.StayInformedViewModel
<div class="sidbarBoxC">
    <div class="hdr">Stay Informed</div>
    <div class="txt">@Model.Text</div>
    <input type="text" placeholder="Email Address" class="txtBox">
    <input type="submit" value="Submit" class="submitBtn">
</div>
