
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Afton/Shared/Master.cshtml";
}

<h2>Index</h2>
@Html.ActionLink("translated link", "Index", "Auxiliary")

<a href="~/Auxiliary/Index?lang=es-ES">Spanish</a>
