@using CMS.Mvc.ViewModels.Home
@model HomeViewModel 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Afton/Shared/Master.cshtml";
}

Primary tiles:
@foreach (var item in Model.PrimaryTiles)
{
    <p>
        @item.Title
    </p>
}

