@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Afton/Shared/Master.cshtml";
}

<a href="@Url.Action("ClearCache")">Clear Cache</a>
<br/>
<a href="@Url.Action("ReloadRoutes")">Reload Routes</a>
