
@{
    ViewBag.Title = "Auxiliary";
}

<h1>Auxiliary links</h1>
<a href="@Url.Action("ClearCache")">Clear Cache</a>
<br />
<a href="@Url.Action("ReloadRoutes")">Reload Routes</a>
<br />
<a href="@Url.Action("Pdf")">Pdf</a>