<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{{Domain}}/css/normalize.min.css" />
    <link rel="stylesheet" href="{{Domain}}/fonts/fonts.css" />
    <link rel="stylesheet" href="{{Domain}}/css/style-guide.min.css" />
</head>
<body>
    <div id="sghC">
        <div id="sgh-lftC">
            <div id="sgh-mainC">
                <div id="sgh-hdr">{{SolutionTitle}} | {{SBUTitle}} </div>
                <div id="sgh-prodName">{{Title}}</div>
                <div id="sgh-prodDesc">{{Description}}</div>
                <img src="{{Domain}}{{CoverImage}}" alt="" />
                <div id="sgh-prodApplication">{{Application}}</div>
            </div>
            <img src="{{Domain}}/images/sg-logo.gif" id="sgh-rtLogo" />
        </div>
        <div id="sgh-rt">
            <img src="{{Domain}}/images/sgh-rt.gif" />
        </div>
    </div>
</body>
</html>