<!DOCTYPE html>
<html lang="en">
<head>
    <title>PDS</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/css/normalize.min.css" />
    <link rel="stylesheet" href="/fonts/fonts.css" />
    <link rel="stylesheet" href="/css/style-guide.min.css" />
</head>
<body>
    <div id="sghC">
        <div id="sgh-lftC">
            <div id="sgh-mainC">
                <div id="sgh-hdr">
                    <img src="{{MicrobotSolutionImage}}" alt="" />
                </div>
                <div id="sgh-prodName">{{Title}}</div>
                <div id="sgh-prodDesc">{{Description}}</div>
                <img src="{{CoverImage}}" alt="" />
                <div id="sgh-prodApplication">{{Application}}</div>
            </div>
            <img src="{{MicrobotRobotImage}}" id="sgh-lftLogo" alt="" />
            <img src="/images/sg-logo.gif" id="sgh-rtLogo" alt="" />
        </div>
        <div id="sgh-rt">
            <img src="/images/sgh-rt.gif" alt="" />
        </div>
    </div>
</body>
</html>