<html lang="en">
<head>
    <title>PDS</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" type="text/css" href="/fonts/fonts.css">
    <link rel="stylesheet" type="text/css" href="/css/style-guide.min.css">
</head>
<body>
    <!--
    <div id="sg-headerC">
            <div id="hdr-Text">
            <span id="main">{{SBUTitle}}</span>
            <span>|</span>
            <span id="sub">{{SolutionTitle}}</span>
        </div>
    </div>
    <div id="sg-mainC">
        <div id="sg-prodHdrC">
            <div id="sg-prodName">
                {{Title}}
                <span id="sg-prodDesc">{{Description}}</span>
            </div>
            <div id="sg-prodApplication">{{Application}}</div>
        </div>
        {{Content}}
        <div id="sg-footerC">
            <hr/>
            <div id="sg-footerTxt">
                {{FooterMessage}}
            </div>
            <img src="/images/sg-logo.gif" id="sg-footerLogo" alt="" />
        </div>
    </div>
    -->

    <table border="0" width="100%" cellpadding="0" cellspacing="0" style="background: #0c419a url(/images/header-gradient.jpg) repeat-y right; ">
        <tr>
            <td>
                <img src="{{CoverImage}}" alt="" width="162" height="70" id="sg-headerImg" />
            </td>
            <td width="100%" align="right" id="sg-headerTxt">
                <span id="sg-headerSBUTitle">|&nbsp;</span>
                <span id="sg-headerSolutionTitle">{{SolutionTitle}}</span>
            </td>
            <td width="25"></td>
        </tr>
    </table>

    <table border="0" width="100%" cellpadding="25" cellspacing="0">
        <tr>
            <td>

                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td id="sg-prodHdrC">

                            <div id="sg-prodName">
                                {{Title}}
                                <span id="sg-prodDesc">{{Description}}</span>
                            </div>
                            <div id="sg-prodApplication">{{Application}}</div>

                        </td>
                    </tr>
                </table>

                <table border="0" width="100%" cellpadding="0" cellspacing="0" id="sg-mainC">
                    <tr>
                        <td>{{Content}}</td>
                    </tr>
                </table>
                <br>

                <table width="100%" style="border-top: 1px solid #c4c4c4;">
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
                
                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="60%" valign="top" id="sg-footerC">
                            {{FooterMessage}}<br>
                            <br>
                            The information in this bulletin is, to our best knowledge, sure and accurate, but all recommendations or suggestions are made without guarantee since the conditions of useare beyond our control. Afton Chemical Corporation and its affiliates disclaim any liability incurred in connection with the use of these data or suggestions. Furthermore, nothing contained herein shall be construed as a recommendation to use any product in conflict with existing patents covering any material or its use.
                        </td>
                        <td align="right" valign="bottom">
                            <img src="/images/sg-logo.gif" id="sg-footerLogo" alt="" />
                        </td>
                    </tr>
                </table>


            </td>
        </tr>
     </table>

</body>
</html>