<!DOCTYPE html>
<html lang="en">
<head>
    <title>PDS</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" type="text/css" href="../../css/style-guide.min.css">
</head>
<body>
   
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td width="100%" valign="top">
                
                <table border="0" width="100%" cellpadding="0" cellspacing="0" id="sgh-contentTable">
                    <tr>
                        <td width="50%" valign="top">
                            <img src="/images/spacer.gif" width="20" height="750">
                        </td>
                        <td valign=top"" width="438">

                            <img src="{{MicrobotSolutionImage}}" alt="" />

                            <div id="sgh-prodName" >{{Title}}</div>
                                
                            <div id="sgh-prodDesc">{{Description}}</div>

                            <img src="{{CoverImage}}" alt="" id="sgh-covImg" />

                            <div id="sgh-prodApplication">{{Application}}</div>

                        </td>
                        <td width="50%"></td>
                    </tr>
                </table>

                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="left">
                            <img src="{{MicrobotRobotImage}}" alt="" />
                        </td>
                        <td width="10%" align="left">
                            <img src="/images/sg-logo.gif" alt="" />
                        </td>
                    </tr>
                </table>

            </td>
            <td valign="top" width="14" id="sgh-rt">
                <img src="/images/sgh-rt.gif" alt="" />
            </td>
        </tr>
    </table>

</body>
</html>