@model CMS.Mvc.ViewModels.GlobalSearch.GlobalSearchPageViewModel

<div id="searchHdr" class="padTop padBtm">
    <h1>@Model.Title</h1><br>@Model.ResultsCount @Model.ResultsForLabel <strong>"@Model.SearchTerm"</strong>
</div>