@using CMS.Mvc.Helpers
@model CMS.Mvc.ViewModels.GlobalSearch.GlobalSearchPageViewModel

<div id="searchHdr" class="padTop padBtm">
    <h1>@Model.Title</h1><br> 
    @if ( Model.ResultsCount > 0 ) { 
        @Model.ResultsCount@:&nbsp;@Model.ResultsForLabel <strong>"@Model.SearchTerm"</strong>
    }
    else
    {
        @UtilsHelper.ToHtmlString( Model.NoResultsLabel )
    }
</div>