<div id="document">
    <h1>@Model.Title</h1>
    <!--<div class="subTxt">@Model.Constant.PostedTimeLabel @Model.DocumentPublishFrom.ToString("M/d/yy | h:mm tt CST")</div>--><br>
   <div id="socialC2" class="noPrintDisplay">
        <a class="addthis_button_compact">
            <span class="icon-share"></span>
        </a>
        <a href="#">
            <span class="icon-print"></span>
        </a>
    </div>
</div>