
#footerC { background: #595959;
    
    footer { margin: 0px auto; padding-top: 20px; width: 1240px; height: 217px; background: url(../../images/footer-bg.gif) top center;
        
        #btmC { margin: 0px auto; width: 690px; overflow: auto;
            
            #btmLogoC { float: left; width: 210px;
                
                img {
                    
                    //*** Breakpoints ***
                    @include breakpoint($bp2) { height: 25px; } 
                    @include breakpoint($bp3) { height: auto; } 
                    
                }//img
                
                //*** Breakpoints ***
                @include breakpoint($bp2) { float: none; padding-bottom: 5px; } 
                @include breakpoint($bp3) { width: 100%; text-align: center; } 
                
            }//btmLogoC

            #btmNavLft { float: left; width: 160px;
                
                //*** Breakpoints ***
                @include breakpoint($bp3) { width: 100%; float: none; padding-bottom: 10px; text-align: center; } 
                
            }//btmNavLft
            
            #btmNavMid { float: left; width: 160px;
            
                //*** Breakpoints ***
                @include breakpoint($bp3) { width: 100%; float: none; padding-bottom: 10px; text-align: center; } 
                
            }//btmNavMid
            
            #btmNavRt { float: left; width: 160px;
            
                //*** Breakpoints ***
                @include breakpoint($bp3) { width: 100%; float: none; padding-bottom: 10px; text-align: center; } 
                
            }//btmNavRt
            
            a{ color: #FFF; text-decoration: none; font-weight: bold;
                
                &:hover { color: #CCC; }
                
            }//a
            
            ul { margin: 0px; padding: 5px 0px 0px 0px;
                
                li { padding-bottom: 5px; list-style: none; font-size: 12px;
                
                    a { font-weight: normal; }
                    
                    //*** Breakpoints ***
                    @include breakpoint($bp2) { padding-bottom: 3px; } 
                
                }//li
                
                //*** Breakpoints ***
                @include breakpoint($bp3) { display: none; } 
                
            }//ul
            
            //*** Breakpoints ***
            @include breakpoint($bp2) { width: 95%; } 
            
         }//btmC
        
        
        #btmContactBtn { text-align: center;
            
            a { padding: 10px 40px; display: inline-block; background: #4c9d2f; color: #FFF; text-decoration: none; }
            
            //*** Breakpoints ***
            @include breakpoint($bp3) { display: block!important; }
            
        }//btmContactBtn
        
        
        #disclaimer { margin: 0px auto; padding-top: 15px; width: 690px; color: #FFF; font-size: 10px; 
            
            .divider { padding: 0px 10px;
                
                //*** Breakpoints ***
                @include breakpoint($bp3) { display: none; }
                
            }//divider
            
            a { color: #FFF; text-decoration: none;
            
                &:hover { color: #CCC; }
                
                //*** Breakpoints ***
                @include breakpoint($bp3) { display: block; }
                
            }//a
            
            //*** Breakpoints ***
            @include breakpoint($bp2) { padding-top: 8px; width: 95%; }
            @include breakpoint($bp3) { text-align: center; }
            
        }//disclaimer
    
        //*** Breakpoints ***
        @include breakpoint($bp1) { width: 100%; } 
        @include breakpoint($bp2) { padding-top: 15px; } 
        @include breakpoint($bp3) { padding-top: 20px; height: 304px; background: url(../../images/footer-bg2.gif) top center; } 
        
    }//footer

}//footerC