body { padding-top: 165px;

    //*** Breakpoints ***
    @include breakpoint($bp1) { padding-top: 79px; }
} 

div, p, li { font: 16px/22px HelveticaNeueLTStd-Roman, Helvetica, Arial, Sans-Serif; color: #595959; }

h1 { margin: 0px; padding: 0px; color: #0c419a; font: 34px/40px HelveticaNeueLT-Thin; }

h2 { margin: 0px; padding: 0px 0px 5px 0px; color: #0c419a; font: 26px/30px HelveticaNeueLT-Thin; }

h3 { margin: 0px; padding: 0px 0px 5px 0px; color: #0c419a; font: 20px/24px HelveticaNeueLTStd-Roman; }

.subTxt { padding-top: 5px; font-family: HelveticaNeueLTStd-It; }

a { color: #4c9d2f; text-decoration: none; transition: 0.8s; }
a:hover { color: #247408; }

/* default anchor fix */
a.defAnchorTag { display: block; position: relative; top: -190px; visibility: hidden;
    
    @include breakpoint($bp1) { top: -100px; }
    
}

hr { border: 0px; border-top: 1px solid #000; }

p { margin-top: 0px; }


//Dotted background
.bgPattern { background: url(../../images/bg-dots.gif); }

//Gray background
.bgGray { background: #f1f0f0; }

//Shadow borders
.borders {  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2); }
.borders2 {  box-shadow: inset 0px 15px 15px -15px rgba(0,0,0,0.2); }

.borderTop { border-top: 1px solid #000; }

//padding
.padTopBtm { padding: 40px 0px; }

.padTop { padding-top: 40px; }

.padBtm { padding-bottom: 40px; }

.txtPaddingBtm { padding-bottom: 20px; }
  
.txtPaddingTop { padding-top: 20px!important; }

.txtPaddingBtm + .accordC.txtPaddingTop { padding-top: 0!important; }

.marginBtm { margin-bottom: 40px; }

.leadIn p { font-size: 16px; line-height: 22px; }

.viewAllBtn { display: block; padding: 20px 0px; border: solid #48a540 1px; text-align: center; font-size: 20px; text-decoration: none; color: #48a540;
    &:hover { background: #48a540; color: #FFF; }
}

.video-container { position:relative; padding-bottom:56.25%; padding-top:30px; height:0; overflow:hidden; }

.video-container iframe, .video-container object, .video-container embed { position:absolute; top:0; left:0; width:100%; height:100%; }


.empty-li {
    
    @include breakpoint($bp3) { display: none; }
    
}

.hs-form .hs-error-msgs {
    display:none !important;
}
.hs-form-field {
    width:100%;
}
.hs-form-field > label {
    margin-left:0;
}
.hs-form-required {
    margin-left:3px;
}
.hs-form fieldset {
    width:90%;
    max-width:100% !important;
}
.formC .hs-form fieldset,
.formC input {
    width: 100%;
}
.formC fieldset input {
    width:100% !important;
}
.hs-form fieldset .input {
    margin-right:0 !important;
}
.hs-form fieldset.form-columns-2 .field:first-child {
    padding-right:15px;
}
.hs-form fieldset.form-columns-2 .field + .field {
    padding-left:15px;
}
@media (max-width: 767px) {
    .hs-form fieldset.form-columns-2 .hs-form-field {
        width: 100% !important;
        padding: 0 !important;
    }
}
@media (max-width: 800px) {
    .hbspt-form .formC {
        width:100%;
    }
    .hs-form fieldset {
        width: 100%;
    }
}