#topHeaderC { position: fixed; top: 0px; width: 100%; z-index: 50;
    
    
    @import 'modules/_searchC';

    
    #topHeader { border-bottom: 1px solid #4c9d2f; background: #FFF;
    
        header{ position: relative; margin: 0px auto; min-height: 165px; width: 1260px; transition: 0.8s;
            
            #dLogo { position: absolute; top: 30px; left: 35px;
            
                //*** Breakpoints ***
                @include breakpoint($bp1) { width: 120px; top: 15px; left: 10px; }
                @include breakpoint($bp3) { display: none; }
                
            }//logoC
            
            #mLogo { position: absolute; top: 22px; left: 10px; z-index: 15;
            
                @include breakpoint($bp3) { display: block!important; }
                
            }//mLogo
            
            #mobileBtn { position: absolute; top: 27px; right: 10px; 
            
                //*** Breakpoints ***
                @include breakpoint($bp1) { display: block!important; }
                
            }//mobileBtn
            
            #mobileSearch { position: absolute; top: 25px; right: 54px; text-decoration: none; color: #0032a0; 
                
                .icon-search { font-size: 25px; }
                
                //*** Breakpoints ***
                @include breakpoint($bp1) { display: block!important;  }
                
            }//mobileSearch

            
            @import 'modules/_languageC';            
            
            @import 'modules/_utilityNavC';
            
            @import 'modules/_mainNavC';
            
            
            //*** Breakpoints ***
            @include breakpoint($bp1) { min-height: 78px; width: 100%; }
            
        }//header
    }//topHeader
    
    
    @import 'modules/_megaMenuC';
    
    
    
}//topHeaderC


@import 'modules/_stickyFooterC';