@import '_variables';

@media print {

    body { padding-top: 0px; }
    
    a { transition: 0.0s!important; }
    
    #topHeaderC { position: relative;
        
        #searchC { display: none; }
        
        #topHeader { height: 80px; width: 100%;
        
            header { width: 100%; margin: 0px;
            
                #languageC, #utilityNavC, #mainNavC, #mobileBtn, #mobileSearch, #mobileBtn { display: none!important; }
                
            }
        
        }//topHedear
        
    }//topHeaderC
    
    .cardsC .cards { max-width: 100%; }
    .cardsC .cards a { padding-bottom: 180px;
        @include gallery(4 of 12 break); 

    } 
    
    .headerImgC { display: none; }
    
    .cards2C .cards2 a { padding-bottom: 180px;
        @include gallery(4 of 12 break);
    }
    

}
    
//Print Page
body.printPage #stickyFooterC { display: none; }
body.printPage #contentAreaC { display: none; }
body.printPage #footerC { display: none; }

