@import '_variables';

body { padding-top: 165px; } 


a { transition: 0.8s; }

#topHeaderC { position: fixed; top: 0px; width: 100%; background: rgba(0, 0, 0, 0.5); z-index: 50;

    #topHeader { border-bottom: 1px solid #4c9d2f; background: #FFF;
    
        header{ position: relative; margin: 0px auto; min-height: 165px; width: 1260px;
            
            #logoC { position: absolute; top: 30px; left: 35px; }

            #languageC { position: absolute; top: 30px; right: 35px; width: 126px; padding-bottom: 5px; background: url(../../images/icon-earth.gif) no-repeat top right; 

                ul { margin: 0px; padding: 0px; }
                li { margin: 0px; padding: 0px; list-style: none; }

                a { display: block; color: #0c419a; text-decoration: none; font-size: 12px; text-transform: uppercase; }

                #selLang { margin: 6px 30px 3px 0px; padding-right: 19px; background: url(../../images/down-arrow.gif) no-repeat right 4px; text-align: right; }

                #langDropDown { position: relative; margin-left: 12px; width: 85px; background: #FFF; z-index: 10; text-align: right; box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);

                    a { font-size: 10px; padding: 5px 5px 5px 0px;

                        &:hover { background: #50a84a; color: #FFF; }
                    }

                }//#langDropDown 


            }//#languageC

            #utilityNavC { position: absolute; top: 73px; right: 35px;

                ul { margin: 0px; padding: 0px; }
                li { margin: 0px; padding: 0px; list-style: none; float: left; }

                a { padding-left: 18px; text-decoration: none; color: #0c419a; font-size: 14px; 
                    &:hover { color: #50a84a; }
                }//a

            }//#utilityNavC


            #mainNavC { position: absolute; top: 124px; left: 10px; width: 100%;

                ul { margin: 0px; padding: 0px; }
                li { margin: 0px; padding: 0px; list-style: none; float: left; width: 16.3%; }

                a { display: block; height: 41px; text-align: center; text-decoration: none; color: #0c419a; font-size: 16px; transition: 0.2s;

                    &:hover { color: #50a84a; border-bottom: 5px solid #50a84a; }

                }//a


            }//mainNavC
        
        }//header
    }//topHeader
    
    #megaMenuC { position: relative; width: 100%; background: #FFF;
        
        .megaMenu { position: relative; margin: 0px auto; width: 1260px; overflow: auto;
            .lftCol { float: left; margin: 12px 0px 0px 19px; width: 395px; 
            
                a.photoLink { padding: 15px; display: block; width: 360px; overflow: auto; 
                
                    img { float: left; margin-right: 12px; border: 1px solid #FFF; transition: 0.3s; }
                    
                    .photoLinkRt { float: left; width: 220px;
                    
                        .mHeader { padding-bottom: 3px; color: #0c419a; font-size: 16px; transition: 0.3s; }
                        
                        .mTxt { color: #595959; font-size: 11px; }
                        
                    }//photoLinkRt
                    
                    &:hover { background: #f6f7f6; }
                    &:hover img { border: 1px solid #48a540; }
                    &:hover .mHeader { color: #48a540; }
                    
                }//.photoLink
                
                #searchBox { border: 0px; margin-top: 15px; width: 318px; height: 30px; padding: 0px 35px 0px 16px; background: #eaeaea url(../../images/search-bg.gif) no-repeat 290px 6px; font-size: 11px; color: #0c419a; 
                }
                
            }//#lftCol
            
            .rtCol { float: left; width: 772px; margin: 12px 0px; min-height: 260px; border-left: 1px solid #48a540;
            
                .rtColHdr { padding: 14px 0px 5px 47px; color: #0c419a; font-size: 16px; }
                
                .rtColLinksC { padding-left: 32px;
                    
                    a.rtColLinks { display: block; float: left; width: 240px; padding: 15px; text-decoration: none; transition: 0.8s;

                        .linkHdr { color: #0c419a; font-size: 12px; transition: 0.3s; }
                        .linkTxt { color: #595959; font-size: 12px; }

                        &:hover { background: #f6f7f6; }
                        &:hover .linkHdr { color: #48a540; }

                    }//a.rtColLinks
                
                }//rtColLinksC
            
            }//rtCol
            
        }//megaMenu
        
    }//megaMenuC
    
}//topHeaderC


//@import '_pageTitles';
//*** Breakpoints ***
//@include breakpoint($bp3) { font-size: 10px; }


