#twoColumnC-sidebar.negMargin { margin-top: -70px;
    
    //*** Breakpoints ***
    @include breakpoint($bp1) { margin-top: 0px; }
    

}//#twoColumnC-sidebar.negMargin

#twoColumnC-sidebar { @include container;

    #lftCol-sidebar { @include span(4 of 12);
    
        //*** Breakpoints ***
        @include breakpoint($bp2) { @include span(full); }
        
    }
    
    #rtCol-contentArea { @include span(8 of 12 last);
        
        #contentC {
        
            h1 { 

                //*** Breakpoints ***
                @include breakpoint($bp3) { font-size: 30px; text-align: center; }

            }//h1
            
            @include breakpoint($bp2) { width: calc(100% - 40px); margin: 0px 20px 0px 20px;  }
            
        }//contentC
        
        //*** Breakpoints ***
        @include breakpoint($bp2) { @include span(full); }
    
    }
    
    //*** Breakpoints ***
    @include breakpoint($bp1) { width: 98%; }
    @include breakpoint($bp2) { width: 100%; }

}//twoColumnC-sidebar