//Two Column Text Layouts
.twoColumnC { position: relative; margin: 0px auto; width: 1235px; overflow: auto;
    
    .first p { margin-right: 10%;
        
        //*** Breakpoints ***
        @include breakpoint($bp2) { margin-right: 0px; }
    
    }//first p 
    
    //*** Breakpoints ***
    @include breakpoint($bp1) { width: 90%; }
    
}//twoColumnC