//Two Column Text Layouts
.twoColumnC { position: relative; margin: 0px auto; width: 1235px; overflow: hidden;
    
    .first p { margin-right: 10%;
        
        //*** Breakpoints ***
        @include breakpoint($bp2) { margin-right: 0px; }
    
    }//first p 
    
    //*** Breakpoints ***
    @include breakpoint($bp1) { width: calc(100% - 40px); margin: 0px 20px 0px 20px;  }
    
}//twoColumnC