@using CMS.Mvc.ViewModels.InsightsAndResources
@model List<InsightsListingItemViewModel>
    <div class="threeColGridC">
        <div class="twoColGrid-lft">
            <div class="threeColGrid-lft dataSheets">
                @for (var i = 0; i < 2 && i < Model.Count; i++)
                {
                    @Html.Partial("~/Views/Afton/InsightsAndResources/_dataSheet.cshtml", Model[i])
                }
            </div>
            <div class="threeColGrid-mid dataSheets">
                @for (var i = 2; i < 4 && i < Model.Count; i++)
                {
                    @Html.Partial("~/Views/Afton/InsightsAndResources/_dataSheet.cshtml", Model[i])
                }
            </div>
        </div>
        <div class="threeColGrid-rt dataSheets">
            @for (var i = 4; i < 6 && i < Model.Count; i++)
            {
                @Html.Partial("~/Views/Afton/InsightsAndResources/_dataSheet.cshtml", Model[i])
            }
        </div>
    </div>
