@model List<CMS.Mvc.ViewModels.Shared.TileViewModel>
<div class="cardsSM_C bgGray padTop padBtm">
    <div class="cardsSM fourCol">
        @foreach (var tile in Model)
        {
            <a href="@tile.Reference">
                <div class="cardBtnIndicator">
                    <img src="@Url.Content("~/images/card-btn-indicator.png")">
                </div>
                <div class="cardHdrC">
                    <div class="cardHdrTxt">@tile.Title</div>
                </div>
                <div class="cardTextAreaC">
                    <div class="cardTextArea">
                        <div class="cardTxt">@Html.Raw(tile.Description)</div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>
