<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
	<style>
		*{ font-family: arial; line-height: 22px; }
	</style>

</head>
<body>

<h1>Afton Templates</h1>

<a href="http://afton-test.azurewebsites.net/templates/index.html">Home</a><br>
<a href="http://afton-test.azurewebsites.net/templates/sbu-landing.html">SBU Landing</a><br>
<a href="http://afton-test.azurewebsites.net/templates/sbu-product.html">SBU Product</a><br>
<a href="http://afton-test.azurewebsites.net/templates/sbu-solution.html">SBU Solution</a><br>
<a href="http://afton-test.azurewebsites.net/templates/blog-news.html">News and Blogs</a><br>
<a href="http://afton-test.azurewebsites.net/templates/faqs.html">FAQs</a><br>
<a href="http://afton-test.azurewebsites.net/templates/GATC.html">GATC Calculator</a><br>
<a href="http://afton-test.azurewebsites.net/templates/product-filter-angular.html">Product Filter (Angular)</a><br>
<a href="http://afton-test.azurewebsites.net/templates/insights.html">Insights</a><br>
<a href="http://afton-test.azurewebsites.net/templates/document.html">Document</a><br>
<a href="http://afton-test.azurewebsites.net/templates/newsletter-signup.html">Newsletter Sign Up</a><br>
<a href="http://afton-test.azurewebsites.net/templates/polls-surveys.html">Polls & Surveys (Page and Sidebar)</a><br>
<a href="http://afton-test.azurewebsites.net/templates/polls-surveys-page.html">Polls & Surveys Page</a><br>
<a href="http://afton-test.azurewebsites.net/templates/polls-surveys-sidebar.html">Polls & Surveys Sidebar</a><br>
<a href="http://afton-test.azurewebsites.net/templates/rate-this-content.html">Rate This Content</a><br>
<a href="http://afton-test.azurewebsites.net/templates/terms-acronyms-angular.html">Terms & Acronyms (Angular)</a><br>
<a href="http://afton-test.azurewebsites.net/templates/contact.html">Contact Form</a><br>
<a href="http://afton-test.azurewebsites.net/templates/search-results.html">Search Results</a><br>




</body>
</html>