div(id="cookieOverlayC" style="display: none;")

    div(id="cookieDisplayC")
    
        | This website uses cookies to make your browsing experience more efficient and enjoyable. We are obliged to ask your permission before placing cookies on your computer.
        br
        br
        
        | Please indicate whether you accept the use of cookies.
        br
        br
        
        div(id="cookieDisplayOptions")
            a(href="#" class="cookieBtn allow") Allow
            a(href="#" class="cookieBtn disallow") Do Not Allow
        br
        br

        a(href="#" class="policy") Cookie Policy 
        