div(id="cookieOverlayC" style="display: none;")

    div(id="cookieDisplayC")
    
        div(id="mainTxt") This website uses cookies to help us remember information about your viewing preferences and to improve features of the website. We are legally required to obtain your consent before placing cookies on your computer. Please indicate whether you accept the use of cookies.
        br
        
        div(id="cookieDisplayOptions")
            a(href="#" class="cookieBtn accept") Accept
            a(href="#" class="cookieBtn decline") Decline
        br
        br
        | To configure or revoke your consent to the use of cookies, please visit our cookie policy, contained on our privacy page, at the link on this banner or at the bottom of our homepage.
        br
        br
        
        a(href="#" class="policy") PRIVACY & TERMS
        