div(id="mobileFilterNavC1")
    div(id="mobileFilterNavC")
        
        div(id="mobileFilterHdr") Filter by:
            a(href="#" id="menuFilterclose")
                img(src="images/mobile-filter.png")
        
        form(id="mobileFilterForm")
            
            div(id="mobileFilterSearch")
                div(id="hdr") Search
                input(type="text" placeholder="Enter Search Term")
            
            ul(id="mobileFilterNav")

                li
                    a(href="#") Region

                    div(class="mobileFilterNavItems" id="mFilterRegion")

                li
                    a(href="#") Document Type

                    div(class="mobileFilterNavItems" id="mFilterDocumentType")

                li
                    a(href="#") Solution

                    div(class="mobileFilterNavItems" id="mFilterSolution")
                    
            div(id="mobileClearFilterB")
                input(type="reset" value="Clear All")
                    
                    
