div(id="footerC")
    footer
        div(id="btmC")
        
            div(id="btmLogoC")
                img(src="images/btm-logo.png")

            div(class="btmNavCol")
                a(href="#") About
                
                ul
                    li: a(href="#") Communication
                    li: a(href="#") History
                    li: a(href="#") Safety
                    li: a(href="#") Values
                    li: a(href="#") Facilities & Locations

            div(class="btmNavCol")
                a(href="#") Careers
                
                ul
                    li: a(href="#") Working at Afton
                    li: a(href="#") Career Development
                    li: a(href="#") Culture Matters

            div(class="btmNavCol")
              a(href="#") News & Events
              ul
                li: a(href="#") News
                li: a(href="#") Events
                li: a(href="#") Product Launches
                li: a(href="#") Newsletter Archive
                
            div(class="btmNavCol")
              a(href="#") Blog
        
        div(id="btmContactBtn" style="display:none;")
            a(href="#") Contact
        
        div(id="disclaimer")
            | &copy;<span id="dateYear"></span> Afton Chemical 
            span(class="divider") |
            a(href="#") Legal Notice
            span(class="divider") |
            a(href="#") Privacy & Terms
            span(class="divider") |
            a(href="#") Site Map
            
                    
                    
                    

