div(id="topHeaderC")

    div(id="searchC")
        div(id="search")
            input(type="text" placeholder="Search Term...")        

            div(id="searchDir")
                | Press Enter to Search

            div(id="closeSearch")
                a(href="#")
                    img(src="images/searchClose.png") 
    
    div(id="topHeader")
        header
            a(href="#")
                img(src="images/logo.gif" id="dLogo" alt="Afton - Passion for Solutions" title="Afton - Passion for Solutions")
                img(src="images/logo-mobile.gif" id="mLogo" alt="Afton - Passion for Solutions" title="Afton - Passion for Solutions" style="display: none;")
            
            a(href="#" id="mobileBtn" style="display: none;")
                img(src="images/mobileBtn.gif")
            
            a(href="#" id="mobileSearch" style="display: none;")
                span(class="icon-search")
            
            div(id="languageC")
                ul
                    li
                        a(href="#" id="selLang" data-lang="langEnglish") English
                        span(class="icon-language")
                        ul(id="langDropDown" style="display: none;")
                            li(id="langEnglish")
                                a(href="#") English
                            li(id="langChinese")
                                a(href="http://translate.google.com/translate?u=http%3A%2F%2Fafton-test.azurewebsites.net%2Ftemplates%2Findex.html&hl=en&langpair=auto|zh-CN&tbb=1&ie=UTF-8") 简体中文                                
                            li(id="langGerman")
                                a(href="http://translate.google.com/translate?hl=en&sl=auto&tl=de&u=http%3A%2F%2Fafton-test.azurewebsites.net%2Ftemplates%2Findex.html&sandbox=1") German
                            li(id="langJapanese")
                                a(href="http://translate.google.com/translate?u=http%3A%2F%2Fafton-test.azurewebsites.net%2Ftemplates%2Findex.html&hl=en&langpair=auto|ja&tbb=1&ie=UTF-8") 日本語
                            li(id="langRussian")
                                a(href="http://translate.google.com/translate?u=http%3A%2F%2Fafton-test.azurewebsites.net%2Ftemplates%2Findex.html&hl=en&langpair=auto|ru&tbb=1&ie=UTF-8") Russian
                            li(id="langSpanish")
                                a(href="http://translate.google.com/translate?u=http%3A%2F%2Fafton-test.azurewebsites.net%2Ftemplates%2Findex.html&hl=en&langpair=auto|es&tbb=1&ie=UTF-8") Español
                            li(id="langPortugues")
                                a(href="http://translate.google.com/translate?u=http%3A%2F%2Fafton-test.azurewebsites.net%2Ftemplates%2Findex.html&hl=en&langpair=auto|pt&tbb=1&ie=UTF-8") Português
                            li(id="langFrench")
                                a(href="http://translate.google.com/translate?hl=en&sl=en&tl=fr&u=http%3A%2F%2Fafton-test.azurewebsites.net%2Ftemplates%2Findex.html") French

            div(id="utilityNavC")
                ul
                    li
                        a(href="#") About
                    li
                        a(href="#") Careers
                    li
                        a(href="#")  News & Events
                    li
                        a(href="#") Blog
                    li
                        a(href="#") Contact
                    li
                        a(href="#")
                            span(class="icon-search")

            div(id="mainNavC")
                ul
                    li
                        a(href="#" data-mm="driveline") Driveline Additives
                    li
                        a(href="#" data-mm="engine") Engine Oil Additives
                    li
                        a(href="#" data-mm="fuel") Fuel Additives
                    li
                        a(href="#" data-mm="industrial") Industrial Additives
                    li
                        a(href="#" data-mm="lubricant" class=sbuMainNavHighlight ) Lubricant Components
                    li
                        a(href="#") Logistics & Supply
                    li
                        a(href="#") Insights & Resources

    
    div(id="stickySBU-navC" style="display: none;")
    
    div(id="megaMenuC" style="opacity: 0;")

        <!-- DriveLine Mega Menu -->
        div(class="megaMenu" id="driveline")
            div(class="lftCol")

                a(href="#" class="photoLink")
                    img(src="page-images/mega-menu/sample-pic-megamanu1.jpg")
                    div(class="photoLinkRt")
                        div(class="mHeader")
                            | Learn About Driveline Additives
                        div(class="mTxt")
                            | Keeping even more of your big, dirty, dusty machines working smoothly and more efficiently for longer operating.

                a(href="#" class="photoLink")
                    img(src="page-images/mega-menu/sample-pic-megamanu2.jpg")
                    div(class="photoLinkRt")
                        div(class="mHeader")
                            | Driveline Insights & Resources
                        div(class="mTxt")
                            | Keeping even more of your big, dirty, dusty machines working smoothly and more efficiently for longer operating.




            div(class="rtCol")
                div(class="rtColHdr")
                    | Driveline Additive Solutions

                div(class="rtColLinksC")
                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Automatic Transmissions

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly. 

                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Continuously Variable Transmission (CVT)

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.
                            
                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Dual Clutch Transmission (DCT)

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.

                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Automotive Gear

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.
                            
                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Power Steering

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.
                            
                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Heavy Machinery

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.



        <!-- Engline Oil Additives Mega Menu -->
        div(class="megaMenu" id="engine")
            div(class="lftCol")

                a(href="#" class="photoLink")
                    img(src="page-images/mega-menu/sample-pic-megamanu1a.jpg")
                    div(class="photoLinkRt")
                        div(class="mHeader")
                            | Learn About Engine Oil Additives
                        div(class="mTxt")
                            | Keeping even more of your big, dirty, dusty machines working smoothly and more efficiently for longer operating. 

                a(href="#" class="photoLink")
                    img(src="page-images/mega-menu/sample-pic-megamanu2a.jpg")
                    div(class="photoLinkRt")
                        div(class="mHeader")
                            | Engine Oil Insights & Resources
                        div(class="mTxt")
                            | Keeping even more of your big, dirty, dusty machines working smoothly and more efficiently for longer operating.



            div(class="rtCol")
                div(class="rtColHdr")
                    | Engine Oil Additive Solutions

                div(class="rtColLinksC")
                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Diesel Oil

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.

                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Gasoline Oil

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.

        <!-- Fuel Additives Mega Menu -->
        div(class="megaMenu" id="fuel")
            div(class="lftCol")

                a(href="#" class="photoLink")
                    img(src="page-images/mega-menu/sample-pic-megamanu1.jpg")
                    div(class="photoLinkRt")
                        div(class="mHeader")
                            | Learn About Fuel Additives
                        div(class="mTxt")
                            | Keeping even more of your big, dirty, dusty machines working smoothly and more efficiently for longer operating. 

                a(href="#" class="photoLink")
                    img(src="page-images/mega-menu/sample-pic-megamanu2.jpg")
                    div(class="photoLinkRt")
                        div(class="mHeader")
                            | Fuel Insights & Resources
                        div(class="mTxt")
                            | Keeping even more of your big, dirty, dusty machines working smoothly and more efficiently for longer operating.



            div(class="rtCol")
                div(class="rtColHdr")
                    | Fuel Additive Solutions

                div(class="rtColLinksC")
                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Diesel Additives

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.

                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Gasoline Additives

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.

                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Octaine Improver

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.
                            
                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Alternative Fuels

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.

                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Home Heating Fuel

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.

        <!-- industrial Additives Mega Menu -->
        div(class="megaMenu" id="industrial")
            div(class="lftCol")

                a(href="#" class="photoLink")
                    img(src="page-images/mega-menu/sample-pic-megamanu1a.jpg")
                    div(class="photoLinkRt")
                        div(class="mHeader")
                            | Learn About Industrial Additives
                        div(class="mTxt")
                            | Keeping even more of your big, dirty, dusty machines working smoothly and more efficiently for longer operating. 

                a(href="#" class="photoLink")
                    img(src="page-images/mega-menu/sample-pic-megamanu2a.jpg")
                    div(class="photoLinkRt")
                        div(class="mHeader")
                            | Industrial Insights & Resources
                        div(class="mTxt")
                            | Keeping even more of your big, dirty, dusty machines working smoothly and more efficiently for longer operating.



            div(class="rtCol")
                div(class="rtColHdr")
                    | Industrial Additive Solutions

                div(class="rtColLinksC")
                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Compressor

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.

                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Grease

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.

                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Hydraulic

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.
                            
                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Industrial Gear

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.

                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Metalworking

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.

                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Slideway

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.

                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Turbine

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.
                            

        <!-- Lubricant Components Mega Menu -->
        div(class="megaMenu" id="lubricant")
            div(class="lftCol")

                a(href="#" class="photoLink")
                    img(src="page-images/mega-menu/sample-pic-megamanu1.jpg")
                    div(class="photoLinkRt")
                        div(class="mHeader")
                            | Learn About Lubricant Components
                        div(class="mTxt")
                            | Keeping even more of your big, dirty, dusty machines working smoothly and more efficiently for longer operating. 

                a(href="#" class="photoLink")
                    img(src="page-images/mega-menu/sample-pic-megamanu2.jpg")
                    div(class="photoLinkRt")
                        div(class="mHeader")
                            | Lubricant Insights & Resources
                        div(class="mTxt")
                            | Keeping even more of your big, dirty, dusty machines working smoothly and more efficiently for longer operating.



            div(class="rtCol")
                div(class="rtColHdr")
                    | Lubricant Additive Solutions

                div(class="rtColLinksC")
                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Couplers

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.

                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Detergents & Corrosion Inhibritors

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.

                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Extreme Pressure Agents & Antiewear Agents

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.
                            
                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Foam Inhibitors

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.

                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Friction Modifiers

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.

                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Pour Point Depressants

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.

                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Seal Swell Additives

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.
                            
                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Tackiness Additives

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.
                            
                    a(href="#" class="rtColLinks")
                        div(class="txtC")
                            div(class="linkHdr")
                                | Thickeners & Viscosity Index Improvers

                            div(class="linkTxt")
                                | Keeping even more of your big, dirty, dusty machines working smoothly.
                                
div(id="stickyFooterC")
    div(id="stickyFooter")
        div(id="stickyFoot")
            a(href="#") Contact
        