div(id="mobileNavC1")
    div(id="mobileNavC")
        
        div(id="menuHdrC")
            div(id="menuHdr")
                | Menu
        
            a(href="#" id="menuclose")
                img(src="../../images/menuClose.gif")
                
        div(id="mainNavC")
            ul
                li
                    a(href="#") 1 Driveline Additives
                    ul
                        li
                            a(href="#") 2 Driveline Additives
                            ul
                                li
                                    a(href="#")  3 Driveline Additives
                                    ul
                                        li
                                            a(href="#")  4 Driveline Additives
                        
                        li: a(href="#") Driveline Products
                        li: a(href="#") Driveline Insights & Resources
                        li: a(href="#") Driveline Additive Solutions
                
                li: a(href="#") Engine Oil additives
                li: a(href="#") Fuel Additives
                li: a(href="#") Lubricant Components                     
                li: a(href="#") Logistics & Supply
                li
                    a(href="#") Insight & Resources
                    ul
                        li: a(href="#") xDriveline Additives
                        li: a(href="#") Driveline Products
                        li: a(href="#") Driveline Insights & Resources
                        li: a(href="#") Driveline Additive Solutions
                   
                
        
        div(id="utilC")
            ul
                li: a(href="#") About
                li: a(href="#") Careers
                li: a(href="#") News
                li: a(href="#") Forum
                li: a(href="#") Contact
                
        