div(id="mobileNavC1")
    div(id="mobileNavC")
        
        div(id="menuHdrC")
            div(id="menuHdr")
                | Menu
            
            div(id="mobileNavStatus" style="display: none;")
            
            a(href="#" id="menuclose")
                img(src="images/menuClose.gif")
                
        div(id="mainNavC")
            ul
                li
                    a(href="/contact.html") Driveline Additives
                    ul
                        li: a(href="/faqs.html") Driveline Products
                        li: a(href="/blog-news.html") Driveline Insights & Resources
                        li: a(href="#") Automatic Transmission
                        li: a(href="#") Contnuously Variable Transmission(CVT)
                        li: a(href="#") Dual Clutch Transmission (DCT)
                        li: a(href="#") Automotive Gear
                        li: a(href="#") Power Steering
                        li: a(href="#") Heavy Machinery
                        
                
                li
                    a(href="#") Engine Oil additives
                    ul
                        li: a(href="/rate-this-content.html") Engine Oil Procucts
                        li: a(href="/sbu-product.html") Engine Oil Insights & Resources
                        li: a(href="#") Diesel Oil
                        li: a(href="#") Gasoline Oil
                                
                
                li
                    a(href="#") Fuel Additives
                    ul
                        li: a(href="#") Fuel Products
                        li: a(href="#") Fuel Insights & Resources
                        li: a(href="#") Disel Additives
                        li: a(href="#") Gasoline Additives
                        li: a(href="#") Octane Improver
                        li: a(href="#") Alternatiuve Fuels
                        li: a(href="#") Home Heating Fuel   
                
                li
                    a(href="#") Lubricant Components
                    ul
                        li: a(href="#") Lubricant Products 
                        li: a(href="#") Lubricant Insights & Resources
                        li: a(href="#") Couplers
                        li: a(href="#") Detergents & Corrosion Inhibitors
                        li: a(href="#") Extreme Pressure Agents & Antiwear Agents
                        li: a(href="#") Foam Inhibitors
                        li: a(href="#") Friction Modifiers
                        li: a(href="#") Pour Point Depressants
                        li: a(href="#") Seal Swell Additives
                        li: a(href="#") Tackiness Additives
                        li: a(href="#") Thickness & Viscosity Index Improvers
                        
                    
                li: a(href="#") Logistics & Supply
                li: a(href="#") Insight & Resources
                   
                
        
        div(id="utilC")
            ul
                li: a(href="search-results.html") About
                li: a(href="#") Careers
                li: a(href="#") News
                li: a(href="#") Forum
                li: a(href="#") Contact
                
        