meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
 
meta(name="robots" content="index,follow")

meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

//Default CSS
link(rel='stylesheet', href='assets-layout/styles/normalize.min.css')
link(rel='stylesheet', href='assets-layout/fonts/fonts.css')
link(rel='stylesheet', href='assets-layout/styles/styles.min.css')


//Default Scripts
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js')
script(src='assets-layout/js/library/jquery.animate-colors.min.js')
script(src='assets-layout/js/library/jquery.dotdotdot.min.js')
script(src='assets-layout/js/custom/ellipsesText.min.js')
script(src='assets-layout/js/library/head.min.js')        
 
script.
    head.js(
        {language_selector: "assets-layout/js/custom/langSel.min.js"},
        {mega_menu_drop_down: "assets-layout/js/custom/megaMenu.min.js"},
        {mobile_nav: "assets-layout/js/custom/mobileNav.min.js"},
        {disclaimer_copyright: "assets-layout/js/custom/copyrightDate.min.js"},
        function(){
            //loadCSS
            //	{LABEL: "URL/PATH"},
            //);
        }
    ); 