meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
 
meta(name="robots" content="index,follow")

meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

//Default CSS
link(rel='stylesheet', href='assets-layout/styles/normalize.min.css')
link(rel='stylesheet', href='assets-layout/fonts/fonts.css')
link(rel='stylesheet', href='assets-layout/styles/styles.min.css')
link(rel='stylesheet', href='assets-layout/styles/print.min.css' media="print")


//Default Scripts
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
script(src='assets-layout/js/custom/mobileCheck.min.js')
script(src='assets-layout/js/library/jquery.animate-colors.min.js')
script(src='assets-layout/js/library/jquery.dotdotdot.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.4/hammer.min.js')
script(src='https://cdn.jsdelivr.net/jquery.columnizer/1.6.0/jquery.columnizer.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.actual/1.0.17/jquery.actual.min.js')

script(src='https://code.angularjs.org/1.4.8/angular.js')
script(src="assets-layout/js/library/dirPagination.min.js")
script(src='assets-layout/js/custom/prodFilter.min.js')


script(src='assets-layout/js/custom/ellipsesText.min.js')
script(src='assets-layout/js/custom/columnizeText.min.js')

script(src='assets-layout/js/library/head.min.js')        
 
script.
    head.js(
        {home_rotator: "assets-layout/js/custom/homeSlideShow.min.js"},
        {search_box: "assets-layout/js/custom/search.min.js"},
        {language_selector: "assets-layout/js/custom/langSel.min.js"},
        {mega_menu_drop_down: "assets-layout/js/custom/megaMenu.min.js"},        
        {mobile_nav: "assets-layout/js/custom/mobileNav.min.js"},
        {disclaimer_copyright: "assets-layout/js/custom/copyrightDate.min.js"},
        {custom_select_DropDowns: "assets-layout/js/custom/customSelectDropDown.min.js"},
        
        {card_Animations: "assets-layout/js/custom/cards.min.js"},
        {sbu_Landing_Nav: "assets-layout/js/custom/sbuLandingDropDown.min.js"},
        {accordion_Nav: "assets-layout/js/custom/accordion.min.js"},
        {card_Animations: "assets-layout/js/custom/print.min.js"},
        {language_Document_selector: "assets-layout/js/custom/langDocSel.min.js"},
        {product_Filter_Nav: "assets-layout/js/custom/prodFilterNav.min.js"},
        {FAQ_Download: "assets-layout/js/custom/faqDropDown.min.js"},
        
        function(){
            //loadCSS
            //	{LABEL: "URL/PATH"},
            //);
        }
    ); 