.accordC { margin: 0px; padding: 0px 0px 40px 0px;
    
    li{ position: relative; margin: 0px 0px 20px 30px; padding: 0px; list-style: none;

        a.accordTrigger { display: block; color:#595959; font: 22px HelveticaNeueLT-Light; line-height: 28px; text-decoration: none;
                    
            &:hover { color: #4c9d2f; }
            
            .icon { background: url(../../images/accordPlus.png) no-repeat; position: absolute; top: 8px; left: -28px; width: 15px; height: 15px; }
            
            //*** Breakpoints ***
            @include breakpoint($bp1) { font-size: 18px; line-height: 22px; } 
            
        }//a
        
        .reveal { margin: 10px 0px 200px 0px; }
        
    }//li
    
    li:last-child { margin-bottom: 0px }
    
}//accordC

.accordC .accordItemOpen a.accordTrigger .icon { background: url(../../images/accordMinus.png) no-repeat; }