.cardsC {

    .cards { @include gridContainer; padding-top: 35px; padding-bottom: 15px;
        
        a { position: relative; @include gallery(4 of 12); margin-bottom: gutter(); display: block; box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.10);
            
            .cardBtnIndicator { position: absolute; bottom: 10px; right: 10px; z-index: 11;
                
                img { width: 23px; }
                
            }//cardBtnIndicator
            
            .trendIndicator { position: absolute; bottom: 180px; left: 0px; width: 100%; height: 43px; padding: 13px 33px; background-color: rgba(76, 157, 47, 0.90); z-index: 10; color: #FFF;
                
                &::before { content: url(../../images/trending-icon.png); margin-right: 10px; }
                
                //*** Breakpoints ***
                @include breakpoint($bp2) { bottom: 160px; }
                
            }//trendIndicator
            
            .overlayC { position: absolute; bottom: 0px; left: 0px; width: 100%; height: 180px; padding: 15px 33px 0px 15px; background-color: rgba(255, 255, 255, 0.90); z-index: 10; 
                
                .overlay { width: 100%; height: 128px; overflow: hidden;
                    
                    .cardTitle { color: #0c419a; }
                    .cardHdr { padding-top: 10px; color: #0c419a; font: 20px/24px HelveticaNeueLTStd-Roman;
                        
                        //*** Breakpoints ***
                        @include breakpoint($bp2) { padding-top: 5px; font-size: 16px; line-height: 20px; } 
                            
                    }//cardHdr
                    .cardTxt { padding-top: 10px; color: #595959; font-size: 12px; line-height: 16px;
                        
                        //*** Breakpoints ***
                        @include breakpoint($bp2) { padding-top: 5px; font-size: 11px; line-height: 13px; } 
                        
                    }//cardTxt            
                   
                    //*** Breakpoints ***
                    @include breakpoint($bp2) { height: 107px; } 
                    
                }//overlay
                                    
                .cardDate { padding-top: 5px; color: #595959; font-size: 11px; }
                
                //*** Breakpoints ***
                @include breakpoint($bp2) { padding: 15px 10px 0px 10px; height: 160px; }
                
            }//overlayC
            
            .hoverOverlayC { position: absolute; bottom: 0px; width: 100%; padding: 10px 33px 0px 15px; background-color: rgba(12, 65, 154, 0.90);
                
                .hoverOverlay { max-height: 115px; margin-bottom: 5px; overflow: hidden;
                
                    .hoverOverlayTxt { color: #FFF; font-size: 18px; line-height: 27px; 
                        
                        //*** Breakpoints ***
                        @include breakpoint($bp2) { font-size: 13px; line-height: 15px; } 
                        @include breakpoint($bp3) { font-size: 18px; line-height: 22px; }
                        @include breakpoint($bp3a) { font-size: 13px; line-height: 15px; }
                        
                    }//hoverOverlayTxt
                    
                    //*** Breakpoints ***
                    @include breakpoint($bp2a) { height: 50px; }
                    @include breakpoint($bp3) { height: 115px; }
                    @include breakpoint($bp3a) { height: 50px; }
                    
                }//hoverOverlay
            
                .cardLearnMore { display: inline-block; padding: 16px 50px; background: #4c9d2f; color: #FFF;

                    .icon-arrow { font-size: 14px; margin-left: 24px; vertical-align: middle;

                        @include breakpoint($bp2) { margin-left: 5px; }

                    }//icon-arrow
                    
                    //*** Breakpoints ***
                    @include breakpoint($bp2) { padding: 5px; }

                }//cardLearnMore
                
                @include breakpoint($bp2) { padding: 20px 15px 0px 15px; }
                
            }//hoverOverlayC
            
            img { display: block; width: 100%; }
          
            //*** Breakpoints ***
            @include breakpoint($bp1) { @include gallery(6 of 12 break); }
            @include breakpoint($bp3) { 
                @include gallery(12 of 12 break); 
                &:nth-child(n) {
                    clear: both;   
                } 
            }//breapoint 3
            
        }//a
        
        a.trending .overlayC { background-color: rgba(12, 65, 154, 0.90)!important; }
        a.trending .cardTitle, a.trending .cardHdr, a.trending .cardTxt, a.trending .cardDate { color: #FFF!important; }
        a.trending .hoverOverlayC { background: rgba(255,255,255,.90); }
        a.trending .hoverOverlayC .hoverOverlayTxt { color: #595959; }
        
    }//cards
    
}//cardsC