.dataSheets {
    
    a { color: #48a540; text-decoration: none;
    
        &:hover { color: #000; }
        
    }//a
    
    ul { margin: 0px; padding: 20px 0px 0px 0px;
    
        li { position: relative; list-style: none; padding: 0px 0px 5px 0px; }
        
    }//ul
    
    a.viewMore { padding: 30px 0px 30px 0px; display:inline-block; font-weight: bold; }
    
}//dataSheets