#document { @include container; padding-top: gutter(); padding-bottom: gutter(); border-bottom: 1px solid #595959;
    
    //*** Breakpoints ***
    @include breakpoint($bp2) { width: calc(100% - 40px); margin: 0px 20px 0px 20px; }

}//document