#downloadDocsC { float: left; padding: 10px 10px 0px 0px; 
    
    .downloadBtn { padding: 13px 20px; font-size: 13px; background: #4c9d2f; color: #FFF; text-decoration: none;
    
        .icon-download { font-size: 18px; margin-left: 6px; vertical-align: middle; }
        
        &:hover { color: #CCC; }
        
    }//downloadBtn

    
    
}//downloadDocsC