#faqsHdrC {
    
    .customSelectC { width: 250px; } 
        
    //*** Breakpoints ***
    @include breakpoint($bp2) { width: calc(100% - 40px); margin: 0px 20px 0px 20px; }
    
}//faqsHdrC


#faqItems { min-height: 300px;
    
    //*** Breakpoints ***
    @include breakpoint($bp2) { width: calc(100% - 40px); margin: 0px 20px 0px 20px; }
    
}//faqItems