.viewAll { display: block; padding-top: 5px; color: #48a540; text-decoration: none;

    &:hover { color: #0c419a; }
    
}//viewAll


#filterHdrC { background: #f1f0f0; 
    
    #filterHdr { padding: 10px 0px; color: #545454; font: 15px HelveticaNeueLTStd-Md; }
    
}//filterHdrC


#filterC { 
    
    .filterRow { position: relative; margin: 0px auto; padding: 28px 0px; width: 1235px; overflow: auto; 
        
        #clearFilterB { position: absolute; top: 26px; right: 0px;
            
            input { padding: 10px 23px; background: #4c9d2f; border: 0px; color: #FFF; }
        
        }//clearFilterB

        .filterH { padding-bottom: 17px; color: #0c419a; font-size: 24px; }
            
        .filterSH { padding-bottom: 10px; font-size: 18px; }
        
        .filterCol { float: left; width: 230px; margin-right: 20px;
            
            label { display: block; margin: 0px 0px 8px 18px;
                
                input[type="checkbox"] { display:none; }
                
                input[type="checkbox"] +  span { display:inline-block; width: 15px; height: 13px; margin: -3px 4px 0 -18px; vertical-align: middle; cursor: pointer; background:url(../../images/check-box.png) left top no-repeat; }
                
                input[type="checkbox"]:checked + span { background:url(../../images/check-box-a.png) left top no-repeat; }
                
            }//label
            
            &:last-child { margin-right: 0px; }
            
        }//filterCol
        
    }//filterRow
    
    .borderBtm { border-bottom: 1px solid #000; }
  
    //*** Breakpoints ***
    @include breakpoint($bp1) { display: none;}
    
}//filterC


#hideFilterC { background: #a1a1a1; 
    
    a { display: block; padding: 10px 0px; color: #FFF; font-size: 15px; text-align: center; text-decoration: none; }
    
}//hideFilterC




