.paginationC { padding: 22px 0px; border: 1px solid #4c9d2f; text-align: center;
    
    ul { margin: 0px; padding: 0px; }
    li { margin: 0px; padding: 0px; display: inline; list-style: none;
    
        &.active a { color: #114294; }
        
        &.disabled a { color: #000; }
        
    }
    
    a { margin: 0px 18px; color: #4c9d2f; text-decoration: none; 

        &:hover { color: #114294; }
        
        //*** Breakpoints ***
        @include breakpoint($bp2) { margin: 0px 2.5%; font-size: 16px; }
        @include breakpoint($bp3) { font-size: 18px; }

    }//a

    a.prev {
        &:before { content: "PREV";
            //*** Breakpoints ***
            @include breakpoint($bp3) { content: "<"; }
        }
    }
    
    
    a.next {
        &:before { content: "NEXT";
            //*** Breakpoints ***
            @include breakpoint($bp3) { content: ">"; }
        }
    }
    

}//paginationC

    
