#prodHdrC { @include container; padding-top: gutter(); padding-bottom: gutter(); border-bottom: 1px solid #595959;

    #pLft { @include span(2 of 8);
        
        //*** Breakpoints ***
        @include breakpoint($bp3) { @include span(full); display: none; }    
    
    }//pLft
    
    #pRt { @include span(6 of 8 last);
        
        #pCurrently { padding: 5px 0px; font-size: 12px;
            
            
            a{ color: #48a540; text-decoration: none;
            
                &:hover { color: #184a9e; }
            }
            
            span::after { content: "/"; padding: 0px 5px; }
            
            span:last-child:after { display: none; }
            
        }//pCurrently
        
        
        //*** Breakpoints ***
        @include breakpoint($bp3) { @include span(full); }  
        
    }//pRt
    
    //*** Breakpoints ***
    @include breakpoint($bp3) { width: 90%; }
    
}//prodHdrC