#sidbarHdrC { position: relative; height: 70px; background: #FFF;
    
    h2 { position: absolute; position: absolute; top: 50%; left: 15px; right: 15px; transform: translateY(-50%); }
    
}//sidbarHdrC

#sidbarNavC { padding-bottom: 12px;
    
    ul { margin: 0px; padding: 0px; 
    
        li { margin: 0px; padding: 0px; list-style: none; border-bottom: 1px solid #a6a6a6; 
        
            a { padding: 10px 15px; display: block; background: #e2e2e2; text-decoration: none; font-size: 16px; color: #595959;
            
                &:hover { background: #4c9d2f; color: #FFF; }
                
            }
            
        }//li
    
    }//ul    
    
    
}//sidbarNavC