#sidebarHdrC { position: relative; height: 70px; background: #FFF;
    
    h2 { position: absolute; position: absolute; top: 50%; left: 15px; right: 15px; transform: translateY(-50%);
    
        //*** Breakpoints ***
        @include breakpoint($bp1) { font-size: 20px; }
        
    }//h2
    
}//sidebarHdrC


#sidebarHdrC.altSidbarstyles { background: #f4f4f4; color: #0c419a; border-bottom: 1px solid #a6a6a6; }


#sidebarNavC { padding-bottom: 12px;
    
    ul { margin: 0px; padding: 0px; 
    
        li { margin: 0px; padding: 0px; list-style: none; border-bottom: 1px solid #a6a6a6; 
            
            a { position: relative; padding: 10px 15px; display: block; background: #e2e2e2; text-decoration: none; font-size: 16px; color: #595959;
            
                &:hover { background: #4c9d2f; color: #FFF; }
                
                //nav items with images
                img { margin-right: 10px; vertical-align: middle;  }
                
            }
            
            a.hasChildren:after { content: "\e900"; position: absolute; font: 13px icomoon; right: 10px; top: 50%; transform: translateY(-50%); }
            
            a.active { color: #0c419a;
            
                &:hover { background: #4c9d2f; color: #FFF; }
                
            }//active
            
            a.open { background: #f3f3f3; 
            
                &:hover { background: #4c9d2f; color: #FFF; }
                
            }
            
            //submenu
            li { border: none;
            
                a { padding-left: 30px; background: #f3f3f3; }
            }
            
        }//li
    
    }//ul    
    
    
}//sidebarNavC


.sidebarBoxCTitle { padding: 13px 0px; background: #184b9f; color: #FFF; text-align: center; font-size: 16px; }

.sidebarImg { display: block; width: 100%; }

a.sidebarBoxC { display: block; color: #595959; text-decoration: none; }
a.sidebarBoxC:hover { background: #f4f4f4; }
a.sidebarBoxC:hover .twoCol img { transform: scale(1.02,1.02); }

.sidebarBoxC { padding: 15px; background: #eeeded; margin-bottom: 10px;
    
    .hdr { padding-bottom: 5px; color: #0c419a; font-size: 17px; }
    
    .title { padding-bottom: 5px; color: #4c9d2f; font-size: 17px; }
    
    .txt { padding-bottom: 10px;
    
        a { color: #4c9d2f; }
    }
    
    .customSelectC { width: 100%; }
    
    ::-webkit-input-placeholder { color: #595959; }
    :-moz-placeholder { color: #595959; }
    ::-moz-placeholder { color: #595959; }
    :-ms-input-placeholder { color: #595959; }
    
    .txtBox { float: left; width: 70%; padding: 10px; background: #FFF; border: 0px; }
    
    .submitBtn { padding: 10px 0px; width: 30%; background: #4c9d2f; color: #FFF; border: 0px; }
    
    form.pole { padding-top: 10px;      
        
        label { display: block; margin: 0px 10px 15px 30px;
                
            input[type="radio"] { display:none; }

            input[type="radio"] +  span { display:inline-block; width: 20px; height: 18px; margin: -3px 4px 0 -29px; vertical-align: middle; cursor: pointer; background:url(../../images/radio.png) left top no-repeat; }

            input[type="radio"]:checked + span { background:url(../../images/radio-a.png) left top no-repeat; }          

        }//label
        
        input.vote { display: block; margin: 0px auto; padding: 10px 0px; width: 90%; color: #FFF; background: #4c9d2f; border: 0px; }
        
        
    }//form.pole

    .voteDetails { padding: 15px 0px 5px 0px; text-align: center; font: 12px HelveticaNeueLTStd-Md; }
    
    .voteResults { padding-top: 10px; 
                
        ul { margin: 0px; padding: 0px; 

            li { margin: 0px 10px 10px 25px; padding: 0px; list-style: none;

                &.selected { list-style-image: url(../../images/checkmark.png); }

            }//li

        }//ul

        .voteMessage { padding: 10px 0px 15px 0px; font-size: 26px; color: #184b9f; text-align: center; }

        .viewReslutsLink { display: block; margin: 0px auto; padding: 10px 0px; width: 90%; text-align: center; color: #4c9d2f; text-decoration: none; }


    }//voteResults
    
        
    .twoCol { @include container;
        
        img { display: block; width: 100%; @include span(2 of 4); transition: 0.5s; }

        .txtCol { @include span(2 of 4 last); font-size: 14px; line-height: 18px;

            .cat { padding-bottom: 2px; color: #1c4da0; font-size: 16px; }
            
            .date { font-size: 11px; }

        }//txtCol

        
        
        //a:last-child { margin-bottom: 0px; }
        
    }//twoCol
    
}//sidebarBoxC


