#stayInformedC { padding: 15px; background: #eeeded;
    
    #hdr { padding-bottom: 5px; color: #0c419a; font-size: 16px; }
    
    #txt { padding-bottom: 10px; }
    
    .txtBox { float: right; padding: 10px; background: #595959; color: #FFF; border: 0px; } 
    
    .submitBtn { float: right; padding: 10px 30px; background: #4c9d2f; color: #FFF; border: 0px; }
    
}//stayInformedC