@using CMS.Mvc.Helpers
@using CMS.Mvc.ViewModels.SiteMap
@model IEnumerable<SiteMapHyperLink>
@foreach (SiteMapHyperLink item in Model)
{

    <li><a href="@Url.Content("~/" + item.Reference)">@UtilsHelper.ToHtmlString(item.Text)</a>
    @if ( item.Children != null )
    {
        <ul>
                @Html.Partial( "~/Views/Afton/SiteMap/_linksList.cshtml", item.Children )
        </ul>
    }
    </li>
}

