doctype 

html(lang='en')

    head
        
        title=""
        meta(name="description" content="")
        meta(name="keywords" content="")
        
        include includes/_scripts_header.jade
        
    body
        
        include includes/_cookieOverlay.jade
        
        include includes/_mobileNav.jade
        
        include includes/_header.jade
        
        div(id="contentAreaC")
        
            
            div(class="fullWidth borderTop padTopBtm")
                
                div(align="center" style="padding: 50px 0px 150px 0px;")
                
                    div(style="font-size: 120px; line-height: 130px; color: #0c419a;") 404
                    br
                    div(style="font-size: 40px; line-height: 45px;") Page Not Found
                    br
                    | The page you are looking for does not exist or an error occured. Please visit our <a href="/" style="font-weight: bold; color: #53ad4d;">home page</a>.<br>
                    br
                    
                            
                            
        include includes/_footer.jade
                            