doctype 

html(lang='en')

    head
        
        title=""
        meta(name="description" content="")
        meta(name="keywords" content="")
        
        include includes/_scripts_header.jade
    
    body
    
        include includes/_mobileNav.jade
        
        include includes/_header.jade
        
        div(id="contact-intC")             
            
            div(id="contactHdr" class="padTop padBtm")
                h1 Asia Pacific
                br
                
                img(src="page-images/contact/map-asia.gif")
                
            
            div(id="contactResults")
                
                div(class="contactResultItem")
                
                    div(class="officeName") Sales Office Country<br>
                    br

                    | 1Regional Contact Info<br>
                    | 500 Regional Office Street<br>
                    | City State or Providence 55555<br>
                    | Country Name<br>
                    br
                    | T: +12 34 5678-9012<br>
                    br

                    | <strong>Serving the following countries</strong><br>
                    | Country Name One | Country Name Two | Country Name Three | Country Name Four | Country Name Five | Country Name Six<br>
                    br
                    
                div(class="contactResultItem")
                
                    div(class="officeName") Sales Office Country<br>
                    br

                    | 2Regional Contact Info<br>
                    | 500 Regional Office Street<br>
                    | City State or Providence 55555<br>
                    | Country Name<br>
                    br
                    | T: +12 34 5678-9012<br>
                    br

                    | <strong>Serving the following countries</strong><br>
                    | Country Name One | Country Name Two | Country Name Three | Country Name Four | Country Name Five | Country Name Six<br>
                    br 
                    
                div(class="contactResultItem")
                
                    div(class="officeName") Sales Office Country<br>
                    br

                    | 3Regional Contact Info<br>
                    | 500 Regional Office Street<br>
                    | City State or Providence 55555<br>
                    | Country Name<br>
                    br
                    | T: +12 34 5678-9012<br>
                    br

                    | <strong>Serving the following countries</strong><br>
                    | Country Name One | Country Name Two | Country Name Three | Country Name Four | Country Name Five | Country Name Six<br>
                    br 
                    
                div(class="contactResultItem")
                
                    div(class="officeName") Sales Office Country<br>
                    br

                    | 4Regional Contact Info<br>
                    | 500 Regional Office Street<br>
                    | City State or Providence 55555<br>
                    | Country Name<br>
                    br
                    | T: +12 34 5678-9012<br>
                    br

                    | <strong>Serving the following countries</strong><br>
                    | Country Name One | Country Name Two | Country Name Three | Country Name Four | Country Name Five | Country Name Six<br>
                    br
                    
                div(class="contactResultItem")
                
                    div(class="officeName") Sales Office Country<br>
                    br

                    | 5Regional Contact Info<br>
                    | 500 Regional Office Street<br>
                    | City State or Providence 55555<br>
                    | Country Name<br>
                    br
                    | T: +12 34 5678-9012<br>
                    br

                    | <strong>Serving the following countries</strong><br>
                    | Country Name One | Country Name Two | Country Name Three | Country Name Four | Country Name Five | Country Name Six<br>
                    br 
                    
                div(class="contactResultItem")
                
                    div(class="officeName") Sales Office Country<br>
                    br

                    | 6Regional Contact Info<br>
                    | 500 Regional Office Street<br>
                    | City State or Providence 55555<br>
                    | Country Name<br>
                    br
                    | T: +12 34 5678-9012<br>
                    br

                    | <strong>Serving the following countries</strong><br>
                    | Country Name One | Country Name Two | Country Name Three | Country Name Four | Country Name Five | Country Name Six<br>
                    br 
                    
                        
             div(class="fullWidth borderTop padTopBtm")
            
                h1 Emergency Response
                
                br
                | Afton Chemical Corporation's emergency response telephone numbers are:<br>
                strong (800) 403-0044&nbsp;
                | U.S. and Canada<br>
                strong (804) 648-7727&nbsp;
                | Outside North America<br>
                strong (800) 424-9300&nbsp;
                | CHEMTREC number used on most of Ethyl's U.S. bulk shipping containers and shipping documents<br>
                br

                | These telephone numbers are published on Afton Chemical MSDSs, literature, and some shipping documents. CHEMTREC, CANUTEC and others use these numbers to inform Afton Chemical of an incident involving Afton Chemical products. Afton Chemical has emergency response coverage 24 hours a day, 7 days a week. A trained Afton Chemical Coordinator is on call to respond to any emergency.
                   

        
        include includes/_footer.jade
        