doctype 

html(lang='en')

    head
        
        title=""
        meta(name="description" content="")
        meta(name="keywords" content="")
        
        include includes/_scripts_header.jade
        
    body
    
        include includes/_mobileNav.jade
        
        include includes/_header.jade
        
        div(id="printArea")
        
        div(id="contentAreaC")
        
            div(id="twoColumnC-sidebar" class="txtPaddingTop padBtm")
            
                div(id="rtCol-contentArea")
                
                    div(id="breadCrumbsC")
                        div(id="breadCrumbs")
                            a(href="#") Home
                            a(href="#") Driveline Additives
                            a(href="#") Automotive Gear
                            a(href="#") Automotive Gear Products
                            | HiTEC® 385: Gear Oil Additive
                    
                    div(id="document")
                        
                        h1 Performance Additives updates                            

                        div(class="subTxt") Posted: 3/12/16 | 6:00 AM CST
                        br

                        div(id="downloadDocsC")
                            a(href="#" class="downloadBtn") Download Product Data Sheet 
                                span(class="icon-download")

                            div(id="translate-doc") Translation Available: 
                                a(href="#" id="selDocLang") Select Language 
                                    span(class="icon-arrow")

                                ul(id="langDocDropDown" style="display: none;")
                                    li(id="langEnglish")
                                        a(href="#") English
                                    li(id="langChinese")
                                        a(href="#") 简体中文                                
                                    li(id="langGerman")
                                        a(href="#") German
                                    li(id="langJapanese")
                                        a(href="#") 日本語
                                    li(id="langRussian")
                                        a(href="#") Russian
                                    li(id="langSpanish")
                                        a(href="#") Español
                                    li(id="langPortugues")
                                        a(href="#") Português
                                    li(id="langFrench")
                                        a(href="#") French
                                        
                        div(id="socialC2")
                            a(class="addthis_button_compact"): span(class="icon-share")
                            a(href="#"): span(class="icon-print")
                                
                            
                    div(id="contentC")               
                        div(id="mainContentC" class="documentPagination")
                            
                            h2 The accurate measure of cetane number

                            p Q. Why is cetane number important? <br>Cetane number is a measure of the compression ignition behaviour of a diesel fuel. The higher the cetane number the shorter the ignition delay period, a diesel fuel having a high cetane number has good ignition properties. Increasing the natural cetane level of a fuel with cetane improver additives has a positive impact on:
                            br
                            
                            ul
                                li Refinery economics by offering a cost effective route to specification compliance
                                li Cold start operability
                                li Reducing harmful exhaust emissions
                                li Reducing combustion noise
                            br
                            
                            img(src="page-images/document/sample-doc-img-1.gif" class="inContent")
                            br
                            br
                            
                            p Q. How is the cetane number determined? <br>The standard method for determining the cetane number of a diesel fuel is the ASTM D613 method which uses the Cooperative Fuel Research Committee (CFR) engine technique. The procedure, which was introduced in 1941, determines the cetane number of a diesel fuel comparing its ignition quality with two reference blends of known cetane number under the same operating conditions.

                            p The method uses a single-cylinder CFR engine operated under specified conditions and the cetane number scale is based on the two reference fuels. ASTM D613 has been used for many years but is known to be a time consuming test of limited precision. It also requires
                            
                            img(src="page-images/document/sample-doc-img-2.jpg" class="inContent")
                            br
                            br
                            
                            p Q. What is Cetane Index? <br>Due to the shortcomings of the CFR engine test refineries have developed prediction equations known as cetane index. Cetane index is a convenient tool by which refineries can ensure their fuel meets the cetane number specification. The cetane index prediction equation is based upon the density and mid-boiling point of the ASTM D86 distillation. Although cetane index gives a reasonable prediction of cetane number it cannot be accepted as a true measure of the cetane number of a diesel fuel. Consequently there has, for a long time, been a requirement for a more convenient and more precise alternative to the CFR procedure for cetane number determination.
                            
                            img(src="page-images/document/sample-doc-img-3.gif" class="inContent")
                            br
                            br
                            
                            p Q. And new methods? <br>In 1994 a Canadian company, Advanced Engine Technology, developed an alternative procedure for the determination of the cetane number of diesel fuel. This method is referred to as the Ignition Quality Tester (IQT). This procedure is more convenient than ASTM D613 and correlates better to the ignition characteristics than cetane index. It also provides cetane number determinations within 20 minutes and has better precision than the CFR engine. The procedure was published as ASTM D6890 in 2004 and in 2006 was included in the US diesel fuel specification, ASTM D975. There are now more than 100 installations of this equipment worldwide with 45 in Europe and 26 operating in local refineries.
                            
                            p Q. How does the IQT system work? <br>This procedure works on the basis of compression ignition technique where fuel is directly injected into compressed air controlled at a specific temperature and pressure. Time from injection to combustion is measured as the ignition delay period and an equation is then used to calculate the derived cetane number. The graph below clearly demonstrates the close correlation between cetane number from the CFR engine and the derived cetane number from the IQT test both with and without the use of cetane improver. 

                            p The application of this procedure together with the use of cetane improver has allowed refineries to cost effectively meet diesel fuel cetane number requirements.
                            
                            img(src="page-images/document/sample-doc-img-4.jpg" class="inContent")
                            br
                            br
                            
                            h2 Summary
                            
                            p Refineries are under increasing pressure to meet demanding fuel specifications in the most cost effective way. This requires the application of test methods which are both accurate and capable of delivering results within the required time scale, dictated by fuel production and delivery. The IQT test procedure is proven to deliver the timely and reliable results refineries need. In addition, the IQT test allows refineries to meet the cetane number specification by either component blending or the application of cetane improver additive. Afton uses IQT for cetane measurements and for supporting product performance claims. Afton Chemical has internal IQT test capabilities. 
                            
                            page-break
                            
                            page-break
                            
                            p 2 Lorem ipsum dolor sit 
                            
                            page-break
                            
                            p 3 Lorem ipsum dolor sit 
                            
                        div(class="padBtm")
                            div(class="paginationC" style="display: none;")
                                a(href="#" class="prev")
                                span(class="pageNumbers")
                                a(href="#" class="next")
                            
                            
                div(id="lftCol-sidebar")
                    
                    div(id="sidbarHdrC" class="altSidbarstyles")
                        h2 Sub Navigation Title
                    div(id="sidbarNavC")
                        ul
                            li: a(href="#") Sub Navigation Title
                            li: a(href="#") Sub Navigation Title
                            li: a(href="#") Sub Navigation Title
                            li: a(href="#") Sub Navigation Title
                            li: a(href="#") Sub Navigation Title
                            li: a(href="#") Sub Navigation Title
                            li: a(href="#") Sub Navigation Title
                            li: a(href="#") Sub Navigation Title
                            li: a(href="#") Sub Navigation Title
                            li: a(href="#") Sub Navigation Title 
                    
                    img(class="sidbarImg" src="page-images/sidebar-images/sidebar-contact.jpg")
                    
                    div(class="sidbarBoxC")
                        
                        div(class="hdr") Contact for More Information
                        div(class="txt") Um sundae culles aboritia as aut acit volorum eumqui quam quidele secatec toratemquam.
                        
                        
                        div(class="customSelectC sidebarOpt")
                          div(class="orgSelect")
                            select(name="Countries")
                                option(value="") Select Your Country
                                option(value="Afghanistan") Afghanistan
                                option(value="Albania") Albania
                                option(value="Algeria") Algeria
                                option(value="American Samoa") American Samoa
                                option(value="Andorra") Andorra
                                option(value="Angola") Angola
                                option(value="Anguilla") Anguilla
                                option(value="Antartica") Antarctica
                                option(value="Antigua and Barbuda") Antigua and Barbuda
                                option(value="Argentina") Argentina
                                option(value="Armenia") Armenia
                                option(value="Aruba") Aruba
                                option(value="Australia") Australia
                                option(value="Austria") Austria
                                option(value="Azerbaijan") Azerbaijan
                                option(value="Bahamas") Bahamas
                                option(value="Bahrain") Bahrain
                                option(value="Bangladesh") Bangladesh
                                option(value="Barbados") Barbados
                                option(value="Belarus") Belarus
                                option(value="Belgium") Belgium
                                option(value="Belize") Belize
                                option(value="Benin") Benin

                    
                    div(class="sidbarBoxC")
                        div(class="hdr") Stay Informed
                        div(class="txt") Um sundae culles aboritia as aut acit volorum eumqui quam quidele secatec toratemquam.
                        input(type="text" class="txtBox" placeholder="Email Address")
                        input(type="submit" class="submitBtn" value="Submit")
                        
                    
                    div(class="sidbarBoxC")
                        div(class="hdr") Insights & Resources
                        
                        div(class="twoCol")
                        
                            a(href="#")
                                img(src="page-images/sidebar-images/sidebar-res-driveline.jpg")

                                div(class="txtCol")
                                    div(class="sTxt") Driveline Article
                                    Um sundae culles aboritia aut acit volorum eumqui toratemquam.
                            
                            a(href="#")
                                img(src="page-images/sidebar-images/sidebar-res-prod.jpg")

                                div(class="txtCol")
                                    div(class="sTxt") Driveline Article
                                    Um sundae culles aboritia aut acit volorum eumqui toratemquam.
                                    
                            
                    div(class="sidbarBoxC")
                        div(class="hdr") Passion: Our Communities
                        
                        div(class="twoCol")
                        
                            a(href="#")
                                img(src="page-images/sidebar-images/sidebar-res-passion.jpg")

                                div(class="txtCol")
                                    div(class="sTxt") Bicycling for Multiple Sclerosis
                                    Um sundae culles aboritia aut acit volorum eumqui toratemquam.
            
            
            div(class="bgGray padTopBtm")
                div(class="fullWidth")
                        h2 Automotive Gear Products

                div(class="cards2C")
                    div(class="cards2")

                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 

                            img(src="page-images/cards/sample-cardv2.jpg")

                            div(class="textAreaC")
                                div(class="cardTitle") Driveline Additives
                                div(class="cardHdr") HiTEC® 349
                                div(class="cardSubHdr") Manual Transmissions
                                div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials. 

                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 

                            img(src="page-images/cards/sample-cardv2.jpg")

                            div(class="textAreaC")
                                div(class="cardTitle") Driveline Additives
                                div(class="cardHdr") HiTEC® 349
                                div(class="cardSubHdr") Manual Transmissions
                                div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials.

                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 

                            img(src="page-images/cards/sample-cardv2.jpg")

                            div(class="textAreaC")
                                div(class="cardTitle") Driveline Additives
                                div(class="cardHdr") HiTEC® 349
                                div(class="cardSubHdr") Manual Transmissions
                                div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials.

                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 

                            img(src="page-images/cards/sample-cardv2.jpg")

                            div(class="textAreaC")
                                div(class="cardTitle") Driveline Additives
                                div(class="cardHdr") HiTEC® 349
                                div(class="cardSubHdr") Manual Transmissions
                                div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials.


                div(class="fullWidth")
                    a(href="#" class="viewAllBtn") View All Automotive Gear Products
                    
            
            
            div(class="borders bgPattern padTopBtm")
                div(class="fullWidth")
                        h2 Insights & Resources  

                div(class="cardsC")
                    div(class="cards")

                        a(href="http://google.com")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") News
                                    div(class="cardHdr") Afton Chemical to exhibit and present at annual international CTI Symposium. 
                                div(class="cardDate") March 27, 2015
                            div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card1.jpg")


                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") Events
                                    div(class="cardHdr") Afton Chemical breaks ground for its facility in Singapore.
                                    div(class="cardTxt") Production of the next generation of additive solutions is set to begin in January 2016.
                            div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card2.jpg")


                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") Fact Sheet
                                    div(class="cardHdr") Automatic Transmissions
                                    div(class="cardTxt") Afton Chemical develops and manufacturers petroleum additives that enhances the performance of fuels and lubricating oils in machinery and vehicles.

                            div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card3.jpg")
                            
        
        
        include includes/_footer.jade