doctype 

html(lang='en')

    head
        
        title=""
        meta(name="description" content="")
        meta(name="keywords" content="")
        
        include includes/_scripts_header.jade
        
    body
    
        include includes/_mobileNav.jade
        
        include includes/_header.jade
        
        div(id="printArea")
        
        div(id="contentAreaC")
        
            div(id="twoColumnC-sidebar" class="txtPaddingTop padBtm")
            
                div(id="rtCol-contentArea")
                
                    div(id="breadCrumbsC")
                        div(id="breadCrumbs")
                            a(href="#") Home
                            a(href="#") Driveline Additives
                            a(href="#") Automotive Gear
                            a(href="#") Automotive Gear Products
                            | HiTEC® 385: Gear Oil Additive
                    
                    div(id="document")
                        
                        h1 Performance Additives updates                            

                        div(class="subTxt") Posted: 3/12/16 | 6:00 AM CST
                        br

                        div(id="downloadDocsC" class="noPrintDisplay")
                            a(href="#" class="downloadBtn" target="_blank") Download Product Data Sheet 
                                span(class="icon-download")

                            div(id="translate-doc") Select Language: 
                                a(href="#" id="selDocLang") 
                                    span(class="icon-arrow")

                                ul(id="langDocDropDown" style="display: none;")
                                    li(id="langEnglish")
                                        a(href="#" data-download="http://google.com") English
                                    li(id="langChinese")
                                        a(href="#" data-download="http://yahoo.com") 简体中文                                
                                    li(id="langGerman" class="selected")
                                        a(href="#" data-download="http://aol.com") German
                                    li(id="langJapanese")
                                        a(href="#" data-download="http://facebook.com") 日本語
                                    li(id="langRussian")
                                        a(href="#" data-download="http://bing.com") Russian
                                    li(id="langSpanish")
                                        a(href="#" data-download="http://msn.com") Español
                                    li(id="langPortugues")
                                        a(href="#" data-download="http://stackoverflow.com") Português
                                    li(id="langFrench")
                                        a(href="#" data-download="http://gmail.com") French
                                        
                        div(id="socialC2" class="noPrintDisplay")
                            a(class="addthis_button_compact"): span(class="icon-share")
                            a(href="#"): span(class="icon-print")
                                
                            
                    div(id="contentC")               
                        div(id="mainContentC" class="documentPagination")
                            
                            h2 The accurate measure of cetane number
                            h3 The accurate measure of cetane number
                            
                            <div class="video-container">
                            <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/bdY6YEq_6rE" width="560"></iframe>
                            </div>
                            
                            br
                            p <strong>Q. Why is cetane number important?</strong><br>Cetane number is a measure of the compression ignition behaviour of a diesel fuel. The higher the cetane number the shorter the ignition delay period, a diesel fuel having a high cetane number has good ignition properties. Increasing the natural cetane level of a fuel with cetane improver additives has a positive impact on:
                            br
                            
                            ul
                                li Refinery economics by offering a cost effective route to specification compliance
                                li Cold start operability
                                li Reducing harmful exhaust emissions
                                li Reducing combustion noise
                            br
                            
                            img(src="page-images/document/sample-doc-img-1.gif" class="inContent")
                            br
                            br
                            
                            p <strong>Q. How is the cetane number determined?</strong><br> The standard method for determining the cetane number of a diesel fuel is the ASTM D613 method which uses the Cooperative Fuel Research Committee (CFR) engine technique. The procedure, which was introduced in 1941, determines the cetane number of a diesel fuel comparing its ignition quality with two reference blends of known cetane number under the same operating conditions.

                            p The method uses a single-cylinder CFR engine operated under specified conditions and the cetane number scale is based on the two reference fuels. ASTM D613 has been used for many years but is known to be a time consuming test of limited precision. It also requires
                            
                            img(src="page-images/document/sample-doc-img-2.jpg" class="inContent")
                            br
                            br
                            
                            p <strong>Q. What is Cetane Index?</strong><br> Due to the shortcomings of the CFR engine test refineries have developed prediction equations known as cetane index. Cetane index is a convenient tool by which refineries can ensure their fuel meets the cetane number specification. The cetane index prediction equation is based upon the density and mid-boiling point of the ASTM D86 distillation. Although cetane index gives a reasonable prediction of cetane number it cannot be accepted as a true measure of the cetane number of a diesel fuel. Consequently there has, for a long time, been a requirement for a more convenient and more precise alternative to the CFR procedure for cetane number determination.
                            
                            img(src="page-images/document/sample-doc-img-3.gif" class="inContent")
                            br
                            br
                            
                            p <strong>Q. And new methods?</strong><br> In 1994 a Canadian company, Advanced Engine Technology, developed an alternative procedure for the determination of the cetane number of diesel fuel. This method is referred to as the Ignition Quality Tester (IQT). This procedure is more convenient than ASTM D613 and correlates better to the ignition characteristics than cetane index. It also provides cetane number determinations within 20 minutes and has better precision than the CFR engine. The procedure was published as ASTM D6890 in 2004 and in 2006 was included in the US diesel fuel specification, ASTM D975. There are now more than 100 installations of this equipment worldwide with 45 in Europe and 26 operating in local refineries.
                            
                            p <strong>Q. How does the IQT system work?</strong><br> This procedure works on the basis of compression ignition technique where fuel is directly injected into compressed air controlled at a specific temperature and pressure. Time from injection to combustion is measured as the ignition delay period and an equation is then used to calculate the derived cetane number. The graph below clearly demonstrates the close correlation between cetane number from the CFR engine and the derived cetane number from the IQT test both with and without the use of cetane improver. 

                            p The application of this procedure together with the use of cetane improver has allowed refineries to cost effectively meet diesel fuel cetane number requirements.
                            
                            img(src="page-images/document/sample-doc-img-4.jpg" class="inContent")
                            br
                            br
                            
                            h2 Summary
                            
                            p Refineries are under increasing pressure to meet demanding fuel specifications in the most cost effective way. This requires the application of test methods which are both accurate and capable of delivering results within the required time scale, dictated by fuel production and delivery. The IQT test procedure is proven to deliver the timely and reliable results refineries need. In addition, the IQT test allows refineries to meet the cetane number specification by either component blending or the application of cetane improver additive. Afton uses IQT for cetane measurements and for supporting product performance claims. Afton Chemical has internal IQT test capabilities. 
                            
                            page-break
                            
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at neque rhoncus lacus eleifend convallis lobortis id orci. Aenean tincidunt imperdiet nisi, at pulvinar enim congue sit amet. Nunc molestie, tellus id commodo fringilla, nunc nulla sodales est, in maximus sem nisl id turpis. Donec nec sapien rutrum orci mattis tincidunt eu a ligula. Sed eget urna in est posuere molestie. Phasellus laoreet libero quam, vel mattis tortor aliquet ut. Duis aliquam velit sit amet metus pulvinar, eu faucibus purus commodo. Vivamus vel mattis odio.

                            p Duis quis malesuada quam, eu porta dui. In at ultricies leo, vel viverra elit. Aliquam maximus lobortis tincidunt. Sed elementum fringilla nisl, a condimentum odio auctor quis. Vestibulum sed faucibus eros. Pellentesque tristique sapien tincidunt, laoreet neque a, elementum magna. Vestibulum iaculis lectus nec sem pulvinar accumsan at quis ante. Duis vel facilisis nisl, eget posuere nunc. Proin sed arcu pellentesque, rhoncus risus quis, interdum purus. Mauris mollis semper tellus. Vivamus tortor orci, tristique ut sapien ut, pellentesque porttitor tortor. Sed et sollicitudin enim. Proin mattis ligula sit amet erat dictum fringilla.
                            
                            page-break
                            
                            p Vivamus non mauris id tortor laoreet vulputate quis vitae justo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec vehicula aliquet elit placerat laoreet. Donec at mauris mi. Nullam dictum nisi at purus placerat volutpat. Praesent vitae ligula neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

                            p Pellentesque euismod interdum orci, ac ornare felis condimentum quis. Integer sit amet risus posuere, malesuada leo a, rhoncus nulla. Nunc ipsum ipsum, lobortis eget massa non, viverra imperdiet arcu. Duis et elit ligula. Nunc vitae lacus id quam maximus accumsan quis a enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam congue erat ac metus ullamcorper, vel dapibus erat egestas. Nulla libero libero, efficitur nec congue ut, blandit sit amet tellus. Duis at magna feugiat, rhoncus arcu eget, scelerisque ante. Sed scelerisque magna in auctor tempus.

                            p Duis fringilla eros quis velit gravida consequat. Quisque ullamcorper metus id fringilla tristique. Nullam arcu sapien, luctus ut consectetur sed, condimentum id lacus. Cras nec erat vel elit tincidunt hendrerit vel ut turpis. Duis eleifend dui nec neque faucibus, ut vestibulum nisl efficitur. Aenean vel elit ut lorem semper condimentum. Maecenas tristique turpis quis elit aliquet, ac tempor lorem consequat. Morbi molestie a lacus ornare lacinia. Nulla et dolor et magna fringilla consequat.

                            p Maecenas risus est, tincidunt porttitor pulvinar sed, egestas ut risus. Nam nunc lacus, dictum vitae orci eleifend, varius hendrerit urna. Vivamus id tortor nisi. Sed luctus, orci vestibulum convallis fringilla, urna turpis ultricies purus, vitae hendrerit nibh ipsum nec turpis. Ut feugiat arcu luctus, maximus lacus eu, dignissim erat. Nullam volutpat eu dolor non imperdiet. Integer et quam id dolor mollis consequat sed ut arcu.

                            p Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque vestibulum congue lectus, ac volutpat quam aliquet at. Pellentesque tincidunt, magna at interdum pulvinar, purus mi pulvinar dolor, nec elementum felis sem a ipsum. Nulla non tellus dui. Vestibulum eu imperdiet nulla, et tempus nisl. Aenean lobortis justo mi. Cras neque nibh, blandit quis lorem ut, dapibus mollis enim. Nam sit amet pharetra dui. Quisque id congue ex.
                            
                            page-break
                            
                            p Duis quis malesuada quam, eu porta dui. In at ultricies leo, vel viverra elit. Aliquam maximus lobortis tincidunt. Sed elementum fringilla nisl, a condimentum odio auctor quis. Vestibulum sed faucibus eros. Pellentesque tristique sapien tincidunt, laoreet neque a, elementum magna. Vestibulum iaculis lectus nec sem pulvinar accumsan at quis ante. Duis vel facilisis nisl, eget posuere nunc. Proin sed arcu pellentesque, rhoncus risus quis, interdum purus. Mauris mollis semper tellus. Vivamus tortor orci, tristique ut sapien ut, pellentesque porttitor tortor. Sed et sollicitudin enim. Proin mattis ligula sit amet erat dictum fringilla.

                            p Vivamus non mauris id tortor laoreet vulputate quis vitae justo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec vehicula aliquet elit placerat laoreet. Donec at mauris mi. Nullam dictum nisi at purus placerat volutpat. Praesent vitae ligula neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

                            p Pellentesque euismod interdum orci, ac ornare felis condimentum quis. Integer sit amet risus posuere, malesuada leo a, rhoncus nulla. Nunc ipsum ipsum, lobortis eget massa non, viverra imperdiet arcu. Duis et elit ligula. Nunc vitae lacus id quam maximus accumsan quis a enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam congue erat ac metus ullamcorper, vel dapibus erat egestas. Nulla libero libero, efficitur nec congue ut, blandit sit amet tellus. Duis at magna feugiat, rhoncus arcu eget, scelerisque ante. Sed scelerisque magna in auctor tempus.

                            p Duis fringilla eros quis velit gravida consequat. Quisque ullamcorper metus id fringilla tristique. Nullam arcu sapien, luctus ut consectetur sed, condimentum id lacus. Cras nec erat vel elit tincidunt hendrerit vel ut turpis. Duis eleifend dui nec neque faucibus, ut vestibulum nisl efficitur. Aenean vel elit ut lorem semper condimentum. Maecenas tristique turpis quis elit aliquet, ac tempor lorem consequat. Morbi molestie a lacus ornare lacinia. Nulla et dolor et magna fringilla consequat.

                            p Maecenas risus est, tincidunt porttitor pulvinar sed, egestas ut risus. Nam nunc lacus, dictum vitae orci eleifend, varius hendrerit urna. Vivamus id tortor nisi. Sed luctus, orci vestibulum convallis fringilla, urna turpis ultricies purus, vitae hendrerit nibh ipsum nec turpis. Ut feugiat arcu luctus, maximus lacus eu, dignissim erat. Nullam volutpat eu dolor non imperdiet. Integer et quam id dolor mollis consequat sed ut arcu.

                            p Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque vestibulum congue lectus, ac volutpat quam aliquet at. Pellentesque tincidunt, magna at interdum pulvinar, purus mi pulvinar dolor, nec elementum felis sem a ipsum. Nulla non tellus dui. Vestibulum eu imperdiet nulla, et tempus nisl. Aenean lobortis justo mi. Cras neque nibh, blandit quis lorem ut, dapibus mollis enim. Nam sit amet pharetra dui. Quisque id congue ex.

                            p Morbi imperdiet viverra ornare. Etiam velit elit, hendrerit ut mattis sit amet, cursus id turpis. Aliquam commodo a enim fermentum ornare. Pellentesque dapibus magna sed ex gravida interdum. Phasellus non efficitur magna. Etiam a efficitur eros, sit amet blandit enim. In in varius justo. In cursus congue tellus, et tempus mauris consectetur commodo. Proin eu lacus quis lectus pulvinar aliquet. Suspendisse dapibus lacus eget mattis elementum. Nullam faucibus est id dictum volutpat. Donec sollicitudin felis sed suscipit mollis.

                            p Nulla semper tincidunt venenatis. Aliquam at rutrum arcu, sit amet vulputate libero. Duis luctus dolor quis ante tempor, eu luctus magna vestibulum. Sed non nisi quam. Aliquam erat volutpat. Sed quis sapien faucibus, luctus sem eget, porta sapien. Donec nec turpis vitae leo tincidunt volutpat. Proin varius commodo cursus. Aenean dictum velit et purus convallis dapibus. Integer ligula felis, laoreet non ornare quis, rutrum eu risus. Nunc velit diam, placerat mollis ipsum pulvinar, pharetra tristique augue. Nam vel ex nec nibh ullamcorper malesuada id eget urna.

                            p Curabitur interdum quis ante id bibendum. Maecenas at erat sit amet ante semper feugiat nec et nunc. Quisque blandit, eros a bibendum posuere, neque nisi condimentum ligula, a aliquam ex magna at diam. Nam vulputate tristique erat, et porttitor quam tristique sed. Morbi vel quam a ligula vestibulum euismod. Integer et sagittis felis. Morbi a sollicitudin tellus. Integer tristique neque enim, ac lacinia nulla rhoncus ac. Fusce ac nunc nisi. In et sem a est vestibulum mattis. In magna massa, egestas et viverra a, aliquet congue eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc pulvinar suscipit volutpat. Integer at nisi dolor. Mauris finibus in turpis at dapibus.
                            
                        div(class="padBtm")
                            div(class="paginationC" style="display: none;")
                                a(href="#" class="prev")
                                span(class="pageNumbers")
                                a(href="#" class="next")
                            
                            
                div(id="lftCol-sidebar")
                    
                    div(id="sidebarHdrC" class="altSidbarstyles")
                        h2 Sub Navigation Title
                        
                    div(id="sidebarNavC")
                        ul
                            li: a(href="#") Couplers
                            li: a(href="#" class="hasChildren") Detergents & Corrosion Inhibitors
                            li
                                a(href="#" class="open active") Dispersants & Emulsifiers
                                ul
                                    li: a(href="#") Tertiary Navigation
                                    li: a(href="#") Tertiary Navigation
                                    li: a(href="#") Tertiary Navigation
                                    
                            li: a(href="#" class="hasChildren") Extreme Pressure Agents & Antiwear Agents
                            li: a(href="#") Foam Inhibitors
                            li: a(href="#" class="hasChildren") Friction Modifiers
                            li: a(href="#") Pour Point Depressants
                            li: a(href="#") Seal Swell Additives
                            li: a(href="#") Tackiness Additives
                            li: a(href="#") Thickeners & Viscosity Index Improvers 

                    
                    div(class="sidebarBoxC")
                        
                        div(class="hdr") Stay Informed
                        div(class="txt") Um sundae culles aboritia as aut acit volorum eumqui quam quidele secatec toratemquam.
                        
                        form
                            div(class="customSelectC standard")
                              div(class="orgSelect")
                                select(name="Countries")
                                    option(value="") Select Newsletter Language
                                    option(value="English") English
                                    option(value="Chinese") 简体中文
                                    option(value="Germain") German
                                    option(value="Japenese") 日本語
                                    option(value="Russian") Russian
                                    option(value="Spanish") Español
                                    option(value="Português") Português
                                    option(value="French") French
                            br
                            br
                            input(type="text" class="txtBox" placeholder="Email Address" email)
                            input(type="submit" class="submitBtn" value="Submit")
                            br 
                            br
                            
                        div(class="txt") 
                            a(href="#") Learn More
                            | &nbsp; about our newsletter.
                            
                        
                    a(href="#" class="sidebarBoxC")
                        div(class="title") DocumentTitle
                        
                        div(class="twoCol")

                            img(src="page-images/cards/sample-cardv2.jpg")

                            div(class="txtCol")
                                div(class="cat") Category Title
                                div(class="date") May 1, 2015
                                Um sundae culles aboritia aut acit volorum eumqui toratemquam.
                                
                                
                    a(href="#" class="sidebarBoxC")
                        div(class="title") Title
                        
                        div(class="twoCol")

                            img(src="page-images/cards/sample-cardv2.jpg")

                            div(class="txtCol")
                                Um sundae culles aboritia aut acit volorum eumqui toratemquam.
                                
                    
                    a(href="#" class="sidebarBoxC")
                        div(class="title") General Title
                        
                        div(class="twoCol")

                            img(src="page-images/cards/sample-cardv2.jpg")
                            
                            div(class="txtCol")
                                div(class="cat") Category Title
                                Um sundae culles aboritia aut acit volorum eumqui toratemquam.
                                
                    a(href="#" class="sidebarBoxC")
                        div(class="title") General Title
                            
                        | Um sundae culles aboritia aut acit volorum eumqui toratemquam.
                        
                    
            
            
            div(class="bgGray padTopBtm")
                div(class="fullWidth")
                        h2 Automotive Gear Products

                div(class="cardsSM_C")
                    div(class="cardsSM fourCol")

                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 
                            
                            div(class="cardHdrC" style="background-image: url(page-images/cards/sample-cardv2a.jpg);")

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardType") Driveline Additives
                                    div(class="cardHdrText") HiTEC® 349
                                    div(class="cardSubHdr") Manual Transmissions
                                    div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials.
                            
                                div(class="cardDate") May 1, 2016
                                
                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 
                            
                            div(class="cardHdrC" style="background-image: url(page-images/cards/sample-cardv2a.jpg);")

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardType") Driveline Additives
                                    div(class="cardHdrText") HiTEC® 349
                                    div(class="cardSubHdr") Manual Transmissions
                                    div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials.
                            
                                div(class="cardDate") May 1, 2016
                                
                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 
                            
                            div(class="cardHdrC" style="background-image: url(page-images/cards/sample-cardv2a.jpg);")

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardType") Driveline Additives
                                    div(class="cardHdrText") HiTEC® 349
                                    div(class="cardSubHdr") Manual Transmissions
                                    div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials.
                            
                                div(class="cardDate") May 1, 2016
                                
                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 
                            
                            div(class="cardHdrC" style="background-image: url(page-images/cards/sample-cardv2a.jpg);")

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardType") Driveline Additives
                                    div(class="cardHdrText") HiTEC® 349
                                    div(class="cardSubHdr") Manual Transmissions
                                    div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials.
                            
                                div(class="cardDate") May 1, 2016


                div(class="fullWidth")
                    a(href="#" class="viewAllBtn") View All Automotive Gear Products
                    
            
            
            div(class="borders bgPattern padTopBtm")
                div(class="fullWidth")
                        h2 Insights & Resources  

                div(class="cardsC")
                    div(class="cards")

                        a(href="http://google.com")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") News
                                    div(class="cardHdr") Afton Chemical to exhibit and present at annual international CTI Symposium. 
                                div(class="cardDate") March 27, 2015
                                
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card1.jpg")


                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") Events
                                    div(class="cardHdr") Afton Chemical breaks ground for its facility in Singapore.
                                    div(class="cardTxt") Production of the next generation of additive solutions is set to begin in January 2016.
                                    
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card2.jpg")


                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") Fact Sheet
                                    div(class="cardHdr") Automatic Transmissions
                                    div(class="cardTxt") Afton Chemical develops and manufacturers petroleum additives that enhances the performance of fuels and lubricating oils in machinery and vehicles.
                            
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card3.jpg")
                            
        
        
        include includes/_footer.jade