doctype 

html(lang='en')

    head
        
        title=""
        meta(name="description" content="")
        meta(name="keywords" content="")
        
        include includes/_scripts_header.jade
        
    body
        
        include includes/_cookieOverlay.jade
        
        include includes/_mobileNav.jade
        
        include includes/_header.jade
        
        div(id="contentAreaC")
        
            div(id="twoColumnC-sidebar" class="txtPaddingTop padBtm")
            
                div(id="rtCol-contentArea")
                
                    div(id="breadCrumbsC")
                        div(id="breadCrumbs")
                            a(href="#") Home
                            a(href="#") Driveline Additives
                            a(href="#") Automotive Gear
                            a(href="#") Automotive Gear Products
                            | HiTEC® 385: Gear Oil Additive
                    
                    div(id="faqsHdrC" class="txtPaddingTop padBtm")
                    
                        h1 FAQs
                        br
                        div(class="subTxt") Sort by:
                        
                        div(id="faqDD" class="customSelectC standard")
                            div(class="orgSelect")
                                select(name="faqs")
                                    option(value="View-All-FAQs") View All FAQs
                                    option(value="Driveline-Additives-FAQs") Driveline Additives FAQs
                                    option(value="Engilne-Oil-Additives-FAQs") Engilne Oil Additives FAQs
                                    option(value="Fuel-Additives-FAQs") Fuel Additives FAQs
                                    option(value="Industrial-Additives-FAQs") Industrial Additives FAQs
                                    option(value="Lubricant-Components-FAQs") Lubricant Components FAQs
                    
                    div(id="faqItems")
                        
                        div(id="Driveline-Additives-FAQs" class="faqGroup")
                            
                            h2 Driveline Additives FAQs 

                            ul(class="accordC txtPaddingTop")
                                li

                                    a(href="#")
                                        div(class="icon")
                                        | 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in

                                    div(class="reveal" style="display: none;")
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 

                                li

                                    a(href="#")
                                        div(class="icon")
                                        | 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in

                                    div(class="reveal" style="display: none;")
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem.

                                li
                                    a(href="#")
                                        div(class="icon")
                                        | 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in

                                    div(class="reveal" style="display: none;")
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 

                                li
                                    a(href="#")
                                        div(class="icon")
                                        | 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in

                                    div(class="reveal" style="display: none;")
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem.
                        
                        div(id="Engilne-Oil-Additives-FAQs" class="faqGroup")
                            
                            h2 Engine Oil Additives FAQs 

                            ul(class="accordC txtPaddingTop")
                                li

                                    a(href="#")
                                        div(class="icon")
                                        | 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in

                                    div(class="reveal" style="display: none;")
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 

                                li

                                    a(href="#")
                                        div(class="icon")
                                        | 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in

                                    div(class="reveal" style="display: none;")
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem.

                                li
                                    a(href="#")
                                        div(class="icon")
                                        | 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in

                                    div(class="reveal" style="display: none;")
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 

                                li
                                    a(href="#")
                                        div(class="icon")
                                        | 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in

                                    div(class="reveal" style="display: none;")
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem.
                            
                        div(id="Fuel-Additives-FAQs" class="faqGroup")
                        
                            h2 Fuel Additives FAQs 

                            ul(class="accordC txtPaddingTop")
                                li

                                    a(href="#")
                                        div(class="icon")
                                        | 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in

                                    div(class="reveal" style="display: none;")
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 

                                li

                                    a(href="#")
                                        div(class="icon")
                                        | 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in

                                    div(class="reveal" style="display: none;")
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem.

                                li
                                    a(href="#")
                                        div(class="icon")
                                        | 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in

                                    div(class="reveal" style="display: none;")
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 

                                li
                                    a(href="#")
                                        div(class="icon")
                                        | 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in

                                    div(class="reveal" style="display: none;")
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem.
                                    
                        div(id="Industrial-Additives-FAQs" class="faqGroup")
                        
                            h2 Industrial Additives FAQs 

                            ul(class="accordC txtPaddingTop")
                                li

                                    a(href="#")
                                        div(class="icon")
                                        | 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in

                                    div(class="reveal" style="display: none;")
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 

                                li

                                    a(href="#")
                                        div(class="icon")
                                        | 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in

                                    div(class="reveal" style="display: none;")
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem.

                                li
                                    a(href="#")
                                        div(class="icon")
                                        | 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in

                                    div(class="reveal" style="display: none;")
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 

                                li
                                    a(href="#")
                                        div(class="icon")
                                        | 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in

                                    div(class="reveal" style="display: none;")
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem.
                                
                        div(id="Lubricant-Components-FAQs" class="faqGroup")
                            h2 Lubricant Components FAQs 

                            ul(class="accordC txtPaddingTop")
                                li

                                    a(href="#")
                                        div(class="icon")
                                        | 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in

                                    div(class="reveal" style="display: none;")
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 

                                li

                                    a(href="#")
                                        div(class="icon")
                                        | 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in

                                    div(class="reveal" style="display: none;")

                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem.

                                li
                                    a(href="#")
                                        div(class="icon")
                                        | 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in

                                    div(class="reveal" style="display: none;")
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 

                                li
                                    a(href="#")
                                        div(class="icon")
                                        | 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in

                                    div(class="reveal" style="display: none;")
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem.


                            
                div(id="lftCol-sidebar")
                    div(id="sidebarHdrC" class="altSidbarstyles")
                        h2 Sub Navigation Title
                    div(id="sidebarNavC")
                        ul
                            li: a(href="#") Couplers
                            li: a(href="#" class="hasChildren") Detergents & Corrosion Inhibitors
                            li
                                a(href="#" class="open active") Dispersants & Emulsifiers
                                ul
                                    li: a(href="#") Tertiary Navigation
                                    li: a(href="#") Tertiary Navigation
                                    li: a(href="#") Tertiary Navigation
                                    
                            li: a(href="#" class="hasChildren") Extreme Pressure Agents & Antiwear Agents
                            li: a(href="#") Foam Inhibitors
                            li: a(href="#" class="hasChildren") Friction Modifiers
                            li: a(href="#") Pour Point Depressants
                            li: a(href="#") Seal Swell Additives
                            li: a(href="#") Tackiness Additives
                            li: a(href="#") Thickeners & Viscosity Index Improvers 
                    
                    
                    div(class="sidebarBoxC")
                        
                        div(class="hdr") Stay Informed
                        div(class="txt") Um sundae culles aboritia as aut acit volorum eumqui quam quidele secatec toratemquam.
                        
                        form
                            div(class="customSelectC standard")
                              div(class="orgSelect")
                                select(name="Countries")
                                    option(value="") Select Newsletter Language
                                    option(value="English") English
                                    option(value="Chinese") 简体中文
                                    option(value="Germain") German
                                    option(value="Japenese") 日本語
                                    option(value="Russian") Russian
                                    option(value="Spanish") Español
                                    option(value="Português") Português
                                    option(value="French") French
                            br
                            br
                            input(type="text" class="txtBox" placeholder="Email Address" email)
                            input(type="submit" class="submitBtn" value="Submit")
                            br 
                            br
                            
                        div(class="txt") 
                            a(href="#") Learn More
                            | &nbsp; about our newsletter.
                        
            

            div(class="borders bgPattern padTopBtm")
                div(class="fullWidth")
                        h2 Personalized Content Title 

                div(class="cardsC")
                    div(class="cards")

                        a(href="http://google.com")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") News
                                    div(class="cardHdr") Afton Chemical to exhibit and present at annual international CTI Symposium. 
                                div(class="cardDate") March 27, 2015
                                
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card1.jpg")


                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") Events
                                    div(class="cardHdr") Afton Chemical breaks ground for its facility in Singapore.
                                    div(class="cardTxt") Production of the next generation of additive solutions is set to begin in January 2016.
                                    
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card2.jpg")


                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") Fact Sheet
                                    div(class="cardHdr") Automatic Transmissions
                                    div(class="cardTxt") Afton Chemical develops and manufacturers petroleum additives that enhances the performance of fuels and lubricating oils in machinery and vehicles.
                            
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card3.jpg")
                            
                            
        include includes/_footer.jade
                            