doctype 

html(lang='en')

    head
        
        title=""
        meta(name="description" content="")
        meta(name="keywords" content="")
        
        include includes/_scripts_header.jade
        
    body
        
        include includes/_cookieOverlay.jade
        
        include includes/_mobileNav.jade
        
        include includes/_header.jade
        
        div(id="contentAreaC")
        
            div(id="twoColumnC-sidebar" class="txtPaddingTop padBtm")


                div(id="rtCol-contentArea")

                    div(id="breadCrumbsC")
                        div(id="breadCrumbs")
                            a(href="#") Home
                            a(href="#") Nav Item
                            | Nav Item
                    
                    div(id="contentC")
                        h1(class="txtPaddingTop")
                            | History

                        div(id="mainContentC")

                            p <strong>Beginning as a paper company during the height of the Industrial Revolution, our path to the 21st Century has been a fascinating one. Learn more by scrolling over the individual milestones in the timeline below.</strong>
                            
                            hr
                            
                            p Click to learn more:
                            
                            p 
                                span(class="aLink"): a(href="#beginnings") Beginnings
                                span(class="aLink"): a(href="#the-early-years") The Early Years
                                span(class="aLink"): a(href="#the-growth-years") The Growth Years
                                span(class="aLink"): a(href="#today") Today
                            
                            hr
                            
                            a(name="beginnings")
                            
                            h2 Beginnings(1887-1941)
                            
                            div(class="inner-2ColumnImgTxt")
                                
                                img(src="page-images/history/logo-albemarle.gif")
                                
                                div(class="innerRt")
                                    h3 1887 – Albemarle Paper Manufacturing Company founded
                                    | Five Richmond, Virginia businessmen begin a new venture to manufacture Kraft and blotting paper.
                                    
                                    
                             div(class="inner-2ColumnImgTxt")
                                
                                img(src="page-images/history/photo-gen-motors.jpg")
                                
                                div(class="innerRt")
                                    h3 1921 – General Motors Chemical Corporation founded in Ohio
                                    | Charles Kettering forms a new company, which adds chemicals to gasoline to reduce engine "knock."
                                    
                                    
                            div(class="inner-2ColumnImgTxt")
                                
                                img(src="page-images/history/logo-ethyl.jpg")
                                
                                div(class="innerRt")
                                    h3 1924 – Ethyl Gasoline Corporation
                                    | As Kettering's company grows, its name is changed to Ethyl Gasoline Corporation.
                                    
                                    
                            div(class="inner-2ColumnImgTxt")
                                
                                img(src="page-images/history/photo-floyd.jpg")
                                
                                div(class="innerRt")
                                    h3 1941 – Floyd D. Gottwald becomes Albemarle President
                                    | With the decline in paper industry profits, Gottwald sees a future in polyethylene film, and looks to acquire a chemical company.
                                    
                            
                            p
                                span(class="backToTop")
                                    a(href="#top") Back To Top
                                    
                                    
                            a(name="the-early-years")
                            
                            h2 The Early Years (1962-1991)
                            
                            div(class="inner-2ColumnImgTxt")
                                
                                img(src="page-images/history/article-surprise-acquisition.jpg")
                                
                                div(class="innerRt")
                                    h3 1962 – A surprising acquisition, a change in direction
                                    | In the largest leveraged buy-out in U.S. History, Albemarle Paper Co. acquires Ethyl Gasoline Corporation and adopts the Ethyl Corporation name.
                                    
                                    
                             div(class="inner-2ColumnImgTxt")
                                
                                img(src="page-images/history/logo-edwin-cooper.gif")
                                
                                div(class="innerRt")
                                    h3 1975 – Edwin Cooper, Inc. is acquired
                                    | Ethyl Corporation expands further into chemicals by acquiring a global manufacturer of lubricant additives.
                                    
                                    
                            div(class="inner-2ColumnImgTxt")
                                
                                img(src="page-images/history/logo-ethyl-consolidated.gif")
                                
                                div(class="innerRt")
                                    h3 1984 – Companies and brands are consolidated
                                    | The Edwin Cooper, Inc. brand retires and becomes Ethyl Petroleum Additives, Inc.
                                    
                                    
                            div(class="inner-2ColumnImgTxt")
                                
                                img(src="page-images/history/photo-ethyl-president.jpg")
                                
                                div(class="innerRt")
                                    h3 1991 – Ethyl announces a new President
                                    | Thomas (Teddy) Gottwald, the grandson of founder Floyd D. Gottwald, Sr., becomes President of Ethyl Petroleum Additives, Inc.
                                    
                            
                            p
                                span(class="backToTop")
                                    a(href="#top") Back To Top
                                    
                            a(name="the-growth-years")
                            
                            h2 The Growth Years (1992-2008)
                            
                            div(class="inner-2ColumnImgTxt")
                                
                                img(src="page-images/history/logo-amoco.gif")
                                
                                div(class="innerRt")
                                    h3 1992 – Major acquisitions bolster Ethyl's additives strengths
                                    | Ethyl acquires Amoco Petroleum Additives in the U.S. and Nippon Cooper in Japan, as global consolidation comes to the petroleum industry.
                                    
                                    
                             div(class="inner-2ColumnImgTxt")
                                
                                img(src="page-images/history/txt-texaco.gif")
                                
                                div(class="innerRt")
                                    h3 1996 – Further expansion strengthens Ethyl's global presence
                                    | With the acquisition of the Texaco Additives Company, Ethyl broadens product lines and enhances research capabilities.
                                    
                                    
                            div(class="inner-2ColumnImgTxt")
                                
                                img(src="page-images/history/logo-the-birth.gif")
                                
                                div(class="innerRt")
                                    h3 2004 – The birth of Afton Chemical Corporation
                                    | Ethyl Petroleum Additives, Inc. changes its name to Afton Chemical Corporation. Afton begins operating as a wholly-owned subsidiary of NewMarket Corporation.
                                    
                                    
                            div(class="inner-2ColumnImgTxt")
                                
                                img(src="page-images/history/photo-new-president.jpg")
                                
                                div(class="innerRt")
                                    h3 2004 – A new president assumes Afton Chemical Corporation leadership role
                                    | Warren Huang becomes President of Afton Chemical Corporation.
                                    
                                    
                            div(class="inner-2ColumnImgTxt")
                                
                                img(src="page-images/history/txt-ge-water.gif")
                                
                                div(class="innerRt")
                                    h3 2008 – Another milestone acquisition
                                    | Afton Chemical acquires the North American fuel additives business of GE Water and Processing Technologies.
                                    
                            
                            p
                                span(class="backToTop")
                                    a(href="#top") Back To Top
                                    
                            a(name="today")
                            
                            h2 Today (2009-Toay)
                            
                            div(class="inner-2ColumnImgTxt")
                                
                                img(src="page-images/history/photo-asia-pacific.jpg")
                                
                                div(class="innerRt")
                                    h3 2009 – Strategic investments in Asia-Pacific
                                    | Afton Chemical expands investment in the Asia-Pacific region with facilities in Shanghai, China, Tsukuba, Japan and Jurong Island, Singapore.
                                    
                                    
                             div(class="inner-2ColumnImgTxt")
                                
                                img(src="page-images/history/logo-polartech.gif")
                                
                                div(class="innerRt")
                                    h3 2010 – Polartech
                                    | Afton acquires Polartech, expanding their product offering for metalworking fluid additives and adding R&D and manufacturing facilities in the UK, and manufacturing sites in India, China and the U.S.
                                    
                                    
                            div(class="inner-2ColumnImgTxt")
                                
                                img(src="page-images/history/photo-new-president2.jpg")
                                
                                div(class="innerRt")
                                    h3 2012 – Afton Chemical announces a new president
                                    | Robert Shama becomes president of Afton Chemical Corporation.
                                    
                                     
                            div(class="inner-2ColumnImgTxt")
                                
                                img(src="page-images/history/logo-today.gif")
                                
                                div(class="innerRt")
                                    h3 Today - Always looking to the future
                                    | Afton Chemical is committed to innovative technology and world-class research. We'll continue to offer customers new and improved technologies, superior and cost-effective product performance, and leading edge technical support - all driven by our Passion for Solutions&reg;.
                                    
                            
                            p
                                span(class="backToTop")
                                    a(href="#top") Back To Top
                                    
                            
                div(id="lftCol-sidebar")
                
                    div(id="sidebarHdrC" class="altSidbarstyles")
                        h2 Sub Navigation Title

                    div(id="sidebarNavC")
                        ul
                            li: a(href="#") Sub Navigation
                            li: a(href="#") Sub Navigation
                            li: a(href="#") Sub Navigation
                            li: a(href="#") Sub Navigation
                            li: a(href="#") Sub Navigation
                            li: a(href="#") Sub Navigation
                            li: a(href="#") Sub Navigation
                            li: a(href="#") Sub Navigation
                            li: a(href="#") Sub Navigation
                            li: a(href="#") Sub Navigation

                    div(class="sidebarBoxC")
                        
                        div(class="hdr") Stay Informed
                        div(class="txt") Um sundae culles aboritia as aut acit volorum eumqui quam quidele secatec toratemquam.
                        
                        form
                            div(class="customSelectC standard")
                              div(class="orgSelect")
                                select(name="Countries")
                                    option(value="") Select Newsletter Language
                                    option(value="English") English
                                    option(value="Chinese") 简体中文
                                    option(value="Germain") German
                                    option(value="Japenese") 日本語
                                    option(value="Russian") Russian
                                    option(value="Spanish") Español
                                    option(value="Português") Português
                                    option(value="French") French
                            br
                            br
                            input(type="text" class="txtBox" placeholder="Email Address" email)
                            input(type="submit" class="submitBtn" value="Submit")
                            br 
                            br
                            
                        div(class="txt") 
                            a(href="#") Learn More
                            | &nbsp; about our newsletter.
                            
                    a(href="#" class="sidebarBoxC")
                        div(class="title") DocumentTitle
                        
                        div(class="twoCol")

                            img(src="page-images/cards/sample-cardv2.jpg")

                            div(class="txtCol")
                                div(class="cat") Category Title
                                div(class="date") May 1, 2015
                                Um sundae culles aboritia aut acit volorum eumqui toratemquam.
                                
                                
                    a(href="#" class="sidebarBoxC")
                        div(class="title") Title
                        
                        div(class="twoCol")

                            img(src="page-images/cards/sample-cardv2.jpg")

                            div(class="txtCol")
                                Um sundae culles aboritia aut acit volorum eumqui toratemquam.
                                
                    
                    a(href="#" class="sidebarBoxC")
                        div(class="title") General Title
                        
                        div(class="twoCol")

                            img(src="page-images/cards/sample-cardv2.jpg")
                            
                            div(class="txtCol")
                                div(class="cat") Category Title
                                Um sundae culles aboritia aut acit volorum eumqui toratemquam.
                                
                    a(href="#" class="sidebarBoxC")
                        div(class="title") General Title
                            
                        | Um sundae culles aboritia aut acit volorum eumqui toratemquam.
                        



            div(class="bgGray padTopBtm")
                div(class="fullWidth")
                        h2 Automotive Gear Products

                div(class="cardsSM_C")
                    div(class="cardsSM fourCol")

                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 
                            
                            div(class="cardHdrC" style="background-image: url(page-images/cards/sample-cardv2a.jpg);")

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardType") Driveline Additives
                                    div(class="cardHdrText") HiTEC® 349
                                    div(class="cardSubHdr") Manual Transmissions
                                    div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials.
                            
                                div(class="cardDate") May 1, 2016
                        
                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 
                            
                            div(class="cardHdrC" style="background-image: url(page-images/cards/sample-cardv2a.jpg);")

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardType") Driveline Additives
                                    div(class="cardHdrText") HiTEC® 349
                                    div(class="cardSubHdr") Manual Transmissions
                                    div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials.
                            
                                div(class="cardDate") May 1, 2016
                                
                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 
                            
                            div(class="cardHdrC" style="background-image: url(page-images/cards/sample-cardv2a.jpg);")

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardType") Driveline Additives
                                    div(class="cardHdrText") HiTEC® 349
                                    div(class="cardSubHdr") Manual Transmissions
                                    div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials.
                            
                                div(class="cardDate") May 1, 2016
                                
                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 
                            
                            div(class="cardHdrC" style="background-image: url(page-images/cards/sample-cardv2a.jpg);")

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardType") Driveline Additives
                                    div(class="cardHdrText") HiTEC® 349
                                    div(class="cardSubHdr") Manual Transmissions
                                    div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials.
                            
                                div(class="cardDate") May 1, 2016


                div(class="fullWidth")
                    a(href="#" class="viewAllBtn") View All Automotive Gear Products



            div(class="borders bgPattern padTopBtm")
                div(class="fullWidth")
                        h2 Insights & Resources  

                div(class="cardsC")
                    div(class="cards")

                        a(href="http://google.com")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") News
                                    div(class="cardHdr") Afton Chemical to exhibit and present at annual international CTI Symposium. 
                                div(class="cardDate") March 27, 2015
                                
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card1.jpg")


                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") Events
                                    div(class="cardHdr") Afton Chemical breaks ground for its facility in Singapore.
                                    div(class="cardTxt") Production of the next generation of additive solutions is set to begin in January 2016.
                                    
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card2.jpg")


                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") Fact Sheet
                                    div(class="cardHdr") Automatic Transmissions
                                    div(class="cardTxt") Afton Chemical develops and manufacturers petroleum additives that enhances the performance of fuels and lubricating oils in machinery and vehicles.
                            
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card3.jpg")


                    
                
        
        
        include includes/_footer.jade