doctype 

html(lang='en')

     
    head
        
        title=""
        meta(name="description" content="")
        meta(name="keywords" content="")
        
        include includes/_scripts_header.jade
         
    body
    
        include includes/_mobileNav.jade
        
        include includes/_header.jade
         
        div(id="contentAreaC")
        
            div(id="topSliderC")

                div(id="topSliderArrowsC")
                        a(href="#" id="lftArrow")
                            img(src="images/lft-slidArrow.png")
                        a(href="#" id="rtArrow")
                            img(src="images/rt-slidArrow.png")

                div(id="slidesC")

                    div(id="topSliderNavC")

                    div(id="slides")

                        div(class="slide rtLayout" style="display: none;")                    

                            div(class="slideTxtBoxC")
                                div(class="slideTxtBox")                        
                                    div(class="slideHdr")
                                        | Our culture and people are our most treasured assets 
                                    div(class="slideTxt")
                                        | A key player in the lubricant and fuel industry with over 90 years of customer collaboration.
                                    a(href="#s1") Learn More
                                        span(class="icon-arrow")

                            div(class="slideImgBoxC")
                                img(src="page-images/home-slider/lft-sample1.jpg")


                        div(class="slide lftLayout" style="display: none;")

                            div(class="slideTxtBoxC")
                                div(class="slideTxtBox")
                                    div(class="slideHdr")
                                        | Where innovative chemistry leads to customized solutions
                                    div(class="slideTxt")
                                        | A key player in the lubricant and fuel industry with over 90 years of customer collaboration. 
                                    a(href="#s2") Learn More 
                                        span(class="icon-arrow")

                            div(class="slideImgBoxC")
                                img(src="page-images/home-slider/rt-sample1.jpg")

                        div(class="slide rtLayout" style="display: none;")                     

                            div(class="slideTxtBoxC")
                                div(class="slideTxtBox")                        
                                    div(class="slideHdr")
                                        | Our culture and people are our most treasured assets 
                                    div(class="slideTxt")
                                        | A key player in the lubricant and fuel industry with over 90 years of customer collaboration.
                                    a(href="#s1") Learn More
                                        span(class="icon-arrow")

                            div(class="slideImgBoxC")
                                img(src="page-images/home-slider/lft-sample1.jpg")


                        div(class="slide lftLayout" style="display: none;")

                            div(class="slideTxtBoxC")
                                div(class="slideTxtBox")
                                    div(class="slideHdr")
                                        | Where innovative chemistry leads to customized solutions
                                    div(class="slideTxt")
                                        | A key player in the lubricant and fuel industry with over 90 years of customer collaboration. 
                                    a(href="#s2") Learn More 
                                        span(class="icon-arrow")

                            div(class="slideImgBoxC")
                                img(src="page-images/home-slider/rt-sample1.jpg")

            div(class="cardsC bgPattern")
                div(class="cards")

                    a(href="http://google.com")
                        div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png")       
                        div(class="overlayC")
                            div(class="overlay")
                                div(class="cardTitle") News
                                div(class="cardHdr") Afton Chemical to exhibit and present at annual international CTI Symposium. 
                            div(class="cardDate") March 27, 2015
                        // Hide Card Hover HTML
                        //div(class="hoverOverlayC" style="opacity: 0.0;")
                            div(class="hoverOverlay")
                                div(class="hoverOverlayTxt")
                                    | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                            div(class="cardLearnMore") Read More
                                span(class="icon-arrow")
                        
                        img(src="page-images/cards/sample-card1.jpg")


                    a(href="#")
                        div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png")       
                        div(class="overlayC")
                            div(class="overlay")
                                div(class="cardTitle") Events
                                div(class="cardHdr") Afton Chemical breaks ground for its facility in Singapore.
                                div(class="cardTxt") Production of the next generation of additive solutions is set to begin in January 2016.
                        // Hide Card Hover HTML
                        //div(class="hoverOverlayC" style="opacity: 0.0;")
                            div(class="hoverOverlay")
                                div(class="hoverOverlayTxt")
                                    | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                            div(class="cardLearnMore") Read More
                                span(class="icon-arrow")

                        img(src="page-images/cards/sample-card2.jpg")


                    a(href="#")
                        div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png")       
                        div(class="overlayC")
                            div(class="overlay")
                                div(class="cardTitle") Fact Sheet
                                div(class="cardHdr") Automatic Transmissions
                                div(class="cardTxt") Afton Chemical develops and manufacturers petroleum additives that enhances the performance of fuels and lubricating oils in machinery and vehicles.
                        
                        // Hide Card Hover HTML
                        //div(class="hoverOverlayC" style="opacity: 0.0;")
                            div(class="hoverOverlay")
                                div(class="hoverOverlayTxt")
                                    | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                            div(class="cardLearnMore") Read More
                                span(class="icon-arrow")

                        img(src="page-images/cards/sample-card3.jpg")


                    a(href="#")
                        div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png")       
                        div(class="overlayC")                        
                            div(class="overlay")
                                div(class="cardTitle") News
                                div(class="cardHdr") Afton Chemical presents at ICIS E-World event and receives prestigious award.
                            div(class="cardDate") March 1, 2015
                        
                        // Hide Card Hover HTML
                        //div(class="hoverOverlayC" style="opacity: 0.0;")
                            div(class="hoverOverlay")
                                div(class="hoverOverlayTxt")
                                    | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                            div(class="cardLearnMore") Read More
                                span(class="icon-arrow")

                        img(src="page-images/cards/sample-card1.jpg")


                    a(href="#")
                        div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png")       
                        div(class="overlayC")
                            div(class="overlay")
                                div(class="cardTitle") Solution
                                div(class="cardHdr") Off Road: HiTec8888z
                                div(class="cardTxt") Keeping even more of your big, dirty, dusty machines working smoothly and more efficiently for longer-reducing operatingcosts by being even more universal. 
                        
                        // Hide Card Hover HTML
                        //div(class="hoverOverlayC" style="opacity: 0.0;")
                            div(class="hoverOverlay")
                                div(class="hoverOverlayTxt")
                                    | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                            div(class="cardLearnMore") Read More
                                span(class="icon-arrow")

                        img(src="page-images/cards/sample-card2.jpg")


                    a(href="#")
                        div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png")       
                        div(class="overlayC")
                            div(class="overlay")
                                div(class="cardTitle") Solution
                                div(class="cardHdr") Polartech Amide MA 408 T
                                div(class="cardTxt") 408T us a cost effective balance between emulsification and corrosion protection with a reduced level of free diethanola-mine, suitable for a wide range of watermix fluids.
                        
                        // Hide Card Hover HTML
                        //div(class="hoverOverlayC" style="opacity: 0.0;")
                            div(class="hoverOverlay")
                                div(class="hoverOverlayTxt")
                                    | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                            div(class="cardLearnMore") Read More
                                span(class="icon-arrow")

                        img(src="page-images/cards/sample-card3.jpg")


                    a(href="#" class="trending")
                        div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png")
                        div(class="trendIndicator")
                                | Trending Topic
                        div(class="overlayC")
                            div(class="overlay")
                                div(class="cardTitle") Solution
                                div(class="cardHdr") Afton Chemical trending topic headline to be placed in this designated area.
                        
                        // Hide Card Hover HTML
                        //div(class="hoverOverlayC" style="opacity: 0.0;")
                            div(class="hoverOverlay")
                                div(class="hoverOverlayTxt")
                                    | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                            div(class="cardLearnMore") Read More
                                span(class="icon-arrow")

                        img(src="page-images/cards/sample-card1.jpg")


                    a(href="#" class="trending")
                        div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 
                        div(class="trendIndicator")
                                | Trending Topic
                        div(class="overlayC")
                            div(class="overlay")
                                div(class="cardTitle") Solution
                                div(class="cardHdr") Two line trending topic headline example here.
                                div(class="cardTxt") Omnis es aliat. Eceaquam eossimp oreperit dolupt tum hicto volorat. 
                        
                        // Hide Card Hover HTML
                        //div(class="hoverOverlayC" style="opacity: 0.0;")
                            div(class="hoverOverlay")
                                div(class="hoverOverlayTxt")
                                    | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                            div(class="cardLearnMore") Read More
                                span(class="icon-arrow")

                        img(src="page-images/cards/sample-card2.jpg")


                    a(href="#" class="trending")
                        div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png")
                        div(class="trendIndicator")
                                | Trending Topic
                        div(class="overlayC")
                            div(class="overlay")
                                div(class="cardTitle") Solution
                                div(class="cardHdr") One line trending headline example.
                                div(class="cardTxt") Arum quia qui comnis volupta voluptas dolupta quam endicidem faccus molorios aceratia netur, cum sumque pos doluptio odist isti ut et faccatem harchilit reris.
                        
                        // Hide Card Hover HTML
                        //div(class="hoverOverlayC" style="opacity: 0.0;")
                            div(class="hoverOverlay")
                                div(class="hoverOverlayTxt")
                                    | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                            div(class="cardLearnMore") Read More
                                span(class="icon-arrow")

                        img(src="page-images/cards/sample-card3.jpg")


            div(id="learnMoreC")
                div(id="learnMore")
                    div(id="learnTxtC")
                        div(id="learnHdr") Learn more about our solutions.
                        div(id="learnTxt") Talk with one of our sales representatives.
                    div(id="leanMoreBtnC")
                      a(href="#")
                        | Contact Us
                        span(class="icon-arrow")
                    
        include includes/_footer.jade
                
            
            