doctype 

html(lang='en')

    head
        
        title=""
        meta(name="description" content="")
        meta(name="keywords" content="")
        
        include includes/_scripts_header.jade
        
    body
        

           
        include includes/_mobileNav.jade
        
        include includes/_header.jade
        
        div(id="contentAreaC")
            div(id="sbuLandingHdrC")

                div(id="sbuLandingHdr")

                    div(class="hdrTxtBoxC")
                        div(class="hdrTxtBox")
                            div(class="sbuHeadline")
                                | Enhanced protection, antiwear qualities & improved performance under nearly any conditions
                            div(class="sbuTxt")
                                | Afton Chemical has a full and robust selection of lubricant components to meet your needs.

                    div(class="sbuImgBoxC2" style="display:none;")
                        img(src="page-images/sbu-header-image/sbu-header-sample.jpg")    

                div(class="sbuImgBoxC")
                    img(src="page-images/sbu-header-image/sbu-header-sample.jpg") 

            
            div(class="borders2 padTop padBtm")  
                 div(class="fullWidth")
                    
                    h1(class="txtPaddingTop") Insights & Resources
                    
                    
                    div(class="threeColGridC")
                        div(class="twoColGrid-lft")
                            div(class="threeColGrid-lft dataSheets")
                                
                                h2(class="txtPaddingTop") Product Data Sheets
                                
                                ul
                                    li: a(href="#") Nunc vestibulum laoreet mauris ac elementum
                                    li: a(href="#") Donec sollicitudin commodo sem ut ultricies
                                    li: a(href="#") Nulla eu metus sed augue placerat elementum at
                                    li(class="empty-li"): a(href="#")
                                    li(class="empty-li"): a(href="#")
                                    li(class="empty-li"): a(href="#")
                                    li(class="empty-li"): a(href="#")

                                a(href="#" class="viewMore") View All Product Data Sheets >

                                
                                h2(class="txtPaddingTop") Research
                                
                                ul
                                    li: a(href="#") Nunc vestibulum laoreet mauris ac elementum
                                    li: a(href="#") Donec sollicitudin commodo sem ut ultricies
                                    li: a(href="#") Nulla eu metus sed augue placerat elementum at

                                a(href="#" class="viewMore") View All Research >


                            div(class="threeColGrid-mid dataSheets")
                                
                                h2(class="txtPaddingTop") Articles

                                ul
                                    li: a(href="#") Nunc vestibulum laoreet mauris ac elementum
                                    li: a(href="#") Donec sollicitudin commodo sem ut ultricies
                                    li: a(href="#") Nulla eu metus sed augue placerat elementum at

                                a(href="#" class="viewMore") View All Articles >
                                
                                h2(class="txtPaddingTop") Technical Documents

                                ul
                                    li: a(href="#") Nunc vestibulum laoreet mauris ac elementum
                                    li: a(href="#") Donec sollicitudin commodo sem ut ultricies
                                    li: a(href="#") Nulla eu metus sed augue placerat elementum at

                                a(href="#" class="viewMore") View All Articles >

                            
                        div(class="threeColGrid-rt dataSheets")
                            
                            h2(class="txtPaddingTop") White Papers

                            ul
                                li: a(href="#") Nunc vestibulum laoreet mauris ac elementum
                                li: a(href="#") Donec sollicitudin commodo sem ut ultricies
                                li: a(href="#") Nulla eu metus sed augue placerat elementum at
                                
                            a(href="#" class="viewMore") View All White Papers >

                    
                    
            div(class="cardsSM_C bgGray padTop padBtm")
                div(class="cardsSM fourCol")
                    
                     a(href="#")

                        div(class="cardBtnIndicator")
                            img(src="images/card-btn-indicator.png") 

                        div(class="cardHdrC")
                            div(class="cardHdrTxt") Stay Informed

                        div(class="cardTextAreaC")
                            div(class="cardTextArea")
                                div(class="cardTxt") consectetur adipiscing elit, sed do eiusmod tempor. consectetur adipiscing elit, sed do eiusmod tempor. consectetur adipiscing elit, sed do eiusmod tempor.

                    
                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 

                            div(class="cardHdrC")
                                div(class="cardHdrTxt") Polls & Surveys

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardTxt") consectetur adipiscing elit, sed do eiusmod tempor. consectetur adipiscing elit, sed do eiusmod tempor. consectetur adipiscing elit, sed do eiusmod tempor.

                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 

                            div(class="cardHdrC")
                                div(class="cardHdrTxt") SDS Request

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardTxt") consectetur adipiscing elit, sed do eiusmod tempor. consectetur adipiscing elit, sed do eiusmod tempor. consectetur adipiscing elit, sed do eiusmod tempor.

                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 

                            div(class="cardHdrC")
                                div(class="cardHdrTxt") Terms and Acronyms

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardTxt") consectetur adipiscing elit, sed do eiusmod tempor. consectetur adipiscing elit, sed do eiusmod tempor. consectetur adipiscing elit, sed do eiusmod tempor.
                                
                                
                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 

                            div(class="cardHdrC")
                                div(class="cardHdrTxt") Get in Gear

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardTxt") consectetur adipiscing elit, sed do eiusmod tempor. consectetur adipiscing elit, sed do eiusmod tempor. consectetur adipiscing elit, sed do eiusmod tempor.
                                
                                
                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 

                            div(class="cardHdrC")
                                div(class="cardHdrTxt") GATC/NATC

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardTxt") consectetur adipiscing elit, sed do eiusmod tempor. consectetur adipiscing elit, sed do eiusmod tempor. consectetur adipiscing elit, sed do eiusmod tempor.
                                
                        
                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 

                            div(class="cardHdrC")
                                div(class="cardHdrTxt") FAQ's

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardTxt") consectetur adipiscing elit, sed do eiusmod tempor. consectetur adipiscing elit, sed do eiusmod tempor. consectetur adipiscing elit, sed do eiusmod tempor.

                    
                 

            div(class="borders bgPattern padTopBtm")
            
                div(class="fullWidth")
                    h2 Personalized Content Title                    
                    
                div(class="cardsC")
                    div(class="cards")

                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") News
                                    div(class="cardHdr") Afton Chemical to exhibit and present at annual international CTI Symposium. 
                                div(class="cardDate") March 27, 2015
                                
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card1.jpg")


                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") Events
                                    div(class="cardHdr") Afton Chemical breaks ground for its facility in Singapore.
                                    div(class="cardTxt") Production of the next generation of additive solutions is set to begin in January 2016.
                                    
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card2.jpg")
                            
                            
                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") Events
                                    div(class="cardHdr") Afton Chemical breaks ground for its facility in Singapore.
                                    div(class="cardTxt") Production of the next generation of additive solutions is set to begin in January 2016.
                                    
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card2.jpg")
                    
        
            include includes/_footer.jade