doctype 

html(lang='en')

    head
        
        title=""
        meta(name="description" content="")
        meta(name="keywords" content="")
        
        include includes/_scripts_header.jade
        
    body

        
        include includes/_mobileNav.jade
        
        include includes/_header.jade
        
        div(id="contentAreaC")
            
            div(class="headerImgC" style="background-image: url(page-images/off-road/header.jpg)")
            
            
            div(id="twoColumnC-sidebar" class="padBtm  negMargin")


                div(id="rtCol-contentArea")

                    div(id="breadCrumbsC")
                        div(id="breadCrumbs")
                            a(href="#") Home
                            a(href="#") Insights & Resources
                            a(href="#") Product Launches
                            | 8888z
                    
                    div(id="contentC")
                        h1(class="txtPaddingTop")
                            | Afton HiTec 8888z - Higher and Wider
                            
                            div(class="subTxt") Posted: 3/12/16 | 6:00 AM CST

                        div(id="mainContentC")

                            p <strong>Keeping even more of your big, dirty, dusty machines working smoothly and more efficiently for longer – reducing operating costs by being even more universal. Higher performance. Wider fleet coverage.</strong>
                            
                            hr
                            
                            p Click to learn more:
                            
                            p 
                                span(class="aLink"): a(href="#higher") Higher
                                span(class="aLink"): a(href="#wider") Wider
                                span(class="aLink"): a(href="#additives-in-action") Additives In action
                                span(class="aLink"): a(href="#faqs") FAQ's
                            
                            hr
                            
                            a(name="higher")
                            
                            h2 Higher Perfomance
                            
                            img(src="page-images/off-road/high-performance-img.jpg" class="fullContent")
                            
                            p In such a tough environment, challenges come from every direction. A high-performance fluid is crucial for preventing downtime, reducing total cost of ownership and improving productivity of off-highway machinery.
                            
                            h3 HiTEC® 8888z offers higher performance in critical areas including:
                            
                            ul
                                li Superior wear protection and load carrying: Leading to extended machine life, reduced downtime and improved performance.
                                
                                li Outstanding yellow metal protection: Helping to maintain optimum performance while extending component life.
                                
                                li Industry-leading friction performance: For precise, smooth and confident control.
                                
                            hr
                            
                            h3 Superior wear protection and load carrying capability
                            
                            p Load Carrying Capacity
                            
                            img(src="page-images/off-road/load-carrying-cap.gif" class="inContent")
                            
                            p High-performance machines are expected to do big things. This inevitably and unavoidably equates to higher maintenance costs. Maintenance is typically one-third of the total cost of ownership of off-highway machinery (alongside fuel and depreciation costs), so anything that reduces this burden is welcome.

                            p Incredibly high forces are channelled through the final drives, where wear to the spur gears can be a big problem. This is the main reason why field engineers seek higher performance off-highway lubricants. The higher performance of HiTEC® 8888z additive minimizes wear, prolongs gear life and provides extra protection against heavy loading.

                            p This leads to smaller maintenance bills, extended machine life, reduced downtime and improved performance in fleet operations. And all at a competitive treat rate.
                            
                            hr
                            
                            h3 Outstanding yellow metal protection
                            
                            p The advanced yellow metal protection provided by HiTEC® 8888z additive greatly improves corrosion performance, providing protection for copper even in the most severe operating environments.

                            p Yellow metals can be found in hydraulic systems, thrust washers, sintered bronze friction plates and oil cooling systems. Higher performance protects these crucial components to maintain optimum machine operating performance for longer, while also extending component life.
                            
                            p Copper corrosion test under extended conditions.
                            
                            img(src="page-images/off-road/copper-corrosion.jpg" class="inContent")
                            
                            hr
                            
                            h3 Industry-leading friction performance
                            
                            
                            p The wear to friction components, such as clutches and brakes, is a major cause of unexpected onsite downtime and lost productivity. HiTEC® 8888z is a higher performance off-highway lubricant additive, specially formulated to provide optimum friction control and reduce unplanned maintenance. And the result is a vast reduction of wear on the clutch plates.

                            p Since clutch plate wear is the biggest cause of transmission failure, HiTEC® 8888z additive adds significant value by considerably reducing machinery downtime. This optimized friction performance ensures that these big and powerful machines are altogether smoother, more precise and more assured for the operators. Operator confidence can enhance productivity and output. In this way, the higher performance of HiTEC® 8888z adds yet further value.
                            
                            p Friction plates from extended friction testing. HiTEC&reg; 888z additive shows greatly reduced wear compared to competitor products.
                            
                            img(src="page-images/off-road/friction-plates.jpg" class="inContent")                            
                            
                            p
                                span(class="backToTop")
                                    a(href="#top") Back To Top
                            
                            hr
                            
                            a(name="wider")
                            
                            h2 Wider Fleet coverage
                            
                            img(src="page-images/off-road/wider-fleet.jpg" class="fullContent")
                            
                            p In a harsh off-highway environment, only the toughest machinery survives. And as machinery manufactures compete hard, each offering different strengths based on different operational needs, operators are increasingly more careful with their choice of machinery.

                            p The result, more often than not, are fleets of different construction machines from different manufacturers. Until now, this has created a logistical headache for the maintenance team.
                            
                            h3 HiTEC&reg; 8888z offers wider fleet coverage including:
                            
                            ul
                                li Unique set of OEM approvals: Latest coverage for modern machinery
                                li Broadest fleet coverage: Ideal for a larger number of fleets and work sites
                                li Simplified logistics and handling: More time to do the real work
                                
                            hr
                            
                            p Afton estimates that, worldwide, over 80% of fleets are now mixed.
                            
                            img(src="page-images/off-road/fleets-mixed.jpg" class="fullContent")
                            
                            p Broad fleet coverage has become a common feature amongst most working sites today, as everyone seeks the best options to become more and more effective.

                            p Whether at mines, construction sites, amongst plant hire companies or contractors, most fleets use a patchwork of different manufacturers’ machinery, each providing a unique benefit within the fleet operation.

                            p By offering a more universal off-highway lubricant, with the widest fleet coverage, HiTEC&reg; 8888z transmission and drivetrain additive is something you simply cannot ignore.
                            
                            p
                                span(class="backToTop")
                                    a(href="#top") Back To Top
                            
                            hr
                            
                            a(name="additives-in-action")
                            
                            h2 Additives In Action
                            
                            img(src="page-images/off-road/additives-in-action.jpg" class="fullContent")
                            
                            p Hard-working parts throughout the machine rely on the lubricant to keep working efficiently. Find out what each component of the mining truck does, and how the right off-highway lubricant can help provide Higher performance.
                            
                            p (All fill volumes are by Afton estimate, including sumps, based on a typical Ultra-class mining truck.)
                            
                            hr
                            
                            ol(class="custmOL")
                                li 
                                    span(style="color: #14469b; font-size: 19px;") Final Drives and Wheel Brakes
                                    br
                                    b Fill volume 2 x 110L
                                    br
                                    | The means of transferring power to the terrain. Reduction gear sets reduce the speed and increase torque. Power transfers to the wheels (incorporating wheel brakes) then to the ground.
                                    br
                                    br
                                    | HiTEC® 8888z offers superior load carrying for reducing wear, along with excellent bearing protection.
                                    hr
                                li 
                                    span(style="color: #14469b; font-size: 19px;") Axle and Differential
                                    br
                                    b Fill volume 500L
                                    br
                                    | The rear axle incorporates the differential, which as well as providing a gear reduction, allows the wheels to rotate at different speeds (when cornering or on rough ground).
                                    br
                                    br
                                    | HiTEC® 8888z transmission and drivetrain additive offers strong extreme pressure performance and reduced wear.
                                    hr
                                li 
                                    span(style="color: #14469b; font-size: 19px;") Powershift Transmission with Lock-Up Torque Converter
                                    br
                                    b Fill volume 620L
                                    br
                                    | A lock-up torque converter is a fluid coupling linking the engine to the transmission that can be locked for maximum efficiency. The powershift transmission matches engine and ground speed via a choice of different gear ratios.
                                    br
                                    br
                                    | HiTEC® 8888z additive offers optimized friction performance for precise function and reduced clutch wear.
                                    hr
                                li 
                                    span(style="color: #14469b; font-size: 19px;") Hydraulics (Hoist and Wet Brakes)
                                    br
                                    b Fill volume 1600L
                                    br
                                    | Hydraulic equipment utilizes power transferred by fluids. The hydraulic hoist raises the 380-ton payload in the body. The wet brakes are also actuated by hydraulics.
                                    br
                                    br
                                    | HiTEC® 8888z additive offers yellow metal protection for smoother operation and longer parts life for hydraulic pumps and pistons.
                                    hr
                                li 
                                    span(style="color: #14469b; font-size: 19px;") Steering
                                    br
                                    b Fill volume 420L
                                    br
                                    | Hydraulically powered steering via the front wheels.
                                    br
                                    br
                                    | HiTEC® 8888z additive provides superior copper protection for smoother operation, improving operator and machine productivity, while also providing longer parts life and, therefore, less downtime.
                                    hr
                                li 
                                    span(style="color: #14469b; font-size: 19px;") Front Wheels / Wheel Brakes
                                    br
                                    b Fill volume 2 x 20L
                                    br
                                    | The front (and rear) wheels incorporate oil-immersed brakes, also known as ‘wet’ brakes, to slow or stop the truck.
                                    br
                                    br
                                    | HiTEC® 8888z additive offers reduced friction plate wear and low shudder, making for smooth operation and reduced down-time. It also provides high static friction to keep a loaded truck stationary, even on the steepest slopes.

                            
                            p
                                span(class="backToTop")
                                    a(href="#top") Back To Top
                                    
                            hr
                            
                            a(name="faqs")
                            
                            h2 FAQ's
                            
                            img(src="page-images/off-road/faqs-img.jpg" class="fullContent")
                            
                            h3 Why higher and wider?
                            
                            p 'Higher and Wider' describes the unique attributes of HiTEC® 8888z that allow it to offer Higher Performance and Wider Fleet Coverage.
                            
                            h3 What are wet brakes?
                            
                            p Oil-immersed brakes are also known as wet brakes, and are widely used in off-highway heavy machinery, such those used for construction and mining.  The vehicle’s braking system is enclosed to prevent mud and dirt from getting in.  To keep the brakes cool and extend life, they are immersed in lubricant.  This lubricant therefore needs to transfer the braking forces, so its friction properties become critical to smooth but efficient braking.  The friction properties of HiTEC® 8888z have been carefully optimized to provide Higher Performance in appropriate braking systems.
                            
                            h3 Why is friction important?
                            
                            p Friction is a crucial property in many parts of off-highway machinery. Transmission clutches, wet brakes, lock-up torque converter clutches and limited slip differentials all rely on the right friction profiles. The lubricant is a crucial part of the friction system in all of these components. The friction design of HiTEC® 8888z lubricant additive provides Higher Performance. Higher friction performance can help improve operator comfort, increase productivity, deliver longer parts life, decrease total cost of ownership and reduce downtime.
                            
                            h3 How can a lubricant provide higher machine performance?
                            
                            
                            p An off-highway universal lubricant, such as that formulated with HiTEC® 8888z additive, will see a massive range of parts throughout the machine. The lubricant has a crucial role in transferring power and protecting parts. The right lubricant can make a big difference to the cost and productivity of a machine, work site or fleet operation.
                            
                            
                            h3 How can a higher performance help my cutomers?
                            
                            p Higher Performance can mean more precise, smooth and confident control, which aids fleet productivity. Maintaining parts as they are meant to be for longer helps reduce direct costs and crucially helps reduce machinery downtime due to unplanned maintenance. Together this reduces total cost of ownership.
                            
                            h3 How do I know the higher performance will last?

                            p Afton Chemical has undertaken extensive testing with HiTEC® 8888z additive showing that not only is the performance higher when first tested, but also as it ages. When compared to commercially available off-highway lubricants, those using HiTEC® 8888z transmission and drivetrain additive showed Higher Performance in extended durability testing, retaining torque capacity while protecting the plates from wear. In other testing, candidates were artificially aged then tested – HiTEC&reg; 
                            
                            p
                                span(class="backToTop")
                                    a(href="#top") Back To Top 
                            
                div(id="lftCol-sidebar")
                    div(id="sidebarHdrC")
                        h2 Insights & Resources

                    div(id="sidebarNavC")
                        ul
                            li: a(href="#") Product Data Sheets
                            li: a(href="#") Articles
                            li: a(href="#") White Papers   
                            li: a(href="#") Research
                            li: a(href="#") Product Launches
                            li: a(href="#") Stay Informed
                            li: a(href="#") Polls & Surveys
                            li: a(href="#") SDS Request
                            li: a(href="#") Terms & Acronyms
                            li: a(href="#") Get In Gear
                            li: a(href="#") GATC / NATC Calculator
                            li: a(href="#") FAQ's

                    div(class="sidebarBoxC")
                        
                        div(class="hdr") Stay Informed
                        div(class="txt") Um sundae culles aboritia as aut acit volorum eumqui quam quidele secatec toratemquam.
                        
                        form
                            div(class="customSelectC standard")
                              div(class="orgSelect")
                                select(name="Countries")
                                    option(value="") Select Newsletter Language
                                    option(value="English") English
                                    option(value="Chinese") 简体中文
                                    option(value="Germain") German
                                    option(value="Japenese") 日本語
                                    option(value="Russian") Russian
                                    option(value="Spanish") Español
                                    option(value="Português") Português
                                    option(value="French") French
                            br
                            br
                            input(type="text" class="txtBox" placeholder="Email Address")
                            input(type="submit" class="submitBtn" value="Submit")
                            br 
                            br
                            
                        div(class="txt") 
                            a(href="#") Learn More
                            | &nbsp; about our newsletter.
                            
                    a(href="#" class="sidebarBoxC")
                        div(class="title") DocumentTitle
                        
                        div(class="twoCol")

                            img(src="page-images/cards/sample-cardv2.jpg")

                            div(class="txtCol")
                                div(class="cat") Category Title
                                div(class="date") May 1, 2015
                                Um sundae culles aboritia aut acit volorum eumqui toratemquam.
                                
                                
                    a(href="#" class="sidebarBoxC")
                        div(class="title") Title
                        
                        div(class="twoCol")

                            img(src="page-images/cards/sample-cardv2.jpg")

                            div(class="txtCol")
                                Um sundae culles aboritia aut acit volorum eumqui toratemquam.
                                
                    
                    a(href="#" class="sidebarBoxC")
                        div(class="title") General Title
                        
                        div(class="twoCol")

                            img(src="page-images/cards/sample-cardv2.jpg")
                            
                            div(class="txtCol")
                                div(class="cat") Category Title
                                Um sundae culles aboritia aut acit volorum eumqui toratemquam.
                                
                    a(href="#" class="sidebarBoxC")
                        div(class="title") General Title
                            
                        | Um sundae culles aboritia aut acit volorum eumqui toratemquam.
                        



            div(class="bgGray padTopBtm")
                div(class="fullWidth")
                        h2 Automotive Gear Products

                div(class="cardsSM_C")
                    div(class="cardsSM fourCol")

                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 
                            
                            div(class="cardHdrC" style="background-image: url(page-images/cards/sample-cardv2a.jpg);")

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardType") Driveline Additives
                                    div(class="cardHdrText") HiTEC® 349
                                    div(class="cardSubHdr") Manual Transmissions
                                    div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials.
                            
                                div(class="cardDate") May 1, 2016
                        
                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 
                            
                            div(class="cardHdrC" style="background-image: url(page-images/cards/sample-cardv2a.jpg);")

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardType") Driveline Additives
                                    div(class="cardHdrText") HiTEC® 349
                                    div(class="cardSubHdr") Manual Transmissions
                                    div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials.
                            
                                div(class="cardDate") May 1, 2016
                                
                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 
                            
                            div(class="cardHdrC" style="background-image: url(page-images/cards/sample-cardv2a.jpg);")

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardType") Driveline Additives
                                    div(class="cardHdrText") HiTEC® 349
                                    div(class="cardSubHdr") Manual Transmissions
                                    div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials.
                            
                                div(class="cardDate") May 1, 2016
                                
                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 
                            
                            div(class="cardHdrC" style="background-image: url(page-images/cards/sample-cardv2a.jpg);")

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardType") Driveline Additives
                                    div(class="cardHdrText") HiTEC® 349
                                    div(class="cardSubHdr") Manual Transmissions
                                    div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials.
                            
                                div(class="cardDate") May 1, 2016


                div(class="fullWidth")
                    a(href="#" class="viewAllBtn") View All Automotive Gear Products



            div(class="borders bgPattern padTopBtm")
                div(class="fullWidth")
                        h2 Insights & Resources  

                div(class="cardsC")
                    div(class="cards")

                        a(href="http://google.com")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") News
                                    div(class="cardHdr") Afton Chemical to exhibit and present at annual international CTI Symposium. 
                                div(class="cardDate") March 27, 2015
                                
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card1.jpg")


                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") Events
                                    div(class="cardHdr") Afton Chemical breaks ground for its facility in Singapore.
                                    div(class="cardTxt") Production of the next generation of additive solutions is set to begin in January 2016.
                                    
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card2.jpg")


                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") Fact Sheet
                                    div(class="cardHdr") Automatic Transmissions
                                    div(class="cardTxt") Afton Chemical develops and manufacturers petroleum additives that enhances the performance of fuels and lubricating oils in machinery and vehicles.
                            
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card3.jpg")


                    
                
        
        
        include includes/_footer.jade