doctype 

html(lang='en')

    head
        
        title=""
        meta(name="description" content="")
        meta(name="keywords" content="")
        
        include includes/_scripts_header.jade
        
    body
        
        include includes/_cookieOverlay.jade
        
        include includes/_mobileNav.jade
        
        include includes/_header.jade
        
        div(id="printArea")
        
        div(id="contentAreaC")
        
            div(id="twoColumnC-sidebar" class="txtPaddingTop padBtm")
            
                div(id="rtCol-contentArea")
                
                    div(id="breadCrumbsC")
                        div(id="breadCrumbs")
                            a(href="#") Home
                            a(href="#") Driveline Additives
                            a(href="#") Automotive Gear
                            a(href="#") Automotive Gear Products
                            | HiTEC® 385: Gear Oil Additive
                    
                            
                    div(id="contentC")               
                        div(id="mainContentC")

                            h1 Lorem Ipsum Dolor

                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque bibendum, libero ac cursus euismod, enim nibh dapibus turpis, eget pellentesque orci neque a leo. Nunc faucibus, purus ac lacinia tempus, dolor velit tincidunt metus, ac porttitor lectus mauris vitae dolor. Aenean bibendum sapien id tellus ultrices hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque bibendum, libero ac cursus euismod, enim nibh dapibus turpis, eget pellentesque orci neque a leo. Nunc faucibus, purus ac lacinia tempus, dolor velit tincidunt metus, ac porttitor lectus mauris vitae dolor. Aenean bibendum sapien id tellus ultrices hendrerit.
                            
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque bibendum, libero ac cursus euismod, enim nibh dapibus turpis, eget pellentesque orci neque a leo. Nunc faucibus, purus ac lacinia tempus, dolor velit tincidunt metus, ac porttitor lectus mauris vitae dolor. Aenean bibendum sapien id tellus ultrices hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque bibendum, libero ac cursus euismod, enim nibh dapibus turpis, eget pellentesque orci neque a leo. Nunc faucibus, purus ac lacinia tempus, dolor velit tincidunt metus, ac porttitor lectus mauris vitae dolor. Aenean bibendum sapien id tellus ultrices hendrerit.
                            
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque bibendum, libero ac cursus euismod, enim nibh dapibus turpis, eget pellentesque orci neque a leo. Nunc faucibus, purus ac lacinia tempus, dolor velit tincidunt metus, ac porttitor lectus mauris vitae dolor. Aenean bibendum sapien id tellus ultrices hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque bibendum, libero ac cursus euismod, enim nibh dapibus turpis, eget pellentesque orci neque a leo. Nunc faucibus, purus ac lacinia tempus, dolor velit tincidunt metus, ac porttitor lectus mauris vitae dolor. Aenean bibendum sapien id tellus ultrices hendrerit.
                            
                            
                            
                div(id="lftCol-sidebar")
                    
                    div(class="sidebarBoxCTitle") We value your opinion!
                    
                    div(class="sidebarBoxC")
                    
                        div(class="txt") Which segment of off-road vehicle additives best fits your company’s needs?

                        form(class="pole")

                            label
                                input(type="radio" name="question" value="Agriculture segment")
                                span
                                | Agriculture segment

                            label
                                input(type="radio" name="question" value="Construction segment")
                                span
                                | Construction segment

                            label
                                input(type="radio" name="question" value="Mining segment")
                                span
                                | Mining segment

                            input(class="vote" type="submit" value="Submit Your Vote")

                            div(class="voteDetails") 270 Votes | 11 days, 2 hours left
                                                                
                    
                    div(class="sidebarBoxC")
                        
                        div(class="hdr") Stay Informed
                        div(class="txt") Um sundae culles aboritia as aut acit volorum eumqui quam quidele secatec toratemquam.
                        
                        form
                            div(class="customSelectC standard")
                              div(class="orgSelect")
                                select(name="Countries")
                                    option(value="") Select Newsletter Language
                                    option(value="English") English
                                    option(value="Chinese") 简体中文
                                    option(value="Germain") German
                                    option(value="Japenese") 日本語
                                    option(value="Russian") Russian
                                    option(value="Spanish") Español
                                    option(value="Português") Português
                                    option(value="French") French
                            br
                            br
                            input(type="text" class="txtBox" placeholder="Email Address" email)
                            input(type="submit" class="submitBtn" value="Submit")
                            br 
                            br
                            
                        div(class="txt") 
                            a(href="#") Learn More
                            | &nbsp; about our newsletter.
                        
                            
            
            div(class="bgGray padTopBtm")
                div(class="fullWidth")
                        h2 Automotive Gear Products

                div(class="cardsSM_C")
                    div(class="cardsSM fourCol")

                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 
                            
                            div(class="cardHdrC" style="background-image: url(page-images/cards/sample-cardv2a.jpg);")

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardType") Driveline Additives
                                    div(class="cardHdrText") HiTEC® 349
                                    div(class="cardSubHdr") Manual Transmissions
                                    div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials.
                            
                                div(class="cardDate") May 1, 2016
                                
                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 
                            
                            div(class="cardHdrC" style="background-image: url(page-images/cards/sample-cardv2a.jpg);")

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardType") Driveline Additives
                                    div(class="cardHdrText") HiTEC® 349
                                    div(class="cardSubHdr") Manual Transmissions
                                    div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials.
                            
                                div(class="cardDate") May 1, 2016
                                
                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 
                            
                            div(class="cardHdrC" style="background-image: url(page-images/cards/sample-cardv2a.jpg);")

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardType") Driveline Additives
                                    div(class="cardHdrText") HiTEC® 349
                                    div(class="cardSubHdr") Manual Transmissions
                                    div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials.
                            
                                div(class="cardDate") May 1, 2016
                                
                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 
                            
                            div(class="cardHdrC" style="background-image: url(page-images/cards/sample-cardv2a.jpg);")

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardType") Driveline Additives
                                    div(class="cardHdrText") HiTEC® 349
                                    div(class="cardSubHdr") Manual Transmissions
                                    div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials.
                            
                                div(class="cardDate") May 1, 2016


                div(class="fullWidth")
                    a(href="#" class="viewAllBtn") View All Automotive Gear Products
                    
            
            
            div(class="borders bgPattern padTopBtm")
                div(class="fullWidth")
                        h2 Insights & Resources  

                div(class="cardsC")
                    div(class="cards")

                        a(href="http://google.com")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") News
                                    div(class="cardHdr") Afton Chemical to exhibit and present at annual international CTI Symposium. 
                                div(class="cardDate") March 27, 2015
                                
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card1.jpg")


                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") Events
                                    div(class="cardHdr") Afton Chemical breaks ground for its facility in Singapore.
                                    div(class="cardTxt") Production of the next generation of additive solutions is set to begin in January 2016.
                                    
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card2.jpg")


                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") Fact Sheet
                                    div(class="cardHdr") Automatic Transmissions
                                    div(class="cardTxt") Afton Chemical develops and manufacturers petroleum additives that enhances the performance of fuels and lubricating oils in machinery and vehicles.
                            
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card3.jpg")
                            
        
        
        include includes/_footer.jade