doctype 

html(lang='en')

    head
        
        title=""
        meta(name="description" content="")
        meta(name="keywords" content="")
        
        include includes/_scripts_header.jade
    
    body
        
        include includes/_cookieOverlay.jade
    
        include includes/_mobileNav.jade
        
        include includes/_header.jade
        
        div(id="privacyC" class="fullWidth" data-disable="cookiePopup")
        
            div(id="privacy")
            
                h1 Privacy Statement
                br

                p <strong>Purpose of Notice:</strong> Afton is committed to protecting your privacy according to applicable laws, regulations, and best practices.  Different countries have different privacy laws and requirements; some, including the U.S., may provide less legal protection for Personal Information (PI), while some will provide more legal protection. This Notice is to inform you about the purposes for which Afton collects and uses PI, the steps Afton takes to ensure the integrity and security of such data, the choices and means Afton offers your company to limit the use and disclosure of your PI, and how to contact Afton about your PI. PI means any information about, or relating to, an identified or identifiable employee of your company.

                p <strong>How Afton Collects Personal Information:</strong> Where permitted by law, Afton collects PI directly from your company; from its subsidiaries and affiliates; or from third parties.

                p <strong>Cookies:</strong> Some of our web pages may use cookies. A cookie is a text-only string of information that a website transfers to the cookie file on your computer’s hard disk so that the website can remember who you are. You have the ability to accept or decline cookies on our site. However, please note that declining cookies may hinder some of the functionality of Afton’s website. For further information, and to revoke or reconfigure consent to cookies, please visit our <a href="#cookie-policy">Cookie Policy</a> at the bottom of this page.

                p <strong>Purpose for Collecting and Using Personal Information:</strong> Afton collects PI in support of the establishment, execution, continuation, or termination of your relationship with Afton. Afton will only collect, use, or process PI where consented by you, or permitted or required by law.  

                p <strong>Onward Transfer:</strong> Afton is a global organization with global processes and practices. Where permitted by law, Afton may send PI to its subsidiaries and affiliates as well as third parties including but not limited to, service providers, external parties, law enforcement and government authorities or Afton’s successors in the event Afton sells or transfers all or a portion of its business assets. In each of these circumstances, Afton will take all reasonable steps to ensure any transfer is done within the confines of any applicable law and in a secure manner, is necessary to perform the services required, and is executed in a manner consistent with this Notice.  

                p <strong>Data Integrity and Data Security:</strong> Afton will take all reasonable steps to protect your PI, keep your PI reliable for its intended use, accurate, current, and complete, as well as in identifiable form only for as long as necessary for the purposes for which it was collected.

                p <strong>Consent:</strong> Afton will notify you and obtain consent prior to using your PI in a manner inconsistent with the purposes described in this Notice, purposes disclosed at the time of collection, or purposes subsequently authorized.  

                p <strong>Access:</strong> Upon request, you may view or provide edits, corrections and updates to your PI subject to this notice.

                p <strong>Amendments:</strong> Afton may amend this Notice by posting a revised version on Afton’s internet website homepage.

                p <strong>Contact Afton:</strong> If you have any questions about this Notice or you would like to submit an inquiry about how Afton processes your PI, you may contact Afton in the following ways:

                ul
                    li Email Afton's Privacy Program at <a href="mailto:dataprivacy@aftonchemical.com">dataprivacy@aftonchemical.com</a>, or
                    li Mail Afton's Privacy Program at 330 South Fourth Street, Richmond, Virginia 23219, ATTN: Law Department.

                p Effective Date: [insert date]

                br
                hr
                br

                <a id="cookie-policy" name="cookie-policy" class="defAnchorTag"></a>

                h1 Cookie Policy
                br

                p Cookies enable us to gain insights into user behavior so we can improve our communications and products. Upon your initial visit to Afton’s site, an automatic pop-up will require you to choose whether you will allow cookies from the site. If consent is given, it will last for 365 days. However, <strong>you may revoke or reconfigure consent at any time using the check boxes below or by disabling cookie access on your browser</strong>. Please note that disabling cookies may prevent you from being able to fully experience the features of Afton's site. The cookies used on our website have been categorized as follows:
                
                
                ol(id="cookiePrefC")

                    li
                        div(class="cookie") Preference Cookies

                        div(class="selection")

                            label
                                input(type="checkbox" id="preferenceCookies" checked)
                                span(class="checkboxDisplay")

                        div(class="definition")
                            Preference cookies track your browsing preferences and choices, allowing us to provide you with a more enjoyable 							and streamlined experience on our site.

                    li 
                        div(class="cookie") Performance Cookies

                        div(class="selection")

                            label
                                input(type="checkbox" id="performanceCookies" checked)
                                span(class="checkboxDisplay")

                        div(class="definition")
                            p Performance cookies help us understand and improve on how people use our website. These cookies collect 						anonymous information including the number of visitors to our site, the location of our visitors, and third-party 								audience data such as age, gender, interests, and site pages visited.


                            p As such, we integrate a number of analytic third-party tools, including Google Analytics, MaxMinds, Visistat, 						CrazyEgg and AddThis. Information will be collected directly by these third parties. The third parties are not 
                            subject to this cookie policy, and do not have access to or use your name, address, e-mail address, telephone 								number or other personal information from us.

                            p We use performance cookie information to compile reports of our user’s browsing patterns so that we can optimize 						and improve our site.  

                    li
                        div(class="cookie") Personalizeation Cookies

                        div(class="selection")

                            label
                                input(type="checkbox" id="personalCookies" checked)
                                span(class="checkboxDisplay")

                        div(class="definition")
                            p Personalized cookies help us provide relevant content to our users who fit a certain personal criteria that is 						compiled using information gained from the above cookies. Personalized cookies are used solely for improving 								user experience and do not store any personal information. 
                br
                br
            
        include includes/_footer.jade
        