doctype 

html(lang='en')

    head
        
        title=""
        meta(name="description" content="")
        meta(name="keywords" content="")
        
        include includes/_scripts_header.jade
        
    body
    
        include includes/_mobileNav.jade
        
        include includes/_filterNav.jade
        
        include includes/_header.jade
        
        div(id="contentAreaC")
        
            div(class="fullWidth2 txtPaddingTop")

                div(id="breadCrumbsC")
                    div(id="breadCrumbs")
                        a(href="#") Home
                        a(href="#") Driveline Additives
                        a(href="#") Automotive Gear
                        a(href="#") Automotive Gear Products
                        | HiTEC® 385: Gear Oil Additive

            
            div(class="fullWidth txtPaddingTop")
              
                div(class="txtPaddingTop txtPaddingBtm")
                
                    h1 Page Title
                    a(href="#" class="viewAll") View all Afton Insights and Resources
                    
            div(id="filterHdrC")
                div(class="fullWidth" id="filterHdr") Filter
                    a(href="#" id="mobileFilterBtn" style="display: none;")
                        img(src="images/mobile-filter.png")
            
            form(id="filterC" class="bgPattern" style="display:none;")
                
                div(class="filterRow")
                    
                    
                    
                    div(id="clearFilterB")
                        input(type="reset" value="Clear All")
                
                    div(class="filterCol" id="filterRegion")
                        div(class="filterH") Region
                        
                        label
                            input(type="checkbox" name="region" value="North America")
                            span
                            | North America
                            
                        label
                            input(type="checkbox" name="region" value="Latin America")
                            span
                            | Latin America
                            
                        label
                            input(type="checkbox" name="region" value="EMEAI")
                            span
                            | EMEAI
                            
                        label
                            input(type="checkbox" name="region" value="Asia")
                            span
                            | Asia

                    
                    div(class="filterCol" id="filterDocumentType")
                        div(class="filterH") Document Type
                        
                        label
                            input(type="checkbox" name="Doc Type" value="Product Data Sheets")
                            span
                            | Product Data Sheets
                            
                        label
                            input(type="checkbox" name="Doc Type" value="Articles")
                            span
                            | Articles
                            
                        label
                            input(type="checkbox" name="Doc Type" value="White Papers")
                            span
                            | White Papers
                        
                        label
                            input(type="checkbox" name="Doc Type" value="Research")
                            span
                            | Research
                        
                        label
                            input(type="checkbox" name="Doc Type" value="Technical Documents")
                            span
                            | Technical Documents
                        
                        label
                            input(type="checkbox" name="Doc Type" value="Product Reviews")
                            span
                            | Product Reviews
                            
                    div(class="filterCol")
                        div(class="filterH") Search
                        input(type="text" placeholder="Enter Search Term")
                
                
                div(class="filterRow" class="borderTop")
                    
                    div(class="filterH") Solution
                    
                    div(class="filterCol" id="filterSolution-Driveline")
                    
                        div(class="filterSH") Driveline
                        
                        label
                            input(type="checkbox" name="Sol Driveline" value="Automatic Transmission")
                            span
                            | Automatic Transmission

                        label
                            input(type="checkbox" name="Sol Driveline" value="Continously Variable Transmission (CVT)")
                            span
                            | Continously Variable Transmission (CVT)

                        label
                            input(type="checkbox" name="Sol Driveline" value="Dual Clutch Transmission (DCT)")
                            span
                            | Dual Clutch Transmission (DCT)

                        label
                            input(type="checkbox" name="Sol Driveline" value="Automotive Gear")
                            span
                            | Automotive Gear
                        
                        label
                            input(type="checkbox" name="Sol Driveline" value="Power Steering")
                            span
                            | Power Steering

                        label
                            input(type="checkbox" name="Sol Driveline" value="Heavy Machinery")
                            span
                            | Heavy Machinery


                    div(class="filterCol" id="filterSolution-Fuel")
                        
                        div(class="filterSH") Fuel
                        
                        label
                            input(type="checkbox" name="Sol Fuel" value="Diesel Additives")
                            span
                            | Diesel Additives

                        label
                            input(type="checkbox" name="Sol Fuel" value="Gasoline Additives")
                            span
                            | Gasoline Additives

                        label
                            input(type="checkbox" name="Sol Fuel" value="Octane Improver")
                            span
                            | Octane Improver

                        label
                            input(type="checkbox" name="Sol Fuel" value="Alternative Fuels")
                            span
                            | Alternative Fuels

                        label
                            input(type="checkbox" name="Sol Fuel" value="Home Heating Fuel")
                            span
                            | Home Heating Fuel
                            
                            
                    div(class="filterCol" id="filterSolution-EngineOil")
                        
                        div(class="filterSH") Engine Oil
                        
                        label
                            input(type="checkbox" name="Sol Engine" value="Diesel")
                            span
                            | Diesel Oil

                        label
                            input(type="checkbox" name="Sol Engine" value="Gasoline Oil")
                            span
                            | Gasoline Oil
                            
                    
                    div(class="filterCol" id="filterSolution-Industrial")
                        
                        div(class="filterSH") Industrial
                        
                        label
                            input(type="checkbox" name="Sol Ind" value="Compressor")
                            span
                            | Compressor

                        label
                            input(type="checkbox" name="Sol Ind" value="Grease")
                            span
                            | Grease
                            
                        label
                            input(type="checkbox" name="Sol Ind" value="Hydrulic")
                            span
                            | Hydrulic
                            
                        label
                            input(type="checkbox" name="Sol Ind" value="Industrial Gear")
                            span
                            | Industrial Gear
                            
                        label
                            input(type="checkbox" name="Sol Ind" value="Metalworking")
                            span
                            | Metalworking
                            
                        label
                            input(type="checkbox" name="Sol Ind" value="Corrosion Inhibitors")
                            span
                            | Corrosion Inhibitors
                            
                        label
                            input(type="checkbox" name="Sol Ind" value="Couplers")
                            span
                            | Couplers
                            
                        label
                            input(type="checkbox" name="Sol Ind" value="Demist Agents")
                            span
                            | Demist Agents
                            
                        label
                            input(type="checkbox" name="Sol Ind" value="Emulsifiers")
                            span
                            | Emulsifiers
                            
                        label
                            input(type="checkbox" name="Sol Ind" value="Lubricity and EP Additives")
                            span
                            | Lubricity and EP Additives
                            
                        label
                            input(type="checkbox" name="Sol Ind" value="Packages")
                            span
                            | Packages
                            
                        label
                            input(type="checkbox" name="Sol Ind" value="Quench Additives")
                            span
                            | Quench Additives
                            
                        label
                            input(type="checkbox" name="Sol Ind" value="Sideway")
                            span
                            | Sideway
                            
                        label
                            input(type="checkbox" name="Sol Ind" value="Turbine")
                            span
                            | Turbine
                            
                            
                    div(class="filterCol" id="filterSolution-LubricantComponents")
                        
                        div(class="filterSH") Lubricant Components
                        
                        label
                            input(type="checkbox" name="Sol Lub" value="Couplers")
                            span
                            | Couplers

                        label
                            input(type="checkbox" name="Sol Lub" value="Detergents & Corrosion Inhibitors")
                            span
                            | Detergents & Corrosion Inhibitors
                            
                        label
                            input(type="checkbox" name="Sol Lub" value="Extreme Pressure Agents & Antiwear Agents")
                            span
                            | Extreme Pressure Agents & Antiwear Agents
                            
                        label
                            input(type="checkbox" name="Sol Lub" value="Foam Inhibitors")
                            span
                            | Foam Inhibitors
                            
                        label
                            input(type="checkbox" name="Sol Lub" value="Friction Modifiers")
                            span
                            | Friction Modifiers
                            
                        label
                            input(type="checkbox" name="Sol Lub" value="Pour Point Depressants")
                            span
                            | Pour Point Depressants
                            
                        label
                            input(type="checkbox" name="Sol Lub" value="Seal Swell Additives")
                            span
                            | Seal Swell Additives
                            
                        label
                            input(type="checkbox" name="Sol Lub" value="Tackiness Additives")
                            span
                            | Tackiness Additives
                            
                        label
                            input(type="checkbox" name="Sol Lub" value="Thickeners & Viscosity Index")
                            span
                            | Thickeners & Viscosity Index
                            
                        label
                            input(type="checkbox" name="Sol Lub" value="Improvers")
                            span
                            | Improvers
                            
            div(id="hideFilterC")
                a(href="#")
                    span(class="txt") Hide Filter Options
                    span(class="icon-arrow")
            
            div(id="filterResultsC")
                div(id="filterHdr" class="padTop")
                        
                    div(id="filterNum") 4 Results
                    div(id="filterList") Current Selection:  
                        span(class="hdr") Region: 
                        | All
                        | / 
                        span(class="hdr") Document Type: 
                        | Articles
                        | /  
                        span(class="hdr") Solution: 
                        | Continuously Variable Transmission (CVT), Gasoline Oil, Grease, Couplers
                     
                     div(id="filterSort")
                        select
                            option(value="Newest") Newest
                            option(value="Oldest") Oldest
                     
                div(class="cards3C")
                    div(class="cards3")
                    
                        a(href="#" class="cardC")
                            div(class="cardHdrC")
                                div(class="cardHdr") Result Title Here
                            div(class="cardTxtC")
                                div(class="cardTxt") consectetur adipiscing elit, sed do eiusmod tempor.
                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png")
                                
                        a(href="#" class="cardC")
                            div(class="cardHdrC")
                                div(class="cardHdr") Result Title Here
                            div(class="cardTxtC")
                                div(class="cardTxt") consectetur adipiscing elit, sed do eiusmod tempor.
                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png")
                        
                        a(href="#" class="cardC")
                            div(class="cardHdrC")
                                div(class="cardHdr") Result Title Here
                            div(class="cardTxtC")
                                div(class="cardTxt") consectetur adipiscing elit, sed do eiusmod tempor.
                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png")
                                
                        a(href="#" class="cardC")
                            div(class="cardHdrC")
                                div(class="cardHdr") Result Title Here
                            div(class="cardTxtC")
                                div(class="cardTxt") consectetur adipiscing elit, sed do eiusmod tempor.
                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png")
                                
                        a(href="#" class="cardC")
                            div(class="cardHdrC")
                                div(class="cardHdr") Result Title Here
                            div(class="cardTxtC")
                                div(class="cardTxt") consectetur adipiscing elit, sed do eiusmod tempor.
                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png")
                                
                        a(href="#" class="cardC")
                            div(class="cardHdrC")
                                div(class="cardHdr") Result Title Here
                            div(class="cardTxtC")
                                div(class="cardTxt") consectetur adipiscing elit, sed do eiusmod tempor.
                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png")
                                
                        a(href="#" class="cardC")
                            div(class="cardHdrC")
                                div(class="cardHdr") Result Title Here
                            div(class="cardTxtC")
                                div(class="cardTxt") consectetur adipiscing elit, sed do eiusmod tempor.
                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png")
                                
                        a(href="#" class="cardC")
                            div(class="cardHdrC")
                                div(class="cardHdr") Result Title Here
                            div(class="cardTxtC")
                                div(class="cardTxt") consectetur adipiscing elit, sed do eiusmod tempor.
                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png")
                                
                        a(href="#" class="cardC")
                            div(class="cardHdrC")
                                div(class="cardHdr") Result Title Here
                            div(class="cardTxtC")
                                div(class="cardTxt") consectetur adipiscing elit, sed do eiusmod tempor.
                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png")
                                
                        a(href="#" class="cardC")
                            div(class="cardHdrC")
                                div(class="cardHdr") Result Title Here
                            div(class="cardTxtC")
                                div(class="cardTxt") consectetur adipiscing elit, sed do eiusmod tempor.
                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png")
                                
                        a(href="#" class="cardC")
                            div(class="cardHdrC")
                                div(class="cardHdr") Result Title Here
                            div(class="cardTxtC")
                                div(class="cardTxt") consectetur adipiscing elit, sed do eiusmod tempor.
                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png")
                                
                        a(href="#" class="cardC")
                            div(class="cardHdrC")
                                div(class="cardHdr") Result Title Here
                            div(class="cardTxtC")
                                div(class="cardTxt") consectetur adipiscing elit, sed do eiusmod tempor.
                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png")
                                
                        a(href="#" class="cardC")
                            div(class="cardHdrC")
                                div(class="cardHdr") Result Title Here
                            div(class="cardTxtC")
                                div(class="cardTxt") consectetur adipiscing elit, sed do eiusmod tempor.
                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png")
                                
                        a(href="#" class="cardC")
                            div(class="cardHdrC")
                                div(class="cardHdr") Result Title Here
                            div(class="cardTxtC")
                                div(class="cardTxt") consectetur adipiscing elit, sed do eiusmod tempor.
                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png")
                                
                        a(href="#" class="cardC")
                            div(class="cardHdrC")
                                div(class="cardHdr") Result Title Here
                            div(class="cardTxtC")
                                div(class="cardTxt") consectetur adipiscing elit, sed do eiusmod tempor.
                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png")
                                
                        a(href="#" class="cardC")
                            div(class="cardHdrC")
                                div(class="cardHdr") Result Title Here
                            div(class="cardTxtC")
                                div(class="cardTxt") consectetur adipiscing elit, sed do eiusmod tempor.
                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png")
                
                div(class="paginationC padBtm")
                    div(class="pagination")
                        a(href="#" class="prev")
                        a(href="#") 100
                        a(href="#") 220
                        a(href="#") 330
                        a(href="#") 440
                        a(href="#") 550
                        a(href="#" class="nextGroup") ...
                        a(href="#" class="endNumbs") 21
                        a(href="#" class="endNumbs") 22
                        a(href="#" class="next")
                                
            
            div(class="borders bgPattern padTopBtm")
                div(class="fullWidth")
                        h2 Personalized Content Title

                div(class="cardsC")
                    div(class="cards")

                        a(href="http://google.com")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") News
                                    div(class="cardHdr") Afton Chemical to exhibit and present at annual international CTI Symposium. 
                                div(class="cardDate") March 27, 2015
                            div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card1.jpg")


                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") Events
                                    div(class="cardHdr") Afton Chemical breaks ground for its facility in Singapore.
                                    div(class="cardTxt") Production of the next generation of additive solutions is set to begin in January 2016.
                            div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card2.jpg")


                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") Fact Sheet
                                    div(class="cardHdr") Automatic Transmissions
                                    div(class="cardTxt") Afton Chemical develops and manufacturers petroleum additives that enhances the performance of fuels and lubricating oils in machinery and vehicles.

                            div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card3.jpg")
                        
        include includes/_footer.jade