doctype 

html(lang='en')

    head
        
        title=""
        meta(name="description" content="")
        meta(name="keywords" content="")
        
        include includes/_scripts_header.jade
        
    body
    
        include includes/_mobileNav.jade
        
        include includes/_header.jade
        
        div(id="contentAreaC")
            
            div(class="fullWidth txtPaddingTop")
            
                div(id="breadCrumbsC")
                            div(id="breadCrumbs")
                                a(href="#") Home
                                a(href="#") Driveline Additives
                                a(href="#") Automotive Gear
                                a(href="#") Automotive Gear Products
                                | HiTEC® 385: Gear Oil Additive
                                
                div(class="txtPaddingTop txtPaddingBtm")
                
                    h1 Page Title
                    a(href="#" class="viewAll") View all Afton Insights and Resources
                    
            div(id="filterHdrC")
                div(class="fullWidth" id="filterHdr") Filter
            
            div(id="filterC" class="bgPattern")
                
                div(class="filterRow" class="borderBtm")
                
                    div(id="clearFilterB")
                        input(type="button" value="Clear All")
                
                    div(class="filterCol")
                        div(class="filterH") Region
                        
                        label
                            input(type="checkbox" name="North America")
                            span
                            | North America
                            
                        label
                            input(type="checkbox" name="Latin America")
                            span
                            | Latin America
                            
                        label
                            input(type="checkbox" name="EMEAI")
                            span
                            | EMEAI
                            
                        label
                            input(type="checkbox" name="Asia")
                            span
                            | Asia

                    
                    div(class="filterCol")
                        div(class="filterH") Document Type
                        
                        label
                            input(type="checkbox" name="Product Data Sheets")
                            span
                            | Product Data Sheets
                            
                        label
                            input(type="checkbox" name="Articles")
                            span
                            | Articles
                            
                        label
                            input(type="checkbox" name="White Papers")
                            span
                            | White Papers
                        
                        label
                            input(type="checkbox" name="Research")
                            span
                            | Research
                        
                        label
                            input(type="checkbox" name="Technical Documents")
                            span
                            | Technical Documents
                        
                        label
                            input(type="checkbox" name="Product Data Sheets")
                            span
                            | Product Reviews
                
                
                
                div(class="filterRow")
                    
                    div(class="filterH") Solution
                    
                    div(class="filterCol")
                    
                        div(class="filterSH") Driveline
                        
                        label
                            input(type="checkbox" name="Automatic Transmission")
                            span
                            | Automatic Transmission

                        label
                            input(type="checkbox" name="Continously Variable Transmission (CVT)")
                            span
                            | Continously Variable Transmission (CVT)

                        label
                            input(type="checkbox" name="Dual Clutch Transmission (DCT)")
                            span
                            | Dual Clutch Transmission (DCT)

                        label
                            input(type="checkbox" name="Automotive Gear")
                            span
                            | Automotive Gear
                        
                        label
                            input(type="checkbox" name="Power Steering")
                            span
                            | Power Steering

                        label
                            input(type="checkbox" name="Heavy Machinery")
                            span
                            | Heavy Machinery


                    div(class="filterCol")
                        
                        div(class="filterSH") Fuel
                        
                        label
                            input(type="checkbox" name="Diesel Additives")
                            span
                            | Diesel Additives

                        label
                            input(type="checkbox" name="Gasoline Additives")
                            span
                            | Gasoline Additives

                        label
                            input(type="checkbox" name="Octane Improver")
                            span
                            | Octane Improver

                        label
                            input(type="checkbox" name="Alternative Fuels")
                            span
                            | Alternative Fuels

                        label
                            input(type="checkbox" name="Home Heating Fuel")
                            span
                            | Home Heating Fuel
                            
                            
                    div(class="filterCol")
                        
                        div(class="filterSH") Engine Oil
                        
                        label
                            input(type="checkbox" name="Diesel")
                            span
                            | Diesel Oil

                        label
                            input(type="checkbox" name="Gasoline Oil")
                            span
                            | Gasoline Oil
                            
                    
                    div(class="filterCol")
                        
                        div(class="filterSH") Industrial
                        
                        label
                            input(type="checkbox" name="Compressor")
                            span
                            | Compressor

                        label
                            input(type="checkbox" name="Grease")
                            span
                            | Grease
                            
                        label
                            input(type="checkbox" name="Hydrulic")
                            span
                            | Hydrulic
                            
                        label
                            input(type="checkbox" name="Industrial Gear")
                            span
                            | Industrial Gear
                            
                        label
                            input(type="checkbox" name="Metalworking")
                            span
                            | Metalworking
                            
                        label
                            input(type="checkbox" name="Corrosion Inhibitors")
                            span
                            | Corrosion Inhibitors
                            
                        label
                            input(type="checkbox" name="Couplers")
                            span
                            | Couplers
                            
                        label
                            input(type="checkbox" name="Demist Agents")
                            span
                            | Demist Agents
                            
                        label
                            input(type="checkbox" name="Emulsifiers")
                            span
                            | Emulsifiers
                            
                        label
                            input(type="checkbox" name="Lubricity and EP Additives")
                            span
                            | Lubricity and EP Additives
                            
                        label
                            input(type="checkbox" name="Packages")
                            span
                            | Packages
                            
                        label
                            input(type="checkbox" name="Quench Additives")
                            span
                            | Quench Additives
                            
                        label
                            input(type="checkbox" name="Sideway")
                            span
                            | Sideway
                            
                        label
                            input(type="checkbox" name="Turbine")
                            span
                            | Turbine
                            
                            
                    div(class="filterCol")
                        
                        div(class="filterSH") Lubricant Components
                        
                        label
                            input(type="checkbox" name="Couplers")
                            span
                            | Couplers

                        label
                            input(type="checkbox" name="Detergents & Corrosion Inhibitors")
                            span
                            | Detergents & Corrosion Inhibitors
                            
                        label
                            input(type="checkbox" name="Extreme Pressure Agents & Antiwear Agents")
                            span
                            | Extreme Pressure Agents & Antiwear Agents
                            
                        label
                            input(type="checkbox" name="Foam Inhibitors")
                            span
                            | Foam Inhibitors
                            
                        label
                            input(type="checkbox" name="Friction Modifiers")
                            span
                            | Friction Modifiers
                            
                        label
                            input(type="checkbox" name="Pour Point Depressants")
                            span
                            | Pour Point Depressants
                            
                        label
                            input(type="checkbox" name="Seal Swell Additives")
                            span
                            | Seal Swell Additives
                            
                        label
                            input(type="checkbox" name="Tackiness Additives")
                            span
                            | Tackiness Additives
                            
                        label
                            input(type="checkbox" name="Thickeners & Viscosity Index")
                            span
                            | Thickeners & Viscosity Index
                            
                        label
                            input(type="checkbox" name="Improvers")
                            span
                            | Improvers
                            
            div(id="hideFilterC")
                a(href="#") Hide Filter Options >
                
                        
        include includes/_footer.jade