doctype 

html(lang='en')

    head
        
        title=""
        meta(name="description" content="")
        meta(name="keywords" content="")
        
        include includes/_scripts_header.jade
        
    body
    
        include includes/_mobileNav.jade
        
        include includes/_header.jade
        
        
        div(id="sbuLandingHdrC")
            
            div(id="sbuLandingHdr")
            
                div(class="hdrTxtBoxC")
                    div(class="hdrTxtBox")
                        div(class="sbuHeadline")
                            | Enhanced protection, antiwear qualities & improved performance under nearly any conditions
                        div(class="sbuTxt")
                            | Afton Chemical has a full and robust selection of lubricant components to meet your needs.
                            
                div(class="sbuImgBoxC2" style="display:none;")
                    img(src="page-images/sbu-header-image/sbu-header-sample.jpg")    
                        
            div(class="sbuImgBoxC")
                img(src="page-images/sbu-header-image/sbu-header-sample.jpg") 
                    
        
        div(id="sbuLandingNavC")
            div(id="sbuLandingNav")
                ul
                    li: a(href="#" class="active"): span Overview
                    li: a(href="#"): span Solutions
                    li: a(href="#"): span FAQs
                    li: a(href="#"): span Product Data Sheets
                    li: a(href="#"): span Insights & Resources
                    
            div(id="sbuLandingDropNav" style="display: none;")
                a(class="sbuSelect" href="#") 
                    | Overview
                    span(class="icon-arrow")
                    
                ul(style="display:none;")
                    li: a(href="#" class="active") Overview
                    li: a(href="#") Solutions
                    li: a(href="#") FAQs
                    li: a(href="#") Product Data Sheets
                    li: a(href="#") Insights & Resources
                    
        div(class="twoColmnC")
            
            p In addition to providing fully-developed additive packages, Afton Chemical is a leading supplier of lubricant components.
            p Whether you need enhanced protection, antiwear qualities or to improve performance in a wider range of application conditions, Afton has a full and robust selection of components to meet your needs.

            p Afton works with you to ensure your lubricants have optimal chemical balances for increased protection, marketable claims and competitive product positioning, plus the full benefit of over 90 years of Afton research and expertise.

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget vulputate erat, nec hendrerit turpis. Nullam sit amet massa in nulla mollis condimentum. Proin quam metus, tristique, sollicitudin quis arcu. In convallis pellentesque metus at porttitor.

            p Nullam sit amet massa in nulla mollis condimentum. Proin quam metus, tristique, sollicitudin quis arcu. In convallis pellentesque metus at porttitor.

            p Proin quam metus, tristique, sollicitudin quis arcu. In convallis pellentesque metus at porttitor.
            
        
        div(class="fullWidthC")
            h1 Lubricant Componet Solutions
            
            
        div(class="cardsC")
            div(class="cards")
            
                a(href="#")
                    div(class="cardBtnIndicator")
                            img(src="images/card-btn-indicator.png")       
                    div(class="overlayC")
                        div(class="overlay")
                            div(class="cardTitle") News
                            div(class="cardHdr") Afton Chemical to exhibit and present at annual international CTI Symposium. 
                        div(class="cardDate") March 27, 2015
                    div(class="hoverOverlayC" style="opacity: 0.0;")
                        div(class="hoverOverlay")
                            div(class="hoverOverlayTxt")
                                | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.
                                
                        div(class="cardLearnMore") Read More
                            span(class="icon-arrow")
                            
                    img(src="page-images/cards/sample-card1.jpg")
                    
                    
                a(href="#")
                    div(class="cardBtnIndicator")
                            img(src="images/card-btn-indicator.png")       
                    div(class="overlayC")
                        div(class="overlay")
                            div(class="cardTitle") Events
                            div(class="cardHdr") Afton Chemical breaks ground for its facility in Singapore.
                            div(class="cardTxt") Production of the next generation of additive solutions is set to begin in January 2016.
                    div(class="hoverOverlayC" style="opacity: 0.0;")
                        div(class="hoverOverlay")
                            div(class="hoverOverlayTxt")
                                | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.
                                
                        div(class="cardLearnMore") Read More
                            span(class="icon-arrow")
                            
                    img(src="page-images/cards/sample-card2.jpg")
                    
                    
                a(href="#")
                    div(class="cardBtnIndicator")
                            img(src="images/card-btn-indicator.png")       
                    div(class="overlayC")
                        div(class="overlay")
                            div(class="cardTitle") Fact Sheet
                            div(class="cardHdr") Automatic Transmissions
                            div(class="cardTxt") Afton Chemical develops and manufacturers petroleum additives that enhances the performance of fuels and lubricating oils in machinery and vehicles.
                            
                    div(class="hoverOverlayC" style="opacity: 0.0;")
                        div(class="hoverOverlay")
                            div(class="hoverOverlayTxt")
                                | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.
                                
                        div(class="cardLearnMore") Read More
                            span(class="icon-arrow")
                    
                    img(src="page-images/cards/sample-card3.jpg")

            
            

                    
        
        
        
        
        
        
        include includes/_footer.jade