doctype 

html(lang='en')

    head
        
        title=""
        meta(name="description" content="")
        meta(name="keywords" content="")
        
        include includes/_scripts_header.jade
        
    body
        
        - var sbuMainNavHighlight = "active"
         
        include includes/_cookieOverlay.jade
         
        include includes/_mobileNav.jade
        
        include includes/_header.jade
        
        div(id="contentAreaC")
            div(id="sbuLandingHdrC")

                div(id="sbuLandingHdr")

                    div(class="hdrTxtBoxC")
                        div(class="hdrTxtBox")
                            div(class="sbuHeadline")
                                | Enhanced protection, antiwear qualities & improved performance under nearly any conditions
                            div(class="sbuTxt")
                                | Afton Chemical has a full and robust selection of lubricant components to meet your needs.

                    div(class="sbuImgBoxC2" style="display:none;")
                        img(src="page-images/sbu-header-image/sbu-header-sample.jpg")    

                div(class="sbuImgBoxC")
                    img(src="page-images/sbu-header-image/sbu-header-sample.jpg") 


            div(class="sbuLandingNavC")
                div(class="sbuLandingNav")
                    ul
                        li: a(href="#overview-pos"): span Overview
                        li: a(href="#solutions-pos"): span Solutions
                        li: a(href="#faqs-pos"): span FAQs
                        li: a(href="#sheets-pos"): span Product Data Sheets
                        li: a(href="#resources-pos"): span Insights & Resources

                div(class="sbuLandingDropNav" style="display: none;")
                    span(class="icon-arrow")
                    a(class="sbuSelect" href="#")
                        | Overview

                    ul(class="DropNav" style="display:none;")
                        li: a(data-sbudd="Overview" href="#overview-pos") Overview
                        li: a(data-sbudd="Solutions" href="#solutions-pos") Solutions
                        li: a(data-sbudd="FAQs" href="#faqs-pos") FAQs
                        li: a(data-sbudd="Product Data Sheets" href="#sheets-pos") Product Data Sheets
                        li: a(data-sbudd="Insights & Resources" href="#resources-pos") Insights & Resources

            
            a(id="overview-pos" class="anchorTag")
            div(class="twoColumnC padTop leadInC")
                div(class="leadIn")
                    p In addition to providing fully-developed additive packages, Afton Chemical is a leading supplier of lubricant components.
                    p Whether you need enhanced protection, antiwear qualities or to improve performance in a wider range of application conditions, Afton has a full and robust selection of components to meet your needs.

                    p Afton works with you to ensure your lubricants have optimal chemical balances for increased protection, marketable claims and competitive product positioning, plus the full benefit of over 90 years of Afton research and expertise.

                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget vulputate erat, nec hendrerit turpis. Nullam sit amet massa in nulla mollis condimentum. Proin quam metus, tristique, sollicitudin quis arcu. In convallis pellentesque metus at porttitor.

                    p Nullam sit amet massa in nulla mollis condimentum. Proin quam metus, tristique, sollicitudin quis arcu. In convallis pellentesque metus at porttitor.

                    p Proin quam metus, tristique, sollicitudin quis arcu. In convallis pellentesque metus at porttitor.

                    <div class="video-container">
                    <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/bdY6YEq_6rE" width="560"></iframe>
                    </div>
                    
                    p
                    
                    h2 Market Differentiators

                    p Our passenger car additive packages are designed to meet our customers’ specific needs for marketing claims, such as durability or fuel economy, in addition to meeting relevant OEM approvals.
 
                    p Afton’s heavy-duty engine oil additive package developments begin with insight.  This includes a comprehensive understanding of how truck drivers, fleet operators, mining houses and construction companies operate, and what they value when it comes to heavy-duty diesel engine oils. 
 
                    p We provide Olefin copolymer (OCP) viscosity index improvers (VII) in both solid and liquid form, and different shear stability index, to meet our customers’ diverse needs.

            a(id="solutions-pos" class="anchorTag")
            div(class="padBtm")
            
                div(class="fullWidth")
                    h2 Lubricant Componet Solutions


                div(class="cardsC")
                    div(class="cards")

                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") News
                                    div(class="cardHdr") Afton Chemical to exhibit and present at annual international CTI Symposium. 
                                div(class="cardDate") March 27, 2015
                            
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card1.jpg")


                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") Events
                                    div(class="cardHdr") Afton Chemical breaks ground for its facility in Singapore.
                                    div(class="cardTxt") Production of the next generation of additive solutions is set to begin in January 2016.
                            
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card2.jpg")


                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") Fact Sheet
                                    div(class="cardHdr") Automatic Transmissions
                                    div(class="cardTxt") Afton Chemical develops and manufacturers petroleum additives that enhances the performance of fuels and lubricating oils in machinery and vehicles.
                            
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card3.jpg")

                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") News
                                    div(class="cardHdr") Afton Chemical to exhibit and present at annual international CTI Symposium. 
                                div(class="cardDate") March 27, 2015
                            
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card1.jpg")


                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") Events
                                    div(class="cardHdr") Afton Chemical breaks ground for its facility in Singapore.
                                    div(class="cardTxt") Production of the next generation of additive solutions is set to begin in January 2016.
                            
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card2.jpg")


                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") Fact Sheet
                                    div(class="cardHdr") Automatic Transmissions
                                    div(class="cardTxt") Afton Chemical develops and manufacturers petroleum additives that enhances the performance of fuels and lubricating oils in machinery and vehicles.
                            
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card3.jpg")
                        
                        
            a(id="faqs-pos" class="anchorTag")         
            div(class="borders bgPattern")
            
                div(class="fullWidth padTopBtm")
                    h2(class="txtPaddingBtm") FAQs
                    
                    | Lorem ipsum dol  or sit amet, consectetur adipiscing elit. Morbi eget vulputate erat, nec hendrerit turpis. Nullam sit amet massa in nulla mollis condimentum. Proin quam metus, tristique, sollicitudin quis arcu. In convallis pellentesque metus at porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget vulputate erat, nec ornare nec ipsum ut, maximus sollicitudin lectus. Nam enim est, tincidunt sed posuere tristique, sollicitudin quis arcu. In convallis pellentesque metus at porttitor.

                    
                    ul(class="accordC txtPaddingTop")
                        li
                            a(href="#")
                                div(class="icon")
                                | 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in
                            
                            div(class="reveal" style="display: none;")
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                
                        li
                            a(href="#")
                                div(class="icon")
                                | 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in
                                
                            div(class="reveal" style="display: none;")
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem.
                                
                                
                        li                            
                            a(href="#")
                                div(class="icon")
                                | 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in
                                
                            div(class="reveal" style="display: none;")
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                
                        li
                            
                            a(href="#")
                                div(class="icon")
                                | 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in
                                
                            div(class="reveal" style="display: none;")
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem.
                    
                    a(href="#" class="viewAllBtn") View All Lubricant Component FAQs
            
            
            
            a(id="sheets-pos" class="anchorTag")
            div(class="padTopBtm")  
                 div(class="fullWidth")
                    h2(class="txtPaddingBtm") Lubricant Component Documents

                    div(class="txtPaddingBtm")
                        | Lorem ipsum dol  or sit amet, consectetur adipiscing elit. Morbi eget vulputate erat, nec hendrerit turpis. Nullam sit amet massa in nulla mollis condimentum. Proin quam metus, tristique, sollicitudin quis arcu. In convallis pellentesque metus at porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget vulputate erat, nec ornare nec ipsum ut, maximus sollicitudin lectus. Nam enim est, tincidunt sed posuere tristique, sollicitudin quis arcu. In convallis pellentesque metus at porttitor.
                    
                    hr
                    
                    
                    
                    div(class="threeColGridC")
                        div(class="twoColGrid-lft")
                            div(class="threeColGrid-lft dataSheets")
                                
                                h2(class="txtPaddingTop") Product Data Sheets
                                
                                ul
                                    li: a(href="#") Nunc vestibulum laoreet mauris ac elementum
                                    li: a(href="#") Donec sollicitudin commodo sem ut ultricies
                                    li: a(href="#") Nulla eu metus sed augue placerat elementum at

                                a(href="#" class="viewMore") View All Product Data Sheets More >

                                
                                h2(class="txtPaddingTop") Research
                                
                                ul
                                    li: a(href="#") Nunc vestibulum laoreet mauris ac elementum
                                    li: a(href="#") Donec sollicitudin commodo sem ut ultricies
                                    li: a(href="#") Nulla eu metus sed augue placerat elementum at

                                a(href="#" class="viewMore") View All Research >


                            div(class="threeColGrid-mid dataSheets")
                                
                                h2(class="txtPaddingTop") Articles

                                ul
                                    li: a(href="#") Nunc vestibulum laoreet mauris ac elementum
                                    li: a(href="#") Donec sollicitudin commodo sem ut ultricies
                                    li: a(href="#") Nulla eu metus sed augue placerat elementum at

                                a(href="#" class="viewMore") View All Articles >
                                
                                h2(class="txtPaddingTop") Technical Documents

                                ul
                                    li: a(href="#") Nunc vestibulum laoreet mauris ac elementum
                                    li: a(href="#") Donec sollicitudin commodo sem ut ultricies
                                    li: a(href="#") Nulla eu metus sed augue placerat elementum at

                                a(href="#" class="viewMore") View All Articles >

                            
                        div(class="threeColGrid-rt dataSheets")
                            
                            h2(class="txtPaddingTop") White Papers

                            ul
                                li: a(href="#") Nunc vestibulum laoreet mauris ac elementum
                                li: a(href="#") Donec sollicitudin commodo sem ut ultricies
                                li: a(href="#") Nulla eu metus sed augue placerat elementum at
                                
                            a(href="#" class="viewMore") View All White Papers More >

                    
                    
                    a(href="#" class="viewAllBtn") View All Lubricant Component Documents
                 
                 
            a(id="resources-pos" class="anchorTag")
            div(class="borders bgPattern padTopBtm")
            
                div(class="fullWidth")
                    h2 Insights & Resources                    
                    
                div(class="cardsC")
                    div(class="cards")

                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") News
                                    div(class="cardHdr") Afton Chemical to exhibit and present at annual international CTI Symposium. 
                                div(class="cardDate") March 27, 2015
                                
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card1.jpg")


                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") Events
                                    div(class="cardHdr") Afton Chemical breaks ground for its facility in Singapore.
                                    div(class="cardTxt") Production of the next generation of additive solutions is set to begin in January 2016.
                                    
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card2.jpg")
                            
                            
                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") Events
                                    div(class="cardHdr") Afton Chemical breaks ground for its facility in Singapore.
                                    div(class="cardTxt") Production of the next generation of additive solutions is set to begin in January 2016.
                                    
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card2.jpg")
                    
        
            include includes/_footer.jade