doctype 

html(lang='en')

    head
        
        title=""
        meta(name="description" content="")
        meta(name="keywords" content="")
        
        include includes/_scripts_header.jade
        
    body

        
        include includes/_mobileNav.jade
        
        include includes/_header.jade
        
        div(id="contentAreaC")
            
            div(class="headerImgC" style="background-image: url(page-images/solution-header-image/headerImg-sample.jpg)")
            
            
            div(id="twoColumnC-sidebar" class="padBtm  negMargin")


                div(id="rtCol-contentArea")

                    div(id="breadCrumbsC")
                        div(id="breadCrumbs")
                            a(href="#") Home
                            a(href="#") Lubricant Components
                            | Dispersants & Emulsifiers
                    
                    div(id="contentC")
                        h1(class="txtPaddingTop")
                            | Dispersants & Emulsifiers
                            div(class="subTxt") A key player in the lubricant and fuel industry with over 90 years of customer collaboration.
                            div(id="socialC")
                                a(class="addthis_button_compact"): span(class="icon-share")

                        div(id="mainContentC")

                            img(src="page-images/sol-sample-image.jpg" class="rtAlignImg")

                            p Dispersants are lubricant additives that help to prevent sludge, varnish and other deposits from forming on critical surfaces. Dispersants are primarily used in gasoline engine and heavy duty diesel engine oils, which account for 75 to 80% of their total use. 

                            p They're also used in natural gas engine oils, aviation piston engine oils, automatic transmission fluids and some types of gear lubricants.

                            p Emulsifiers enable two immiscible fluids to form a mixture called an emulsion. They work by reducing the surface tension of water to facilitate thorough mixing. Water and oil mixtures are often used as lubricants because they are low cost, easy to dispose of, and have fire retardant properties.

                            p Emulsifiers are primarily used in metalworking, rock drill and hydraulic applications. They make emulsions stable over long periods of time, offer good lubricating properties, won’t attack seals and metals, and are easy to demulsify for disposal.

                            p Dispersants are lubricant additives that help to prevent sludge, varnish and other deposits from forming on critical surfaces. Dispersants are primarily used in gasoline engine and heavy duty diesel engine oils, which account for 75 to 80% of their total use. 

                            p They're also used in natural gas engine oils, aviation piston engine oils, automatic transmission fluids and some types of gear lubricants.

                            p Emulsifiers enable two immiscible fluids to form a mixture called an emulsion. They work by reducing the surface tension of water to facilitate thorough mixing. Water and oil mixtures are often used as lubricants because they are low cost, easy to dispose of, and have fire retardant properties.

                            p Emulsifiers are primarily used in metalworking, rock drill and hydraulic applications. They make emulsions stable over long periods of time, offer good lubricating properties, won’t attack seals and metals, and are easy to demulsify for disposal.


                div(id="lftCol-sidebar")
                    div(id="sidebarHdrC")
                        h2 Lubricant Component Solutions

                    div(id="sidebarNavC")
                        ul
                            li: a(href="#") Couplers
                            li: a(href="#" class="hasChildren") Detergents & Corrosion Inhibitors
                            li
                                a(href="#" class="open active") Dispersants & Emulsifiers
                                ul
                                    li: a(href="#") Tertiary Navigation
                                    li: a(href="#") Tertiary Navigation
                                    li: a(href="#") Tertiary Navigation
                                    
                            li: a(href="#" class="hasChildren") Extreme Pressure Agents & Antiwear Agents
                            li: a(href="#") Foam Inhibitors
                            li: a(href="#" class="hasChildren") Friction Modifiers
                            li: a(href="#") Pour Point Depressants
                            li: a(href="#") Seal Swell Additives
                            li: a(href="#") Tackiness Additives
                            li: a(href="#") Thickeners & Viscosity Index Improvers 
                            li: a(href="#") Wind Turbine
                            li: a(href="#") Gear
                            li: a(href="#") Turbine
                            li: a(href="#") Hydraulic
                            li: a(href="#") Grease
                            li: a(href="#") Slideway
                            li: a(href="#") Metalworking

                    div(class="sidebarBoxC")
                        
                        div(class="hdr") Stay Informed
                        div(class="txt") Um sundae culles aboritia as aut acit volorum eumqui quam quidele secatec toratemquam.
                        
                        form
                            div(class="customSelectC standard")
                              div(class="orgSelect")
                                select(name="Countries")
                                    option(value="") Select Newsletter Language
                                    option(value="English") English
                                    option(value="Chinese") 简体中文
                                    option(value="Germain") German
                                    option(value="Japenese") 日本語
                                    option(value="Russian") Russian
                                    option(value="Spanish") Español
                                    option(value="Português") Português
                                    option(value="French") French
                            br
                            br
                            input(type="text" class="txtBox" placeholder="Email Address")
                            input(type="submit" class="submitBtn" value="Submit")
                            br 
                            br
                            
                        div(class="txt") 
                            a(href="#") Learn More
                            | &nbsp; about our newsletter.



            div(class="bgGray padTopBtm")
                div(class="fullWidth")
                        h2 Automotive Gear Products

                div(class="cardsSM_C")
                    div(class="cardsSM fourCol")

                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 
                            
                            div(class="cardHdrC" style="background-image: url(page-images/cards/sample-cardv2a.jpg);")

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardType") Driveline Additives
                                    div(class="cardHdrText") HiTEC® 349
                                    div(class="cardSubHdr") Manual Transmissions
                                    div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials.
                            
                                div(class="cardDate") May 1, 2016
                        
                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 
                            
                            div(class="cardHdrC" style="background-image: url(page-images/cards/sample-cardv2a.jpg);")

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardType") Driveline Additives
                                    div(class="cardHdrText") HiTEC® 349
                                    div(class="cardSubHdr") Manual Transmissions
                                    div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials.
                            
                                div(class="cardDate") May 1, 2016
                                
                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 
                            
                            div(class="cardHdrC" style="background-image: url(page-images/cards/sample-cardv2a.jpg);")

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardType") Driveline Additives
                                    div(class="cardHdrText") HiTEC® 349
                                    div(class="cardSubHdr") Manual Transmissions
                                    div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials.
                            
                                div(class="cardDate") May 1, 2016
                                
                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 
                            
                            div(class="cardHdrC" style="background-image: url(page-images/cards/sample-cardv2a.jpg);")

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardType") Driveline Additives
                                    div(class="cardHdrText") HiTEC® 349
                                    div(class="cardSubHdr") Manual Transmissions
                                    div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials.
                            
                                div(class="cardDate") May 1, 2016


                div(class="fullWidth")
                    a(href="#" class="viewAllBtn") View All Automotive Gear Products



            div(class="borders bgPattern padTopBtm")
                div(class="fullWidth")
                        h2 Insights & Resources  

                div(class="cardsC")
                    div(class="cards")

                        a(href="http://google.com")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") News
                                    div(class="cardHdr") Afton Chemical to exhibit and present at annual international CTI Symposium. 
                                div(class="cardDate") March 27, 2015
                            div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card1.jpg")


                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") Events
                                    div(class="cardHdr") Afton Chemical breaks ground for its facility in Singapore.
                                    div(class="cardTxt") Production of the next generation of additive solutions is set to begin in January 2016.
                            div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card2.jpg")


                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") Fact Sheet
                                    div(class="cardHdr") Automatic Transmissions
                                    div(class="cardTxt") Afton Chemical develops and manufacturers petroleum additives that enhances the performance of fuels and lubricating oils in machinery and vehicles.

                            div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card3.jpg")


                    
                
        
        
        include includes/_footer.jade