doctype 

html(lang='en')

    head
        
        title=""
        meta(name="description" content="")
        meta(name="keywords" content="")
        
        include includes/_scripts_header.jade
        
    body
    
        include includes/_mobileNav.jade
        
        include includes/_header.jade
        
        
        div(class="headerImgC" style="background-image: url(page-images/sbu-header-image/headerImg-sample.jpg)")
        
            
        
        
        
        include includes/_footer.jade