doctype 

html(lang='en')

    head
        
        title=""
        meta(name="description" content="")
        meta(name="keywords" content="")
        
        include includes/_scripts_header.jade
        
    body

        
        include includes/_mobileNav.jade
        
        include includes/_header.jade
        
        div(id="contentAreaC")
            
            div(class="headerImgC" style="background-image: url(page-images/solution-header-image/headerImg-sample.jpg)")
            
            
        div(id="twoColumnC-sidebar")
            
            
            div(id="rtCol-contentArea")
            
                div(id="breadCrumbsC")
                    div(id="breadCrumbs")
                        a(href="#") Home
                        a(href="#") Lubricant Components
                        | Dispersants & Emulsifiers
                        
                 h1(class="txtPaddingTop txtPaddingBtm")
                    | Dispersants & Emulsifiers
                    div(class="subTxt") A key player in the lubricant and fuel industry with over 90 years of customer collaboration.
                    div(id="socialC")
                        a(href="#"): span(class="icon-share")
                        a(href="#"): span(class="icon-email")
                        a(href="#"): span(class="icon-print")
     
                
                img(src="page-images/sol-sample-image.jpg" class="rtAlignImg")
                
                p Dispersants are lubricant additives that help to prevent sludge, varnish and other deposits from forming on critical surfaces. Dispersants are primarily used in gasoline engine and heavy duty diesel engine oils, which account for 75 to 80% of their total use. 

                p They're also used in natural gas engine oils, aviation piston engine oils, automatic transmission fluids and some types of gear lubricants.

                p Emulsifiers enable two immiscible fluids to form a mixture called an emulsion. They work by reducing the surface tension of water to facilitate thorough mixing. Water and oil mixtures are often used as lubricants because they are low cost, easy to dispose of, and have fire retardant properties.

                p Emulsifiers are primarily used in metalworking, rock drill and hydraulic applications. They make emulsions stable over long periods of time, offer good lubricating properties, won’t attack seals and metals, and are easy to demulsify for disposal.
                
                p Dispersants are lubricant additives that help to prevent sludge, varnish and other deposits from forming on critical surfaces. Dispersants are primarily used in gasoline engine and heavy duty diesel engine oils, which account for 75 to 80% of their total use. 

                p They're also used in natural gas engine oils, aviation piston engine oils, automatic transmission fluids and some types of gear lubricants.

                p Emulsifiers enable two immiscible fluids to form a mixture called an emulsion. They work by reducing the surface tension of water to facilitate thorough mixing. Water and oil mixtures are often used as lubricants because they are low cost, easy to dispose of, and have fire retardant properties.

                p Emulsifiers are primarily used in metalworking, rock drill and hydraulic applications. They make emulsions stable over long periods of time, offer good lubricating properties, won’t attack seals and metals, and are easy to demulsify for disposal.
            
            
            div(id="lftCol-sidebar")
                div(id="sidbarHdrC")
                    h2 Lubricant Component Solutions
                    
                div(id="sidbarNavC")
                    ul
                        li: a(href="#") Couplers
                        li: a(href="#") Detergents & Corrosion Inhibitors
                        li: a(href="#") Dispersants & Emulsifiers
                        li: a(href="#") Extreme Pressure Agents & Antiwear Agents
                        li: a(href="#") Foam Inhibitors
                        li: a(href="#") Friction Modifiers
                        li: a(href="#") Pour Point Depressants
                        li: a(href="#") Seal Swell Additives
                        li: a(href="#") Tackiness Additives
                        li: a(href="#") Thickeners & Viscosity Index Improvers 
                        
                div(id="stayInformedC")
                    div(id="hdr") Stay Informed
                    div(id="txt") Um sundae culles aboritia as aut acit volorum eumqui quam quidele secatec toratemquam.
                    input(type="text" class="txtBox" placeholder="Email Address")
                    input(type="submit" class="submitBtn" text="Submit")
                    
                
        
        
        include includes/_footer.jade