doctype 

html(lang='en')

    head
        
        title=""
        meta(name="description" content="")
        meta(name="keywords" content="")
        
        include includes/_scripts_header.jade
    
    body
    
        include includes/_mobileNav.jade
        
        include includes/_header.jade
        
        div(id="searchResultC")             
            
            div(id="searchHdr" class="padTop padBtm")
                h1 Search Results
                br
                
                | 7 Results for <strong>"Search Term"</strong>
                
            
            div(id="searchResult")
                
                a(href="#" class="searchResultItem")
                    
                    div(class="searchImgC")
                        img(src="page-images/news-images/sample-news-1.jpg")

                    div(class="searchContentC")
                        
                        h2 Result Page Title | <span class="docType">Whitepaper</span>
                        
                        div(class="newsTxt") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tempus sit amet elit eget semper. Aliquam tempor, augue nec commodo vestibulum, dui libero convallis urna, non molestie ipsum magna non velit. Suspendisse potenti. Nam vitae fin ibus augue.
                
                a(href="#" class="searchResultItem")
                    
                    div(class="searchImgC")
                        img(src="page-images/news-images/sample-news-1.jpg")

                    div(class="searchContentC")
                        
                        h2 Result Page Title | <span class="docType">Article</span>
                        
                        div(class="newsTxt") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tempus sit amet elit eget semper. Aliquam tempor, augue nec commodo vestibulum, dui libero convallis urna, non molestie ipsum magna non velit. Suspendisse potenti. Nam vitae fin ibus augue.
                        
                a(href="#" class="searchResultItem")

                    div(class="searchContentC")
                        
                        h2 Result Page Title | <span class="docType">PDS</span>
                        
                        div(class="newsTxt") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tempus sit amet elit eget semper. Aliquam tempor, augue nec commodo vestibulum, dui libero convallis urna, non molestie ipsum magna non velit. Suspendisse potenti. Nam vitae fin ibus augue.
                        
                a(href="#" class="searchResultItem")
                    

                    div(class="searchContentC")
                        
                        h2 Result Page Title
                        
                        div(class="newsTxt") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tempus sit amet elit eget semper. Aliquam tempor, augue nec commodo vestibulum, dui libero convallis urna, non molestie ipsum magna non velit. Suspendisse potenti. Nam vitae fin ibus augue.
                        
                a(href="#" class="searchResultItem")
                    
                    div(class="searchImgC")
                        img(src="page-images/news-images/sample-news-1.jpg")
                    
                    div(class="searchContentC")
                        
                        h2 Result Page Title | <span class="docType">Result Type</span>
                        
                        div(class="newsTxt") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tempus sit amet elit eget semper. Aliquam tempor, augue nec commodo vestibulum, dui libero convallis urna, non molestie ipsum magna non velit. Suspendisse potenti. Nam vitae fin ibus augue.
                        
                a(href="#" class="searchResultItem")


                    div(class="searchContentC")
                        
                        h2 Result Page Title | <span class="docType">Result Type</span>
                        
                        div(class="newsTxt") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tempus sit amet elit eget semper. Aliquam tempor, augue nec commodo vestibulum, dui libero convallis urna, non molestie ipsum magna non velit. Suspendisse potenti. Nam vitae fin ibus augue.
                        
                a(href="#" class="searchResultItem")

                    div(class="searchContentC")
                        
                        h2 Result Page Title | <span class="docType">Result Type</span>
                        
                        div(class="newsTxt") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tempus sit amet elit eget semper. Aliquam tempor, augue nec commodo vestibulum, dui libero convallis urna, non molestie ipsum magna non velit. Suspendisse potenti. Nam vitae fin ibus augue.

                        
                div(class="fullWidth2 padBtm padTop") 
                    div(class="paginationC")
                        a(href="#" class="prev")
                        a(href="#") 1
                        a(href="#") 2
                        a(href="#") 3
                        a(href="#") 4
                        a(href="#") 5
                        span(class="nextGroup") ...
                        a(href="#") 50
                        a(href="#" class="next")
                
        
        div(class="bgGray padTopBtm")
                div(class="fullWidth")
                        h2 Automotive Gear Products

                div(class="cardsSM_C")
                    div(class="cardsSM fourCol")

                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 
                            
                            div(class="cardHdrC" style="background-image: url(page-images/cards/sample-cardv2a.jpg);")

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardType") Driveline Additives
                                    div(class="cardHdrText") HiTEC速 349
                                    div(class="cardSubHdr") Manual Transmissions
                                    div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials.
                            
                                div(class="cardDate") May 1, 2016
                        
                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 
                            
                            div(class="cardHdrC" style="background-image: url(page-images/cards/sample-cardv2a.jpg);")

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardType") Driveline Additives
                                    div(class="cardHdrText") HiTEC速 349
                                    div(class="cardSubHdr") Manual Transmissions
                                    div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials.
                            
                                div(class="cardDate") May 1, 2016
                                
                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 
                            
                            div(class="cardHdrC" style="background-image: url(page-images/cards/sample-cardv2a.jpg);")

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardType") Driveline Additives
                                    div(class="cardHdrText") HiTEC速 349
                                    div(class="cardSubHdr") Manual Transmissions
                                    div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials.
                            
                                div(class="cardDate") May 1, 2016
                                
                        a(href="#")

                            div(class="cardBtnIndicator")
                                img(src="images/card-btn-indicator.png") 
                            
                            div(class="cardHdrC" style="background-image: url(page-images/cards/sample-cardv2a.jpg);")

                            div(class="cardTextAreaC")
                                div(class="cardTextArea")
                                    div(class="cardType") Driveline Additives
                                    div(class="cardHdrText") HiTEC速 349
                                    div(class="cardSubHdr") Manual Transmissions
                                    div(class="cardTxt") The only commercial vehicle SF MTF designed to be compatible with all synchroniser materials.
                            
                                div(class="cardDate") May 1, 2016


                div(class="fullWidth")
                    a(href="#" class="viewAllBtn") View All Automotive Gear Products
        
        
        div(class="borders bgPattern padTopBtm")
                div(class="fullWidth")
                        h2 Personalized Content Title

                div(class="cardsC")
                    div(class="cards")

                        a(href="http://google.com")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") News
                                    div(class="cardHdr") Afton Chemical to exhibit and present at annual international CTI Symposium. 
                                div(class="cardDate") March 27, 2015
                            
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card1.jpg")


                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") Events
                                    div(class="cardHdr") Afton Chemical breaks ground for its facility in Singapore.
                                    div(class="cardTxt") Production of the next generation of additive solutions is set to begin in January 2016.
                                    
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card2.jpg")


                        a(href="#")
                            div(class="cardBtnIndicator")
                                    img(src="images/card-btn-indicator.png")       
                            div(class="overlayC")
                                div(class="overlay")
                                    div(class="cardTitle") Fact Sheet
                                    div(class="cardHdr") Automatic Transmissions
                                    div(class="cardTxt") Afton Chemical develops and manufacturers petroleum additives that enhances the performance of fuels and lubricating oils in machinery and vehicles.
                            
                            // Hide Card Hover HTML
                            //div(class="hoverOverlayC" style="opacity: 0.0;")
                                div(class="hoverOverlay")
                                    div(class="hoverOverlayTxt")
                                        | Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.

                                div(class="cardLearnMore") Read More
                                    span(class="icon-arrow")

                            img(src="page-images/cards/sample-card3.jpg")
        
        
        include includes/_footer.jade
        