doctype 

html(lang='en')

    head
        
        title=""
        meta(name="description" content="")
        meta(name="keywords" content="")
        
        include includes/_scripts_header.jade
    
    body
    
        include includes/_cookieOverlay.jade
    
        include includes/_mobileNav.jade
        
        include includes/_header.jade
        
        div(id="sitemapC" class="fullWidth")
            
            
            div(id="sitemap-col1")
                

                h2 Solution Business Units
                ul
                    li: a(href="/SBU/EngineOilAdditives") Engine Oil Additives
                        ul
                            li: a(href="#") Olefin Copolymer (OCP) VII
                            li: a(href="#") Heavy Duty Engine Oil
                            li: a(href="#") Passenger Car
                            
                    li: a(href="/SBU/Fuels") Fuel Additives
                        ul
                            li: a(href="#") Alternative Fuels
                            li: a(href="#") Light-Duty Diesel Performance Additives
                            li: a(href="#") Light-Duty Gasoline Peformance Additives
                            li: a(href="#") Home-Heating Oil Fuels Additives
                            li: a(href="#") Octane Additives
                            li: a(href="#") Refinery and Distribution Fuel Additives
                            
                            
                    li: a(href="/SBU/IndustrialAdditives") Industrial Additives
                        ul
                            li: a(href="#") Wind Turbine
                            li: a(href="#") Gear
                            li: a(href="#") Turbine, Compressor and Circulating Fluids
                            li: a(href="#") Hydraulic
                            li: a(href="#") Grease
                            li: a(href="#") Slideway
                            li: a(href="#") Metalworking
                            
                    li: a(href="/SBU/LubricantComponents") Lubricant Components
                        ul
                            li: a(href="#") Couplers
                            li: a(href="#") Detergents and Corrosion Inhibitors
                            li: a(href="#") Dispersants and Emulsifiers
                            li: a(href="#") Extreme Pressure Agents and Anti-wear Agents
                            li: a(href="#") Foam Inhimitors
                            li: a(href="#") Friction Modifiers
                            li: a(href="#") Pour Point Depressants
                            li: a(href="#") Seal Swell Additives
                            li: a(href="#") Tackiness Additives
                            li: a(href="#") Thickneers and Viscosity Index Improvers


                    
                    li: a(href="/SBU/DrivelineAdditives") Driveline Additives
                        ul
                            li: a(href="#") Automotive Gear
                            li: a(href="#") Autmatic Transmission Fluid
                            li: a(href="#") Continuously Variable Transmission (CVT)
                            li: a(href="#") Dual Clutch Transmission (DCT)
                            li: a(href="#") Manual Transmission
                            li: a(href="#") Off-Road Additives
                            li: a(href="#") Power Steering
                                    
            
            div(id="sitemap-col2")
            
                h2 Products
                ul
                    li: a(href="/SBU/Fuels/AlternativeFuels/BioTEC-sup-®-sup-E85") BioTEC<sup>®</sup> E85
                    li: a(href="/SBU/LubricantComponents/Couplers/GA-50") GA<sup>™</sup> 50
                    li: a(href="/SBU/EngineOilAdditives/HeavyDutyEngineOil/HiTEC-sup-®-sup-12205A") HiTEC<sup>® </sup>12205A
                    li: a(href="/SBU/IndustrialAdditives/Grease/HiTEC-sup-®-sup-312G") HiTEC<sup>®</sup> 312G
                    li: a(href="/SBU/DrivelineAdditives/AutomotiveGear/HiTEC®349-Gear-Oil-Additive") HiTEC<sup>®</sup> 349
                    li: a(href="/SBU/Fuels/Diesel/HiTEC-4691") HiTEC<sup>®</sup> 4691
                    li: a(href="/SBU/IndustrialAdditives/Compressor/HiTEC-sup-®-sup-5200") HiTEC<sup>®</sup> 5200
                    li: a(href="/SBU/LubricantComponents/DetergentsCorrosionInhibitors/HiTEC-sup-®-sup-536") HiTEC<sup>®</sup> 536
                    li: a(href="/SBU/Fuels/AlternativeFuels/BioTEC-sup-®-sup-E85-(1)") BioTEC<sup>®</sup> E85X
                    li: a(href="/SBU/LubricantComponents/Couplers/GA-50-(1)") GA<sup>™</sup> 50X
                    li: a(href="/SBU/EngineOilAdditives/HeavyDutyEngineOil/HiTEC®-8744X") HiTEC<sup>® </sup>8744X
                    li: a(href="/SBU/IndustrialAdditives/Grease/HiTEC-sup-®-sup-312G-(1)") HiTEC<sup>®</sup> 312GX
                    li: a(href="/SBU/DrivelineAdditives/AutomotiveGear/HiTEC®349-Gear-Oil-Additive-(1)") HiTEC<sup>®</sup> 349X
                    li: a(href="/SBU/Fuels/Diesel/HiTEC-4691-(1)") HiTEC<sup>®</sup> 4691X
                    li: a(href="/SBU/IndustrialAdditives/Compressor/HiTEC-sup-®-sup-5200-(1)") HiTEC<sup>®</sup> 5200X
                    li: a(href="/SBU/LubricantComponents/DetergentsCorrosionInhibitors/HiTEC-sup-®-sup-536-(1)") HiTEC<sup>®</sup> 536X
                    li: a(href="/SBU/EngineOilAdditives/HeavyDutyEngineOil/HiTEC-sup-®-sup-12205A-(1)") HiTEC<sup>® </sup>12205AX
                    li: a(href="/SBU/DrivelineAdditives/AutomotiveGear/HiTEC®-385-Gear-Oil-Additive") HiTEC<sup>®</sup> 385
                    li: a(href="/SBU/EngineOilAdditives/HeavyDutyEngineOil/HiTEC®-8744X-(1)") HiTEC<sup>® </sup>8744XX
                    li: a(href="/SBU/DrivelineAdditives/AutomotiveGear/HiTEC®-385-Gear-Oil-Additive-(1)") HiTEC<sup>®</sup> 385X
                    li: a(href="/SBU/DrivelineAdditives/AutomotiveGear/Gear-Oil-Additive") HiTEC<sup>®</sup> 385: Gear Oil Additive
                    li: a(href="/SBU/DrivelineAdditives/AutomotiveGear/Gear-Oil-Additive-(2)") HiTEC<sup>®</sup> 385: Gear Oil Additive
                    li: a(href="/SBU/Fuels/RDFA/Sub/Lubricity-Improvers/HiTEC-4170") HiTEC<sup>®</sup> 4170
                    li: a(href="/SBU/IndustrialAdditives/Metalworking/Sub/Packages/PolarTech-EA700") Polartech<sup>®</sup> EA 700
                    
                h2 Offices
                ul
                    li: a(href="/Contacts/Asia-Pacific") Asia Pacific office
                    li: a(href="/Contacts/EMEAI") Europe, Middle East, Africa, India (EMEAI) office
                    li: a(href="/Contacts/Sample-region") Latin America office
                    li: a(href="/Contacts/North-America") North America office
                
            
            
            
            div(id="sitemap-col3")
                
                h2 Documents
                ul
                    li: a(href="/Insights-and-Resources/Documents/Articles-Document2") Articles Document2
                    li: a(href="/Insights-and-Resources/Documents/ATF-Product-Stewardship-Summary") ATF Product Stewardship Summary
                    li: a(href="/Insights-and-Resources/Documents/Whitepapers-Document1") Whitepapers Document1
                    li: a(href="/Insights-and-Resources/Documents/Afton-Chemical-Brochure") Corporate Brochure
                    li: a(href="/Insights-and-Resources/Documents/Articles-Document1") Forming Trends in the Automotive Industry
                    li: a(href="/Insights-and-Resources/Documents/Specification-Handbook") Specification Handbook
                    li: a(href="/Insights-and-Resources/Documents/DFA-Product-Stewardship-Summary") DFA Product Stewardship Summary
                    li:  a(href="/Insights-and-Resources/Documents/Gear-Product-Stewardship-Summary") Gear Product Stewardship Summary
                    li: a(href="/Insights-and-Resources/Documents/GFA-Product-Stewardship-Summary") GFA Product Stewardship Summary
                    li: a(href="/Insights-and-Resources/Documents/Grease-Product-Stewardship-Summary") Grease Product Stewardship Summary
                    li: a(href="/Insights-and-Resources/Documents/HDEO-Product-Stewardship-Summary") HDEO Product Stewardship Summary
                    li: a(href="/Insights-and-Resources/Documents/Industrial-Gear-Product-Stewardship-Summary") Industrial Gear Product Stewardship Summary
                    li: a(href="/Insights-and-Resources/Documents/Metalworking-Product-Stewardship-Summary") Metalworking Product Stewardship Summary
                    li: a(href="/Insights-and-Resources/Documents/Off-Road-Product-Stewardship-Summary") Off-Road Product Stewardship Summary
                    li: a(href="/Insights-and-Resources/Documents/PCMO-Product-Stewardship-Summary") PCMO Product Stewardship Summary
                

                h2 News
                ul
                    li: a(href="/NewsAndEvents/News/News") Expanded manufacturing capabilities for Asia's growing market
                    li: a(href="/NewsAndEvents/News/CustomNews") Afton Chemical Presents at SAE 2016 World Congress and Exhibition
                    
            
            div(id="sitemap-col4")


                h2 Generic Pages
                ul
                    li: a(href="/Generic/About") About
                    li: a(href="/Generic/Careers") Careers
                    li: a(href="/Generic/ASC") Application Solutions Center (ASC)
                    li: a(href="/Generic/Privacy-Statement") Privacy Statement
                    li: a(href="/Generic/Communities") Communities
                    li: a(href="/Generic/GlobalOperations") Global Operations
                    li: a(href="/Generic/History") History
                    li: a(href="/Generic/Safety") Safety
                    li: a(href="/Generic/Afton-Asia-Pacific") Afton Asia Pacific
                    li: a(href="/Generic/EA700") Polartech® EA700
                    li: a(href="/Generic/EHS") Environment, Health, Safety, Security and Stewardship (EHS<sup>3</sup>)
                    li: a(href="/Generic/GHS") Globally Harmonized System of Classification and Labeling of Chemicals (GHS)
                    li: a(href="/Generic/LSPI") In the fight against LSPI, Afton Chemical is on the front lines.
                    li: a(href="/Generic/Monoacid-Lubricity-Improvers-Product-Launch") Monoacid Lubricity Improvers
                    li: a(href="/Generic/REACH") REACH
                    li: a(href="/Generic/Off-Road-New-Product") HiTEC<sup>®</sup> 8888z - Higher and Wider
                    li: a(href="/Generic/RegulatoryAffairs") Regulatory Affairs
                    li: a(href="/Generic/PC11") &#8203;Is your PC-11 up to the task? 
                    li: a(href="/Generic/ResponsibleCare") Responsible Care<sup>®</sup>
                    li: a(href="/Generic/RiskManagement") Risk Management
                    li: a(href="/Generic/HolisticSolutionsInfographic") Holistic Solutions Infographic
                    li: a(href="http://afton-test.azurewebsites.net/templates/newsletter-signup.html") Newsletter Sign Up (no page on site)
                    li: a(href="http://afton-test.azurewebsites.net/templates/polls-surveys.html") Polls &amp; Surveys (Page and Sidebar) (no page on site)
                    li: a(href="http://afton-test.azurewebsites.net/templates/style-guide-hm.html") Style Guide Home 1
                    li: a(href="http://afton-test.azurewebsites.net/templates/style-guide-hm2.html") Style Guide Home 2
                    li: a(href="http://afton-test.azurewebsites.net/templates/style-guide-int.html") Style Guide Int
                    li: a(href="http://afton-test.azurewebsites.net/templates/style-guide-int2.html") Style Guide Int 2
                
        
        include includes/_footer.jade
        