doctype 

html(lang='en')

    head
        
        title=""
        meta(name="description" content="")
        meta(name="keywords" content="")
        
        link(rel='stylesheet', href='assets-layout/styles/normalize.min.css')
        link(rel='stylesheet', href='assets-layout/fonts/fonts.css')
        link(rel='stylesheet', href='assets-layout/styles/style-guide.min.css')
        
    body
    
        div(id="sghC")
            div(id="sgh-lftC")
                div(id="sgh-mainC")
                    div(id="sgh-hdr")
                        img(src="images/sgh-ind-metalworking.gif")
                    div(id="sgh-prodName") PDS Product Name
                    div(id="sgh-prodDesc") PDS Product Descriptor
                    img(src="page-images/style-guide/sgh-main-img2.jpg")
                    div(id="sgh-prodApplication") PDS Product Application
                    
                img(src="images/sgh-microbots.jpg" id="sgh-lftLogo")
                img(src="images/sg-logo.gif" id="sgh-rtLogo")
                    
                    
            
            div(id="sgh-rt")
                img(src="images/sgh-rt.gif")
                