doctype 

html(lang='en')

    head
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js')

        script(src='https://cdn.jsdelivr.net/jquery.columnizer/1.6.0/jquery.columnizer.js')


        script(src='assets-layout/js/custom/columnizeText.min.js')
    
    
    body
    
        div(class="twoColmnC" style="width: 1600px;")

                p In addition to providing fully-developed additive packages, Afton Chemical is a leading supplier of lubricant components.
                
                p Whether you need enhanced protection, antiwear qualities or to improve performance in a wider range of application conditions, Afton has a full and robust selection of components to meet your needs.

                p Afton works with you to ensure your lubricants have optimal chemical balances for increased protection, marketable claims and competitive product positioning, plus the full benefit of over 90 years of Afton research and expertise.

                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget vulputate erat, nec hendrerit turpis. Nullam sit amet massa in nulla mollis condimentum. Proin quam metus, tristique, sollicitudin quis arcu. In convallis pellentesque metus at porttitor.

                p Nullam sit amet massa in nulla mollis condimentum. Proin quam metus, tristique, sollicitudin quis arcu. In convallis pellentesque metus at porttitor.

                p Proin quam metus, tristique, sollicitudin quis arcu. In convallis pellentesque metus at porttitor.