@using CMS.Mvc.ViewModels.NewsAndEvents
@model NewsAndEventsPageViewModel
@{
    ViewBag.Title = string.Empty;
    Layout = "~/Views/Afton/Shared/MasterWithPersonalizationCards.cshtml";
}

<div id="newsC">
    <div id="newsHdr" class="padTop padBtm">
        @{ Html.RenderPartial("~/Views/Afton/Shared/NewsEventsAndBlog/_header.cshtml", Model); }
        @{ Html.RenderPartial("~/Views/Afton/NewsAndEvents/_selectors.cshtml", Model); }
    </div>
    @{ Html.RenderPartial("~/Views/Afton/NewsAndEvents/_dataList.cshtml", Model); }
</div>
@{ Html.RenderPartial("~/Views/Afton/Shared/NewsEventsAndBlog/_tiles.cshtml", Model); }
