@model List<CMS.Mvc.ViewModels.SelectionFilter.CheckBoxViewModel>

@for (int i = 0; i < Model.Count; i++)
{
    <label>
        <input type="checkbox" ng-model="docType[@i]" data-id="@Model[i].Value" ng-click="docTypeWatch('@Model[i].Value','@Model[i].Title',docType[@i])">
        <span class="checkboxDisplay"></span><span class="txt">@Model[i].Title</span>
    </label>
}
