@using CMS.Mvc.ViewModels.SBU
@model List<DocumentTypeViewModel>
<div class="threeColGridC">
	<div class="twoColGrid-lft">
		<div class="threeColGrid-lft dataSheets">
			@for (int i = 0; i < Model.Count; i += 3)
			{
                if (Model.ElementAt(i).Documents != null) { 
				@Html.Partial("~/Views/Afton/SBU/_documents.cshtml", Model.ElementAt(i))
            }
			}
		</div>
		<div class="threeColGrid-mid dataSheets">
			@for (int i = 1; i < Model.Count; i += 3)
            {
                if (Model.ElementAt(i).Documents != null)
                {
                    @Html.Partial("~/Views/Afton/SBU/_documents.cshtml", Model.ElementAt(i))
                }
            }
		</div>
	</div>
	<div class="threeColGrid-rt dataSheets">
		@for (int i = 2; i < Model.Count; i += 3)
        {
            if (Model.ElementAt(i).Documents != null)
            {
                @Html.Partial("~/Views/Afton/SBU/_documents.cshtml", Model.ElementAt(i))
            }
        }
	</div>
</div>
