@using CMS.Mvc.ViewModels.SBU
@model DocumentTypeViewModel
<h3>@Model.Title</h3>
<ul>
	@foreach (var document in Model.Documents)
	{
		<li><a href="#">@document.Title</a></li>
	}
</ul>
<a href="#">View More ></a>
