@using CMS.Mvc.Helpers
@using CMS.Mvc.ViewModels.Shared
@using System.Collections.Generic
@model List<FAQItemViewModel>
<ul class="accordC txtPaddingTop">
	@foreach (var item in Model)
	{
	    <li>
            <a href="#" class="accordTrigger">
                <div class="icon"></div>@item.Question
            </a>
			<div style="display: none;" class="reveal">@UtilsHelper.ToHtmlString(item.Answer)</div>
		</li>
	}
</ul>
