<ul class="accordC txtPaddingTop">
	@foreach (var item in Model)
	{
		<li>
			<div class="icon"></div><a href="#">@item.Question</a>
			<div style="display: none;" class="reveal">@item.Answer</div>
		</li>
	}
</ul>
