<div id="sbuLandingHdrC">
	<div id="sbuLandingHdr">
		<div class="hdrTxtBoxC">
			<div class="hdrTxtBox">
				<div class="sbuHeadline">Enhanced protection, antiwear qualities & improved performance under nearly any conditions</div>
				<div class="sbuTxt">Afton Chemical has a full and robust selection of lubricant components to meet your needs.</div>
			</div>
		</div>
		<div style="display:none;" class="sbuImgBoxC2"><img src="@Url.Content(Model.HeroImage)"></div>
	</div>
	<div class="sbuImgBoxC"><img src="@Url.Content(Model.HeroImage)"></div>
</div>
