<!-- needs to be merged with _primaryTiles and extracted to shared folder -->
<div class="cardsC">
	<div class="cards">
		@foreach (var item in Model)
		{
			<a href="#">
				<div class="cardBtnIndicator"><img src="@Url.Content("~/images/card-btn-indicator.png")"></div>
				<div class="overlayC">
					<div class="overlay">
						<div class="cardTitle">Solution</div>
						<div class="cardHdr">@item.Title</div>
						<div class="cardTxt">@item.Description</div>
					</div>
				</div>
				<div style="opacity: 0.0;" class="hoverOverlayC">
					<div class="hoverOverlay">
						<div class="hoverOverlayTxt">Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.</div>
					</div>
					<div class="cardLearnMore">Read More<span class="icon-arrow"></span></div>
				</div><img src="@Url.Content(item.HomeImage)">
			</a>
		}
	</div>
</div>