@using CMS.Mvc.Helpers
@using CMS.Mvc.ViewModels.FAQ
@model FAQPageViewModel

@foreach (var topic in Model.Topics)
{
    <div id="@topic.Id-FAQs" class="faqGroup">
        <h2>@topic.Name</h2>
        <ul class="accordC txtPaddingTop">
            @foreach (var faqItem in topic.Items)
            {
                <li>
                    <a href="" class="accordTrigger">
                        <div class="icon"></div> @faqItem.Question
                    </a>
                    <div style="display: none;" class="reveal">@UtilsHelper.ToHtmlString(faqItem.Answer)</div>
                </li>
            }
        </ul>
    </div>
}
