<h2>@Model.Name</h2>
<ul class="accordC txtPaddingTop">
    @foreach (var faqItem in Model.Items)
    {
        <li>
            <div class="icon"></div><a href="#">@faqItem.Question</a>
            <div style="display: none;" class="reveal">@Html.Raw(faqItem.Answer)</div>
        </li>
    }
</ul>