@model CMS.Mvc.ViewModels.Shared.BreadCrumbViewModel
<div id="breadCrumbsC">
    <div id="breadCrumbs">
        @for (var i = 0; i < Model.BreadcrumbLinkItems.Count - 1; i++)
        {
            <a href="@Url.Content("~/" + @Model.BreadcrumbLinkItems[i].Reference)">@Model.BreadcrumbLinkItems[i].Title</a>
        }
        @Model.BreadcrumbLinkItems[Model.BreadcrumbLinkItems.Count - 1].Title
    </div>
</div>
