<div class="hdr">Stay Informed</div>
<div class="txt">Um sundae culles aboritia as aut acit volorum eumqui quam quidele secatec toratemquam.</div>
<input type="text" placeholder="Email Address" class="txtBox">
<input type="submit" value="Submit" class="submitBtn">