<!DOCTYPE html>
<html ng-app="AftonApp">
<head>
    <title>Afton</title>
</head>
<body>

    <header>
        

    </header>
    <main>

        @RenderBody()
    </main>
    <footer></footer>
</body>






</html>