@{
    //ViewBag.Title = "MasteWithPersonalizationCards";
    Layout = "~/Views/Afton/Shared/Master.cshtml";
}
<div id="printArea"></div>
<div id="contentAreaC">
    @RenderBody()
    @{ Html.RenderAction("GetPeronalizedCards", "Personalization", new { sectionTitle = ViewBag.PersonalizationSectionTitle }); }
    
</div>

