@using CMS.Mvc.ViewModels.Contact
@model ContactPageViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Afton/Shared/Master.cshtml";
}

<div id="contentAreaC">
    <div id="twoColumnC-sidebar2" class="txtPaddingTop padBtm">
        <div id="lftCol-contentArea">
            @{ Html.RenderPartial("~/Views/Afton/Contact/_form.cshtml", Model); }
        </div>
        <div id="rtCol-sidebar">
            @{ Html.RenderPartial("~/Views/Afton/Contact/_regions.cshtml", Model); }
        </div>
    </div>
    @{ Html.RenderPartial("~/Views/Afton/Shared/_emergencyResponse.cshtml", Model.EmergencyResponse); }
</div>